{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
  <div style="font-size: 22px; color: #00a922;"><b>Alerta para Criação da Dieta Especial</b></div>
  <br/>
  <div>Comunicamos que o aluno {{ nome_aluno }} Código EOL {{ codigo_eol_aluno }} transferido para unidade educacional {{ nome_escola }} possuia Dieta Especial autorizada na U.E. Origem.</div>
  <br/>
  <p>Anexo a Dieta Especial utilizada na Escola de Origem.</p>
  <div style="color: red">Entre em contato com o responsável do aluno para solicitar informações sobre a dieta especial. Caso seja necessário solicite laudo (médico, nutricionista ou fonoaudiólogo) com validade inferior a 12 meses.</div>
  <br/>
  <div>Link de acesso para criação da nova Dieta Especial ao SIGPAE.</div>
  <div><a href="https://hom-sigpae.sme.prefeitura.sp.gov.br/escola/dieta-especial">https://hom-sigpae.sme.prefeitura.sp.gov.br/escola/dieta-especial</a></div>
{% endblock %}
