{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
  <div style="font-size: 22px; color: #00a922;"><b>Cancelamento Automático da Dieta Especial</b></div>
  <br/>
  <div>O aluno {{ nome_aluno }} Código EOL {{ codigo_eol_aluno }} da Dieta Especial Número {{ dieta_numero }} da Unidade Educacional {{ nome_escola }} teve sua Dieta Cancelada {{ justificativa_cancelamento }}.</div>
  <br/>
  <div>Data do Cancelamento: {{ hoje }}.</div>
  <br/>
  <p>Para maiores detalhes acesse o sistema e consulte a solicitação.</p>
{% endblock %}
