{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
<br/>
<h2 style="color: #45855A;">Questionamento da CODAE</h2>
<br/>
<p>
  Há um questionamento da CODAE referente a reclamação <b  style="color: #45855A;" class='titulo'>#{{ reclamacao.id_externo }} - {{ produto.nome }} - {{ marca.nome }}</b>
  em {{ criado_em }}
</p>
<br/>
<p>
  Para mais informações, <a href="{{ link_questionamento }}" style="color: #45855A;">acesse o sistema</a> e consulte o questionamento
</p>
<br/>
{% endblock %}
