{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
  <p style="text-align: center; color: #0B8000; font-size: 20px; margin-left: 10%; margin-right: 10%; line-height: 1;">
    <strong>
      ALERTA DE ATENDIMENTO DE DIETA ESPECIAL CEI-POLO/RECREIO NAS FÉRIAS
    </strong>
  </p>
  <p style="text-align: left; color: #000000">
    <strong>
      Comunicamos que o aluno {{nome_aluno}} Código EOL {{codigo_eol_aluno}}
      necessita de atendimento de Dieta Especial durante o período de {{data_inicio}}
      a {{data_termino}} em que permanecerá no Polo/Recreio nas férias conforme,
      o protocolo de Dieta Especial da Escola de Origem em anexo.
    </strong>
  </p>
{% endblock %}
