{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
  <p style="text-align: left;">
    A solicitação da Dieta Especial do aluno(a) <strong><span style="color: #0C6B45">{{ cod_eol_aluno }} {{ nome_aluno }} </span></strong>
    matriculado(a) na Unidade Educacional: <strong>{{ escola }}, {{ lote }}</strong> foi <strong>{{ acao }}</strong> pela
    CODAE em {{ data_log }}.
  </p>
  <br/><p>Para mais informações, <a href="{{ url }}" style="color: #198459;">acesse o sistema</a> e consulte a solicitação.</p>
  <br/>
{% endblock %}
