{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
  <div>A Solicitação de Alteração <b>Nº {{ solicitacao.numero_solicitacao }}</b> foi enviada pelo</div>
  <div>Distribuidor {{ solicitacao.requisicao.distribuidor.nome }}, em {{ solicitacao.criado_em }}.</div>

  <br/><br/>

  <a href="{{ url }}">Clique aqui para acessar Detalhes da Solicitação</a>

  <br/><br/><br/>

  <div style="color:#0C6B45;"><b>Em caso de dúvidas, procure pelo Atendimento/CODAE.</b></div>

  <br/>

  <div>Contamos com <b>você</b> para que o abastecimento da </div>
  <div><b>Rede Municipal de Ensino de São Paulo</b> seja sempre um sucesso! </div>
{% endblock %}
