 <p>
  Um <strong>Insucesso na Entrega</strong> ocorreu pelo motivo {{ insucesso.justificativa }}
 </p>
 <p>
  Nesse caso, prepare-se para uma nova tentativa de Entrega.
 </p>
 <p>
    Após o Recebimento acesse no SIGPAE a página de "Entregas" e registre a conferência da<strong> Guia de Remessa</strong>. A
   ausência desse registro provoca várias dificuldades no processo de abastecimento da Rede Municipal de Ensino.
 </p>
 <p>
  Contamos com VOCÊ para que o abastecimento da Rede Municipal de Ensino seja sempre um sucesso!
 </p>
 <p>
  Em caso de dúvidas, procure pelo Atendimento/CODAE.
 </p>
