{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
  <div>Caros,</div>
  <br/>
  <div>Sua reclamação no produto {{ reclamacao.homologacao_produto.produto.nome }} foi respondida pela CODAE.</div>
  <br/>
  <p><b>Reclamação:</b></p>
  <div>{{ reclamacao.reclamacao | safe }}</div>
  <br/>
  <p><b>Resposta da CODAE:</b></p>
  <div>{{ log_resposta.justificativa | safe }}</div>
  <div>Atenciosamente,</div>
  <div>Coordenadoria de Alimentação Escolar - CODAE.</div>
{% endblock %}
