.codeclimate.yml
CODEOFCONDUCT.md
CONTRIBUTING.md
CONTRIBUTORS.txt
COPYING
docker-compose-dev.yml
docker-compose.yml
Dockerfile
Dockerfile2
.dockerignore
docs
.editorconfig
env.sample
.git
.gitattributes
.github
.gitignore
Jenkinsfile
Jenkinsfile.new
LICENSE
README-ABASTECIMENTO.md
README.md
relatorio_base.html
.travis.yml
