POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DEFAULT_FROM_EMAIL=XXXXX
EMAIL_HOST=XXXXX
EMAIL_PORT=XXX
EMAIL_HOST_USER=XXXXX
EMAIL_HOST_PASSWORD=XXXXX
EMAIL_USE_TLS=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_API_URL=/api
#para uso compartilhado entre django e docker postgres
POSTGRES_DB=terceirizadas
POSTGRES_USER=XXXXX
POSTGRES_PASSWORD=XXXXXX
