POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=terceirizadas
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminadmin

DJANGO_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.local
REDIS_URL=redis://10.49.20.11:6379/1
DJANGO_ALLOWED_HOSTS=backend,localhost,127.0.0.1
DJANGO_ADMIN_URL=admin/
ENABLE_SECURITY=false
CORS_ORIGIN_WHITELIST=backend,localhost,127.0.0.1
DJANGO_EOL_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DJANGO_EOL_API_URL=https://hom-smecieduapi.sme.prefeitura.sp.gov.br/terceirizadas
