POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=terceirizadas
POSTGRES_USER=
POSTGRES_PASSWORD=

DJANGO_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.local
REDIS_URL=xxxxxxxxxxxxx
DJANGO_ALLOWED_HOSTS=backend,localhost,127.0.0.1
DJANGO_ADMIN_URL=admin/
ENABLE_SECURITY=false
CORS_ORIGIN_WHITELIST=backend,localhost,127.0.0.1
DJANGO_EOL_API_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DJANGO_EOL_API_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# INTEGRAÇÃO CORESSO
DJANGO_AUTENTICA_CORESSO_API_TOKEN=xxxxxxxxxxxx
DJANGO_AUTENTICA_CORESSO_API_URL=xxxxxxxxxxxx
SENHA_PROVISORIA=xxxxxxxxxxxx

PIP_NO_BINARY=:psycopg2:

REACT_APP_URL=xxxxxxxxxxxx
DJANGO_READ_DOT_ENV_FILE=false

REDIS_URL=xxxxxxxxxxxx
