DJANGO_READ_DOT_ENV_FILE=False
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=terceirizadas
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
EMAIL_USE_TLS=True
EMAIL_HOST=smtp-mail.outlook.com
EMAIL_PORT=587
EMAIL_HOST_USER=your@email.com.br
EMAIL_HOST_PASSWORD=pass
DEFAULT_FROM_EMAIL=your@email.com.br
DEFAULT_PASSWORD=pass
