[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Werkzeug='==0.15.3'  # https://github.com/pallets/werkzeug
ipdb='==0.11'  # https://github.com/gotcha/ipdb
Sphinx='==1.8.4'  # https://github.com/sphinx-doc/sphinx
pandas='==0.25.0' # https://github.com/pandas-dev/pandas/
numpy='==1.17.0' # https://github.com/numpy/numpy/
# Testing
# ------------------------------------------------------------------------------
mypy='==0.730'  # https://github.com/python/mypy
pytest='==4.4.0'  # https://github.com/pytest-dev/pytest
freezegun='==0.3.11'    # https://pypi.org/project/freezegun/
pytest-watch='==4.2.0'  # https://github.com/joeyespo/pytest-watch
model_mommy='==1.6.0'   # https://github.com/berinhard/model_mommy/
Faker='==1.0.7'         # https://github.com/joke2k/faker
pytest-cov='==2.7.1'    # https://pypi.org/project/pytest-cov/
pytest-xdist='==1.29.0'
pytest-testmon='==0.9.19' # https://testmon.org/
# Code quality
# ------------------------------------------------------------------------------
flake8='==3.7.5'  # https://github.com/PyCQA/flake8
flake8-import-order='==0.18.1' # https://github.com/PyCQA/flake8-import-order
flake8-blind-except='==0.1.1'  # https://github.com/elijahandrews/flake8-blind-except
flake8-bugbear='==19.8.0'      # https://github.com/PyCQA/flake8-bugbear
flake8-django='==0.0.4'        # https://github.com/rocioar/flake8-django
flake8-debugger='==3.1.0'      # https://github.com/JBKahn/flake8-debugger
flake8-broken-line='==0.1.1'   # https://github.com/sobolevn/flake8-broken-line
flake8-print='==3.1.0'         # https://pypi.org/project/flake8print/
flake8-eradicate='==0.2.1'     # https://github.com/sobolevn/flake8-eradicate
flake8-quotes='==2.1.0'        # https://github.com/zheller/flake8-quotes
flake8-string-format='==0.2.3' # https://github.com/xZise/flake8-string-format
flake8-mutable='==1.2.0'       # https://github.com/ebeweber/flake8-mutable
flake8-docstrings='==1.4.0'    # https://github.com/PyCQA/flake8-docstrings
coverage='==4.5.2'             # https://github.com/nedbat/coveragepy
django-stubs='==1.2.0'         # https://github.com/typeddjango/django-stubs
bandit='==1.6.2'               # https://github.com/PyCQA/bandit
django-debug-toolbar='==1.11'  # https://github.com/jazzband/django-debug-toolbar
django-extensions='==2.2.3'    # https://github.com/django-extensions/django-extensions
django-coverage-plugin='==1.6.0'  # https://github.com/nedbat/django_coverage_plugin
pytest-django='==3.4.7'  # https://github.com/pytest-dev/pytest-django
flower = "==0.9.3"
isort = "==4.3.21"
flake8-isort = "==2.8.0"
notebook = "*"

[packages]
# The psycopg2-binary package is meant for beginners to start playing with
# Python and PostgreSQL without the need to meet the build requirements.
# If you are the maintainer of a publish package depending on psycopg2
# you shouldn’t use ‘psycopg2-binary’ as a module dependency.
# For production use you are advised to use the source distribution.
# Ensure no binary package -> export PIP_NO_BINARY=:psycopg2:
psycopg2='==2.8.4'  # https://github.com/psycopg/psycopg2
celery = "==4.3.0"   # http://www.celeryproject.org
pytz= '==2018.9'  # https://github.com/stub42/pytz
python-slugify= '==2.0.1'  # https://github.com/un33k/python-slugify
Pillow= '==6.2.0'  # https://github.com/python-pillow/Pillow
argon2-cffi= '==19.1.0'  # https://github.com/hynek/argon2_cffi
redis= '==3.2.0'  # https://github.com/antirez/redis
django-xworkflows='==0.12.3' # https://github.com/rbarrois/django_xworkflows
drf_base64='==2.0' # https://pypi.org/project/drf_base64/
# Django
# ------------------------------------------------------------------------------
django='==2.2.13'          # https://www.djangoproject.com/
django-environ='==0.4.5'  # https://github.com/joke2k/django-environ
django-model-utils='==3.1.2'  # https://github.com/jazzband/django-model-utils
django-redis='==4.10.0'  # https://github.com/niwinz/django-redis
django-des='==2.4.1' # https://github.com/jamiecounsell/django-des
django-cors-headers='==3.0.2'   # https://pypi.org/project/django-cors-headers/
django-sequences='==2.5'  # https://pypi.org/project/django-sequences/
# Django REST Framework
# ------------------------------------------------------------------------------
djangorestframework='==3.9.1'  # https://github.com/encode/django-rest-framework
coreapi='==2.3.3'  # https://github.com/core-api/python-client
djangorestframework-jwt='==1.11.0' # https://getblimp.github.io/django-rest-framework-jwt/
workalendar='==4.3.1' # https://github.com/peopledoc/workalendar
django-rest-swagger='==2.2.0' # https://github.com/marcgibbons/django-rest-swagger
djangorestframework-xml = "==2.0.0"
django-simple-email-confirmation='==0.6' # https://github.com/mfogel/django-simple-email-confirmation/
# Produção
gunicorn='==19.9.0'  # https://github.com/benoitc/gunicorn
tornado='==6.0.3'    # http://www.tornadoweb.org/en/stable/
sentry-sdk = "==0.10.2"
django-prometheus = "==1.1.0"
# Relatórios
weasyprint = "==50"
django-sass-processor = "==0.8"
django-compressor = "==2.4"
libsass = "==0.19.4"
django-crispy-forms = "*"
django-weasyprint = "*"
django-filter = "*"
importlib-metadata = "==1.7.0"
text-unidecode = "*"
attrs = "==19.1.0"
xlrd = "*"

[requires]
python_version = "3.6"
