<p><b>Alterações realizadas</b></p>
{% for campo, alteracoes in mudancas %}
  {% if campo == 'informacoes_nutricionais' %}
    <p><b>Campo: </b>Informações Nutricionais</p>
    {% for adicao in alteracoes.adicoes %}
      <p>Adicionado {{adicao.informacao_nutricional.nome}}</p>
      <ul>
        <li>Quantidade por porção: {{adicao.quantidade_porcao}}</li>
        <li>% valor diário: {{adicao.valor_diario}}</li>
      </ul>
    {% endfor %}
    {% for modificacao in alteracoes.modificacoes %}
      <p>Alterado {{modificacao.informacao_nutricional.nome}} - {{modificacao.valor}}</p>
      <ul>
        <li>De: {{modificacao.de}}</li>
        <li>Para: {{modificacao.para}}</li>
      </ul>
    {% endfor %}

  {% elif campo == 'protocolos' or campo == 'imagens' %}
    <p><b>Campo: </b>{{campo|title}}</p>
    {% for adicao in alteracoes.adicoes %}
      <p>Adicionado {{adicao.nome}}</p>
    {% endfor %}
    {% for exclusao in alteracoes.exclusoes %}
      <p>Excluído {{exclusao.nome}}</p>
    {% endfor %}

  {% elif campo == 'tem_aditivos_alergenicos' or campo == 'eh_para_alunos_com_dieta' %}
    <p><b>Campo: </b>{{alteracoes.nome_campo}}</p>
    <ul>
      <li>De: {{alteracoes.de|yesno:"Sim,Não"}}</li>
      <li>Para: {{alteracoes.para|yesno:"Sim,Não"}}</li>
    </ul>

  {% else %}
    <p><b>Campo: </b>{{alteracoes.nome_campo}}</p>
    <ul>
      <li>De: {{alteracoes.de}}</li>
      <li>Para: {{alteracoes.para}}</li>
    </ul>
  {% endif %}

{% endfor %}
