@import "variaveis";

header {
  padding: 15px 30px;
  background-color: $cinza-claro;

  #container-logo,
  #container-filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & #container-filtros {
    margin-top: 20px;
    text-transform: uppercase;
    background-color: $branco;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;

    & span {
      font-size: 12px;
    }
  }
}

.logo-sme,
.logo-sme > img {
  width: 145px;
  height: 53px;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

* {
  font-size: 14px;
}
