@import "./variaveis";
.table-dieta-especial {
  border-collapse: collapse;
  width: 100%;
  thead, tbody, tr {
    width: 100%;
  }
  thead {
    color: $branco;
    background-color: $cinza;
  }
  th {
    padding: 16px;
    width: 50%;
  }
  td {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid $cinza-escuro;
    border-bottom: 1px solid $cinza-escuro;
  }
  thead{
    th:nth-child(1) {
      width: 40%;
    }
    th:nth-child(2) {
      width: 20%;
    }
    th:nth-child(3) {
      width: 40%;
    }
  }
}

.tabela-dados-solicitacao {
  margin-top: 20px;
  border: 2px solid $cinza;
  box-sizing: border-box;
  border-radius: 4px;

  table {
    background: $branco;
    width: 100%;

    .w-20 {
      width: 20%;
    }
    .w-40 {
      width: 40%;
    }

    th {
      color: $cinza;
      font-weight: 400;
      padding: 16px 16px 0px 16px;
    }
    td {
      background-color: $branco;
      color: $cinza-escuro;
      font-weight: 600;
      padding: 0px 16px 16px 16px;
    }
  }
}

.protocolo-dieta-informacoes-adicionais {
  table {
    border-collapse: collapse;
  }
  td {
    padding: 0.5em;
    border: 1px solid $preto;
  }
}

.campo-usuario{
  padding-top: 16px;
}

.sublinhado{
  text-decoration: underline;
}

.rodape {
  font-size: 0.8em;
}
