@import "variaveis";

.row-quantitativo-status {
  display: flex;
  margin-bottom: 1em;
}
.row-line {
  border-bottom: 1px solid $cinza-meio-claro;
  margin-bottom: 1em;
}
.justificativa {
  margin-bottom: -1em;
}
.status-flex-container {
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.5em;
  width: 33%;
}
.status-flex-container-justificativa {
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.5em;
}

.row-header {
  background-color: $cinza-quase-claro;
}

.row-inner {
  page-break-before: avoid;
}

.row-inner-header {
  background-color: $cinza-claro;
}

.tabela-filtro {
  margin-top: 2em;
}
