{% include 'relatorio_base.html' %} {% load static %} {% load index %} {% load sass_tags %}

<html>
<header class="header">
  <section class="titulo-e-logo flex-between">
    <img src="{% static 'images/LOGO_FUNDO_CLARO.png' %}" alt="" />
    <h1 class="titulo">Secretaria Municipal de Educação - Coordenadoria de Alimentação Escolar</h1>
    <span class="span-pagina">Página<br/><span class="page-number"></span></span>
  </section>
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="subtitulo">
        RELATÓRIO DE FISCALIZAÇÃO DO CONTRATO DE PRESTAÇÃO DE SERVIÇO TERCEIRIZADO DE ALIMENTAÇÃO ESCOLAR
      </h2>
    </div>
  </div>
  <table class="tabela-cabecalho tabela-arredondada">
    <tr>
      <td><b>{{ formulario_supervisao.escola.nome }}<b/></td>
      <td><b>DRE {{ formulario_supervisao.escola.diretoria_regional.nome }}</b></td>
    </tr>
    <tr>
      <td><b>Referência:</b> {{ edital }}</td>
      <td><b>Lote:</b> {{ formulario_supervisao.escola.lote.nome }}</td>
    </tr>
    <tr>
      <td><b>Contratada:</b> {{ formulario_supervisao.escola.lote.terceirizada.razao_social }}</td>
      <td><b>Data da visita:</b> {{ formulario_supervisao.formulario_base.data|date:'d/m/Y' }}</td>
    </tr>
    <tr>
      <td><b>Nutricionista Responsável:</b> {{  formulario_supervisao.formulario_base.usuario.nome }}</td>
      <td><b>Nutricionista RT da Contratada:</b> {% firstof formulario_supervisao.nome_nutricionista_empresa "-" %}</td>
    </tr>
  </table>
</header>
</html>
