{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}

<html>
<body>
<header class="header">
		<section class="titulo-e-logo flex-between">
      <img src="{% static 'images/LOGO_FUNDO_CLARO.png' %}" alt="" />
			<h1 class="titulo">SIGPAE - Sistema de Gestão do Programa de Alimentação Escolar</h1>
      <div class="paginacao">
        <p>Página</p>
        <p class="paginador"></p>
      </div>
    </section>
    <div class="info mt-2 border border-dark">
			<div class="row">
				<div class="col pt-2 pb-2 grow-2"> Nº do Cronograma de Entrega: </div>
				<div class="col pt-2 pb-2 grow-2"> Nº do Contrato: </div>
        <div class="col pt-2 pb-2 grow-2"> Nº do Processo SEI: </div>
			</div>
			<div class="row green-important-text">
				<div class="col pb-2 grow-2"> {{cronograma.numero}} </div>
				<div class="col pb-2 grow-2"> {{contrato.numero}} </div>
        <div class="col pb-2 grow-2"> {{contrato.processo}} </div>
			</div>
		</div>

    <section class="flex pt-3 pb-2">
      <div class="empresa">
        <b>Empresa: </b> {{empresa.nome_fantasia}}
      </div>

      <div class="dados-empresa">
        <b>CNPJ: </b> {{empresa.cnpj}}
      </div>
    </section>

    <section class="flex">
      <div class="dados-empresa">
        <b>Responsável:</b> {{empresa.responsavel_nome}}
      </div>
      <div class="dados-empresa"> 
        <b>Telefone:</b> {{empresa.responsavel_telefone}}
      </div>
      <div class="dados-empresa"> 
        <b>E-mail:</b> {{empresa.responsavel_email}}
      </div>
    </section>
	</header>
</body>
</html>
