{% load index %}

{% block cabecalho_solicitacao_partindo_escola %}
  <hr style="color: #EEEEEE; opacity: 0.3">
  <h5 style="text-align: center">Relatório SIGPAE - {{ solicitacao.DESCRICAO }}</h5>
  <div class="row id-pedido">
    <div class="col-3">
      <div class="retangulo-id">
        # {{ solicitacao.id_externo }} <br/> <span>Nº DA SOLICITAÇÃO</span>
      </div>
    </div>
    <div class="col-6">
      <div>Escola solicitante:</div>
      <div><strong>{{ solicitacao.escola.nome }}</strong></div>
    </div>
    <div class="col-3">
      <div>Código EOL:</div>
      <div><strong>{{ solicitacao.escola.codigo_eol }}</strong></div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <div>DRE:</div>
      <div><strong>{{ solicitacao.escola.diretoria_regional.nome }}</strong></div>
    </div>
    <div class="col-3">
      <div>Lote:</div>
      <div><strong>{{ escola.lote.nome|retorna_lote }}</strong></div>
    </div>
    <div class="col-3">
      <div>Tipo de gestão:</div>
      <div><strong>{{ solicitacao.escola.tipo_gestao.nome }}</strong></div>
    </div>
    <div class="col-3">
      <div>Empresa:</div>
      <div><strong>{{ solicitacao.rastro_terceirizada.nome_fantasia }}</strong></div>
    </div>
  </div>
  {% if solicitacao.tipo_solicitacao != 'COMUM'%}
  <div class="row id-pedido">
    {% if solicitacao.tipo_solicitacao == 'ALTERACAO_UE'%}
      <div class="info w-50" style="padding-left: 0">
        <div>Dieta Especial de Origem</div>
          <div>{{ escola_origem.nome }}</div>
      </div>
    {%endif%}
  </div>
  {% endif%}
   <hr style="color: #EEEEEE; opacity: 0.3">
{% endblock %}
