{% load index %}
{% block alteracao_alimentacao_normal %}
  <tr>
    <td colspan="6">
      <div class="row mt-2 mb-2">
        <div class="col-2">ID da Solicitação:</div>
        <div class="col-3">Local do Passeio:</div>
        <div class="col-3">Evento/Passeio:</div>
        <div class="col-2">No Total de Kits:</div>
        <div class="col-2">Data {{solicitacao.label_data}}:</div>
      </div>
      <div class="row my-2">
        <div class="col-2"><b># {{solicitacao.id_externo}}</b></div>
        <div class="col-3"><b>{{solicitacao.local_passeio}}</b></div>
        <div class="col-3"><b>{{ solicitacao.evento|default:"- -" }}</b></div>
        <div class="col-2"><b>{{solicitacao.total_kits}}</b></div>
        <div class="col-2"><b>{{solicitacao.data_log}}</b></div>
      </div>
    </td>
  </tr>
  {% if solicitacao.solicitacao_cei %}
    <tr>
      <td colspan="6">
        <div class="row mt-2 mb-2 mx-2">
          <div class="col-12 mb-2 pr-5">
            <p class="detalhes-cei">
              Alunos CEI
            </p>
          </div>
        </div>
        <div class="row mt-2 mb-2 mx-2">
          <div class="col-12 mb-2 pl-5 pr-5">
            Número de alunos: <b>{{solicitacao.solicitacao_cei.total_alunos}}</b>
          </div>
        </div>
        <div class="row mt-2 mb-2 mx-2">
          <div class="col-6 mb-2 pl-5 pr-5">
            Tempo previsto de passeio: <b>{{solicitacao.solicitacao_cei.tempo_passeio}}</b>
          </div>
          <div class="col-6 mb-2 pl-5 pr-5">
            Opção desejada: <b>{{solicitacao.solicitacao_cei.kits}}</b>
          </div>
        </div>
        <div class="row mt-2 mb-2 mx-2">
          <div class="col-12 mb-2 pl-5 pr-5">
            <table>
              <thead>
                <tr>
                  <th>Faixa Etária</th>
                  <th class="text-center">Alunos Matriculados	</th>
                  <th class="text-center">Quantidade</th>
                </tr>
              </thead>
              <tbody>
                {% if solicitacao.solicitacao_cei.alunos_cei %}
                  {% for faixa in solicitacao.solicitacao_cei.alunos_cei %}
                  <tr>
                    <td>{{faixa.faixa_etaria}}</td>
                    {% if faixa.matriculados_quando_criado %}
                    <td class="text-center">{{faixa.matriculados_quando_criado}}</td>
                    {% else %}
                    <td class="text-center">Não preenchido</td>
                    {% endif %}
                    <td class="text-center">{{faixa.quantidade}}</td>
                  </tr>
                  {% endfor %}
                {% endif %}
                <tr class="style-total-table">
                  <td>Total</td>
                  <td class="text-center">{{solicitacao.solicitacao_cei.total_matriculados}}</td>
                  <td class="text-center">{{solicitacao.solicitacao_cei.total_alunos}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
  {% endif %}
  {% if solicitacao.solicitacao_emei %}
    <tr>
      <td colspan="6">
        <div class="row mt-2 mb-2 mx-2">
          <div class="col-12 mb-2 pr-5">
            <p class="detalhes-cei">
              Alunos EMEI
            </p>
          </div>
        </div>
        <div class="row mt-2 mb-2 mx-2">
          <div class="col-12 mb-2 pl-5 pr-5">
            Número de alunos: <b>{{solicitacao.solicitacao_emei.quantidade_alunos}}</b>
          </div>
        </div>
        <div class="row mt-2 mb-2 mx-2">
          <div class="col-6 mb-2 pl-5 pr-5">
            Tempo previsto de passeio: <b>{{solicitacao.solicitacao_emei.tempo_passeio}}</b>
          </div>
          <div class="col-6 mb-2 pl-5 pr-5">
            Opção desejada: <b>{{solicitacao.solicitacao_emei.kits}}</b>
          </div>
        </div>
        <div class="row mt-2 mb-2 mx-2">
          <div class="col-12 mb-2 pl-5 pr-5">
            <table>
              <thead>
                <tr>
                  <th class="text-center">Alunos Matriculados: {{solicitacao.solicitacao_emei.matriculados_quando_criado}}</th>
                  <th class="text-center">Quantidade: {{solicitacao.solicitacao_emei.quantidade_alunos}}</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </td>
    </tr>
  {% endif %}
{% endblock %}
