{% load index %}
{% block alteracao_alimentacao_normal %}
  <tr>
    <td colspan="6">
      <div class="row mt-2 mb-2 mx-2">
        <div class="col-3">ID da Solicitação:</div>
        <div class="col-3">Local do Passeio:</div>
        <div class="col-3">No Total de Kits:</div>
        <div class="col-3">Data {{solicitacao.label_data}}:</div>
      </div>
      <div class="row my-2 mx-2">
        <div class="col-3"><b># {{solicitacao.id_externo}}</b></div>
        <div class="col-3"><b>{{solicitacao.local_passeio}}</b></div>
        <div class="col-3"><b>{{solicitacao.total_kits}}</b></div>
        <div class="col-3"><b>{{solicitacao.data_log}}</b></div>
      </div>
      <div class="row mt-4 mb-2 mx-2">
        <div class="col-12">Data do Evento:</div>
        <div class="col-12"><b>{{solicitacao.data_evento}}</b></div>
      </div>
    </td>
  </tr>
  {% for idx in solicitacao.escolas_quantidades|str_qtd_paginas_tabela|make_list %}
    <tr>
      <td colspan="6">
        <div class="row my-2 mx-2">
          <div class="col-12">
            <table>
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Unidade Escola</th>
                  <th class="text-center">Quantidade</th>
                  <th class="text-center">Tempo previsto de passeio	</th>
                  <th class="text-center">Opção desejada</th>
                  <th class="text-center">Total Kits</th>
                </tr>
              </thead>
              <tbody>
                {% if solicitacao.escolas_quantidades %}
                  {% for escola_quantidade in solicitacao.escolas_quantidades|smart_slice:idx %}
                  <tr>
                    <td>{{escola_quantidade.escola.codigo_eol}}</td>
                    <td>{{escola_quantidade.escola.nome}}</td>
                    <td class="text-center">{{escola_quantidade.quantidade_alunos}}</td>
                    <td class="text-center">{{escola_quantidade.get_tempo_passeio_display}}</td>
                    <td class="text-center">{{escola_quantidade.kits.all|concatena_str}}</td>
                    <td class="text-center">{{escola_quantidade.total_kit_lanche}}</td>
                  </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
