{% include 'relatorio_base.html' %} {% load static %} {% load sass_tags %}

<html>
  <head>
    <link
      rel="stylesheet"
      href="{% sass_src 'css/cabecalho_relatorio_controle_frequencia.scss' %}"
      type="text/css"
    />
    {%block styles %} {%endblock %}
  </head>
  <body>
    <header>
      <div id="container-logo">
        <figure class="logo-sme">
          <img
            src="{% static 'images/LOGO_FUNDO_CLARO.png' %}"
            alt="logo-sme"
          />
        </figure>
        <h1>SIGPAE - CONTROLE DE FREQUÊNCIA DE ALUNOS</h1>
      </div>
      <div id="container-filtros">
        <span style="margin-right: 50px">
          Unidade: <b>{{ escola_nome }}</b>
        </span>
        <span style="flex-shrink: 0"
          >Data do Relatório: {{data_relatorio}}</span
        >
      </div>
    </header>
    {% block conteudo %} {% endblock %}
  </body>
</html>
