{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
</head>
<header class="header">
  <section class="titulo-e-logo">
    <img src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1>Sistema de gestão do programa de alimentação escolar</h1>
  </section>
  <table class="tabela-cabecalho tabela-arredondada">
    <tr class="">
      <td colspan="2">{{ escola.nome }}</td>
      <td colspan="2">{{ escola.diretoria_regional.nome }}</td>
    </tr>
    <tr class="">
      <td>De: {{ filtro.data_de }}</td>
      <td>Até: {{ filtro.data_para }}</td>
      <td>Tipo de solicitação: {{ filtro.tipo_solicitacao }}</td>
      <td>Status de solitação: {{ filtro.status }}</td>
    </tr>
  </table>
</header>
</html>
