{% extends "relatorio_solicitacao_medicao_por_escola_base.html" %}
{% load index static sass_tags %}

{% block tabelas %}
    <!-- Página de tabelas -->
    {% for tabela in tabelas %}

    {% include "relatorio_cabecalho_solicitacao_medicao_por_escola_cei.html" with solicitacoes=solicitacoes %}

    <table class="tabela-valores-medicao mt-3">
      <thead class="texto-branco">
          <tr>
              <th rowspan="4">Dias</th>
              {% for periodo in tabela.periodos %}
                  <th class="periodo-grupo cor-periodo-grupo-{{ tabela.ordem_periodos_grupos|get_element_by_index:forloop.counter0 }}" colspan="{{ tabela.len_periodos|get_element_by_index:forloop.counter0 }}">
                      {{ periodo|upper }}
                  </th>
              {% endfor %}
          </tr>
          <tr>
              {% for categoria in tabela.categorias %}
                  <th class="categoria" colspan="{{ tabela.len_categorias|get_element_by_index:forloop.counter0 }}">{{ categoria.categoria|upper }}</th>
              {% endfor %}
          </tr>
          <tr>
            {% for categoria in tabela.categorias %}
                {% for faixa in categoria.faixas_etarias %}
                    {% if faixa == "total" %}
                        <th  class="faixa-etaria" colspan="1"></th>
                    {% else %}
                      <th class="faixa-etaria" colspan="2">{{ faixa }}</th>
                    {% endif %}
                {% endfor %}
            {% endfor %}
          </tr>
          <tr>
            {% for categoria in tabela.categorias %}
                {% for faixa in categoria.faixas_etarias %}
                    {% if faixa == "total" %}
                        <th  class="faixa-etaria" > Total do Dia</th>
                    {% else %}
                      {% if categoria.categoria == "ALIMENTAÇÃO" %}
                          <th>Matriculados</th>
                          <th>Frequência</th>
                      {% else %}
                          <th>Aprovadas</th>
                          <th>Frequência</th>
                      {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
          </tr>
      </thead>

      <tbody>
        {% for valores in tabela.valores_campos %}
          <tr class="{% if dias_letivos|get_nao_eh_dia_letivo_cei:forloop.counter0 %} nao-dia-letivo {% endif %}">
            {% for valor in valores %}
              <td>{{ valor }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}

 {% endblock %}
