{% extends 'cabecalho_relatorio_suspensoes_produto.html' %}
{% load index %}
{% load static %}


{% block conteudo %}
<section class="corpo-relatorio-produto-suspensos">
  <div class="sessao-detalhes-suspensoes">
    <div class="item-suspensao">
      <div class="item-prod um">Nome do produto</div>
      <div class="item-prod um">Marca</div>
      <div class="item-prod dois">Fabricante</div>
      <div class="item-prod tres">Data cadastro</div>
      <div class="item-prod tres">Data suspensão produto</div>
    </div>
    {% for produto in produtos %}
    <div class="item-suspensao-detalhe">
      <div class="item-prod-detalhe um">{{produto.nome}}</div>
      <div class="item-prod-detalhe um">{{produto.marca.nome}}</div>
      <div class="item-prod-detalhe dois">{{produto.fabricante.nome}}</div>
      <div class="item-prod-detalhe tres">{{produto.criado_em|date:'d/m/Y'}}</div>
      <div class="item-prod-detalhe tres">{{produto.ultima_homologacao.ultimo_log.criado_em|date:'d/m/Y'}}</div>
    </div>
    <div class="visao-geral-produto">
      <div class="tres-informacoes">
        <div class="informacao">
          <label>Nome</label>
          <p>{{produto.ultima_homologacao.ultimo_log.usuario.nome}}</p>
          <p>RF: {{produto.ultima_homologacao.ultimo_log.usuario.registro_funcional|default:''}}</p>
        </div>
        <div class="informacao">
          <label>Cargo</label>
          <p>{{produto.ultima_homologacao.ultimo_log.usuario.cargo}}</p>
        </div>
        <div class="informacao">
          <label>Justificativa de suspensão de produto</label>
          <p>{{produto.ultima_homologacao.ultimo_log.justificativa|safe}}</p>
        </div>
      </div>

      <div class="uma-informacao">
        <div class="informacao">
          <label>Anexo</label>
          {%if produto.ultima_homologacao.ultimo_log.get_anexos|length %}
            <p>Sim</p>
          {% else %}
            <p>Não</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
