{% include 'relatorio_base.html' %}
{% load static %}
{% load index %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/produtos_terceirizada.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/relatorio_dieta_especial.scss' %}" type="text/css">
</head>
<header class="header">
  <section class="titulo-e-logo">
    <img src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1>SIGPAE - RELATÓRIO DE DIETA ESPECIAL</h1>
  </section>
  {% include "tabela_filtros_relatorio_geral_dieta.html" with filtros=filtros %}
</header>
<section class="corpo-relatorio-produto-dieta">
  <p>Relatório de dieta especial</p>
  <div class="sessao-detalhes-dieta">
    <div class="item-dieta">
      <div class="item-prod um-thead">Diretoria Regional de Educação</div>
      <div class="item-prod dois">Unidade escolar</div>
      <div class="item-prod dois">Lote</div>
      <div class="item-prod tres">Tipo de gestão</div>
      <div class="item-prod quatro">Data da solicitação</div>
      <div class="item-prod quatro">Status dieta</div>
    </div>
   {% for dieta in queryset %}
    <div class="visao-geral-produto">
      <div class="item-dieta-detalhe">
        <div class="item-prod-detalhe um">{{dieta.rastro_escola.diretoria_regional.nome}}</div>
        <div class="item-prod-detalhe dois">{{dieta.rastro_escola.nome}}</div>
        <div class="item-prod-detalhe dois">{{dieta.rastro_escola.lote.nome}}</div>
        <div class="item-prod-detalhe tres">{{dieta.rastro_escola.tipo_gestao.nome}}</div>
        <div class="item-prod-detalhe quatro">{{dieta.criado_em|date:'d/m/Y'}}</div>
        {% if dieta.ativo %}
          <div class="item-prod-detalhe quatro">Ativa</div>
        {% else %}
          <div class="item-prod-detalhe quatro">Inativa</div>
        {% endif %}
      </div>
       <div class="quatro-informacoes">
        <div class="informacao">
          <label>Solicitação #{{dieta.id_externo}}</label>
        </div>
        <div class="informacao-tres">
          <p>Status Solicitação: <label>{{dieta.status|obter_titulo_status_dieta}}</label></p>
        </div>
      </div>
      <div class="quatro-informacoes">
        <div class="informacao">
          <label>Código EOL do aluno</label>
          {{dieta.aluno.codigo_eol|default:''}}
        </div>
        <div class="informacao">
          <label>Nome do Aluno</label>
          {{dieta.aluno.nome}}
        </div>
        <div class="informacao">
          <label>Data de Nascimento</label>
          {{dieta.aluno.data_nascimento|date:'d/m/Y'}}
        </div>
        <div class="informacao">
          <label>Classificação da dieta</label>
          {{dieta.classificacao|default:""}}
        </div>
      </div>
      <div class="quatro-informacoes">
        <div class="informacao">
          <label>Diagnóstico</label>
          {% for alergia in dieta.alergias_intolerancias.all %}
            {{alergia}}
          {% endfor %}
        </div>
        <div class="informacao-tres">
          <label>Nome do protocolo</label>
          {{dieta.nome_protocolo}}
        </div>
        <div class="informacao">
          <label>Data de término</label>
          {{dieta.data_termino|date:'d/m/Y'|default:"Sem data de término"}}
        </div>
      </div>
      <div class="quatro-informacoes">
        <div class="informacao">
          <label>Motivo da Negação</label>
          {{dieta.motivo_negacao|default:""}}
        </div>
        <div class="informacao-tres">
          <label>Justificativa</label>
          {{dieta.justificativa_negacao|safe|default:""}}
        </div>
        <div class="informacao">
          <label>Data da Negação</label>
          {% if dieta.status.state.title == "CODAE negou a solicitação"%}
            {{ dieta.logs.last.criado_em|date:"d/m/Y" }}
          {% endif %}
        </div>
      </div>
      <div class="quatro-informacoes">
        <div class="informacao-tres">
          <label>Nome do usuário</label>
          {% if dieta.status.state.title == "CODAE negou a solicitação" or dieta.status.state.title == "CODAE autorizou" %}
            {{ dieta.logs.last.usuario.nome|default:"" }}
          {% endif %}
        </div>
        <div class="informacao-tres">
          <label>RF</label>
          {% if dieta.status.state.title == "CODAE negou a solicitação" or dieta.status.state.title == "CODAE autorizou" %}
            {{ dieta.logs.last.usuario.registro_funcional|default:"" }}
          {% endif %}
        </div>
      </div>

      <div class="quatro-informacoes">
        <div class="informacao-tres">
          <label>Observação da Dieta</label>
          {{dieta.observacoes|striptags|safe}}
        </div>
        <div class="informacao-tres">
          <label>Informações Adicionais</label>
          {{dieta.informacoes_adicionais|striptags|safe}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</section>


</html>
