{% extends 'cabecalho_relatorio_produtos_em_analise_sensorial.html' %}
{% load index %}
{% load static %}

{% block conteudo %}

<section class="corpo-relatorio-produto-analise-sensorial">
  <p>Relatório de produtos em análise sensorial</p>
  <div class="sessao-detalhes-analise-sensorial">
    <div class="item-analise-sensorial">
      <div class="item-prod um">Nome do produto</div>
      <div class="item-prod dois">Marca</div>
      <div class="item-prod um">Terceirizada</div>
      <div class="item-prod tres">Data cadastro</div>
      <div class="item-prod tres">Data análise sensorial</div>
    </div>
    {% for produto in produtos %}
    <div class="item-analise-sensorial-detalhe">
      <div class="item-prod-detalhe um">{{produto.nome}}</div>
      <div class="item-prod-detalhe dois">{{produto.marca.nome}}</div>
      <div class="item-prod-detalhe um">{{produto.ultima_homologacao.rastro_terceirizada.nome_fantasia}}</div>
      <div class="item-prod-detalhe tres">{{produto.criado_em|formata_data}}</div>
      <div class="item-prod-detalhe tres">{{produto.ultima_homologacao.log_solicitacao_analise.criado_em|formata_data}}</div>
    </div>

     <div class="visao-geral-produto">
      <div class="tres-informacoes">
        <div class="informacao-dois">
          <label>Justificativa </label>
          <p>{{produto.ultima_homologacao.log_solicitacao_analise.justificativa| safe}}</p>
        </div>
        <div class="informacao">
          <label>Amostra(s) recebidas por:</label>
          <p>{{produto.ultima_homologacao.resposta_analise.responsavel_produto}}</p>
          <p>RF: {{produto.ultima_homologacao.resposta_analise.registro_funcional}}</p>
        </div>
        <div class="informacao">
          <label>Data/Hora entrega de produto</label>
          <p>{{produto.ultima_homologacao.resposta_analise.data}}</p>
          <p>{{produto.ultima_homologacao.resposta_analise.hora}}</p>
        </div>
      </div>
      <hr />
      <div class="tres-informacoes">
        <div class="informacao-tres">
          <label>Resposta análise sensorial</label>
          <p>{{produto.ultima_homologacao.resposta_analise.observacao}}</p>
        </div>
        <div class="informacao">
          <label>Data/Hora análise sensorial</label>
          <p>{{produto.ultima_homologacao.resposta_analise.criado_em|formata_data}}</p>
          <p>{{produto.ultima_homologacao.resposta_analise.criado_em|formata_hora}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
