{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
<div class="conteudo tabela-sem-borda">

  {% include "bloco_cabecalho_solicitacao_partindo_escola.html" %}
  {% include "bloco_fluxo_de_status.html" %}
  <div>
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
  <div class="tabela-sem-borda">
    <table class="tabela-sem-borda">
      <thead>
        <tr>
          <td style="color: #686868">Motivo</td>
          <td style="color: #686868">Dia(s) de suspensão</td>
        </tr>
      </thead>
      <tbody>
        {% for motivo in suspensoes.all %}
          <tr>
            <td>
              {% if motivo.motivo.nome == 'Outro' %}
                {{ motivo.motivo.nome }} - {{ motivo.outro_motivo }}
              {% else %}
                {{ motivo.motivo.nome }}
              {% endif %}
            </td>
            <td>{{ motivo.data|date:"d/m/Y" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="tabela-sem-borda">

    <div>
      <table class="thead-black">
        <thead>
        <tr>
          <td>Período</td>
          <td>Tipos de Alimentação</td>
          <td></td>
          <td>N° de Alunos</td>
        </tr>
        </thead>
        <tbody>
        {% for periodo in quantidades_por_periodo %}
          <tr>
            <td>{{  periodo.periodo_escolar }}</td>
            <td>{{ periodo.tipos_alimentacao.all |concatena_label }}</td>
            <td></td>
            <td>{{ periodo.numero_alunos }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "bloco_observacoes.html" %}
    {% include "bloco_historico_questionamento.html" %}
    {% include "bloco_historico_cancelamento.html" %}
  </div>


  {% endblock %}
