{% extends "admin/object_history.html" %}

{% block content %}
<div id="content-main">
<div class="module">

{% if action_list %}
    <table id="change-history">
        <thead>
        <tr>
            <th scope="col">DATA/HORA</th>
            <th scope="col">USUÁRIO</th>
            <th scope="col">RF</th>
            <th scope="col">AÇÃO</th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
        <tr>
            <th scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
            <td>{% if action.user.nome %} {{ action.user.nome }} {% else %} {{ action.user.get_username }} {% endif %}</td>
            <td>{% if action.user.registro_funcional %} {{ action.user.registro_funcional }}{% endif %}</td>
            <td>{{ action.get_change_message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Este objeto não tem um histórico de alterações. Ele provavelmente não foi adicionado por este site de administração.</p>
{% endif %}
</div>
</div>
{% endblock %}