{% load static %}
{% load sass_tags %}

<html>
  <head>
    <link rel="stylesheet" href="{% sass_src 'css/override_relatorio.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'css/custom_bootstrap.scss' %}" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
  </head>
  <body>
    {% with usuario=formulario_supervisao.formulario_base.usuario %}
      <div class="bloco-assinaturas m-5">
        <div class="assinaturas">
          <div class="assinatura">
            <div class="title titulo-assinatura">
              Assinatura Eletrônica Fornecedor
            </div>
            <div class="assinatura-container">
              <div class="col-2 logo-sigpae">
                <img src="{% static 'images/logo-sigpae.png' %}" alt="" />
              </div>
              <div class="col-10 ml-3">
                <span class="texto-assinatura">
                  Documento gerado e registrado eletronicamente por
                  <strong>{{ log_envio_formulario.usuario.nome }}</strong>, RF: {{ log_envio_formulario.usuario.registro_funcional_censurado|default:" "}},
                  em {{ log_envio_formulario.criado_em|date:"d/m/Y" }}, às {{ log_envio_formulario.criado_em|time:"H:i" }}.
                </span>
              </div>
            </div>
          </div>
          <div class="assinatura responsavel-ue text-center me-5">
            <div>__________________________________________________</div>
            <div>Responsável pela UE</div>
          </div>
        </div>
      </div>
    {% endwith %}
  </body>
</html>
