{% include 'relatorio_base.html' %} {% load static %} {% load index %} {% load sass_tags %}

<html lang="en">
  <head>
    <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'css/custom_bootstrap.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'css/imr/relatorio_formulario_supervisao/relatorio_formulario_supervisao.scss' %}" type="text/css">
  </head>

  <body>
    {% include "imr/relatorio_formulario_supervisao/cabecalho.html" %}
    {% include "imr/relatorio_formulario_supervisao/formulario.html" %}
    {% include "imr/relatorio_formulario_supervisao/assinaturas.html" %}
    {% include "imr/relatorio_formulario_supervisao/rodape.html" %}
  </body>
</html>
