{% include 'relatorio_base.html' %} {% load static %} {% load index %} {% load sass_tags %}

<html lang="en">
  <head>
    <link rel="stylesheet" href="{% sass_src 'css/relatorio_formulario_supervisao.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'css/custom_bootstrap.scss' %}" type="text/css">
  </head>

  <body>
    {% include "imr/relatorio_formulario_supervisao/cabecalho.html" with formulario_supervisao=formulario_supervisao %}
    <table class="formulario-supervisao">
      {% for tipo_ocorrencia in tipos_ocorrencia %}
        {% with
          index_minus_one=forloop.counter0|add:"-1"
          formulario_base=formulario_supervisao|get_attribute:"formulario_base"
        %}
          {% with
            resposta=tipo_ocorrencia|get_resposta_tipo_ocorrencia:formulario_base
            quantidade_grupos=tipo_ocorrencia|get_quantidade_grupos_tipo_ocorrencia:formulario_base
          %}
            {% if
              forloop.counter0 == 0 or
              tipos_ocorrencia|get_element_by_index:index_minus_one|get_attribute:"categoria" != tipo_ocorrencia.categoria
            %}
              <tr class="categoria">
                <th class="pb-3" colspan="3">
                  {{ tipo_ocorrencia.categoria.nome }}
                </th>
              </tr>
              {% if tipo_ocorrencia.categoria.gera_notificacao %}
                <tr class="frequencia">
                  <th class="pb-3" colspan="3">
                    Maior frequência no período: {{ formulario_supervisao.maior_frequencia_no_periodo }}
                  </th>
                </tr>
              {% endif %}
            {% endif %}
            <tr class="tipo-ocorrencia">
              <td rowspan="{{ tipo_ocorrencia|get_rowspan:formulario_base }}">{{ forloop.counter }}</td>
              <td>
                <div>
                  <b>{{ tipo_ocorrencia.titulo }}:</b> {{ tipo_ocorrencia.descricao }}
                </div>
                <div>
                  <b>
                    Penalidade: {{ tipo_ocorrencia.penalidade.numero_clausula }}<br />
                    Obrigação: {{ tipo_ocorrencia.penalidade.obrigacoes.all|concatena_str_por_param:"descricao" }}
                  </b>
                </div>
              </td>
              <td>{{ resposta }}</td>
            </tr>
            {% if resposta == "Não" %}
              <tr>
                <td colspan="2">
                  {% with ''|center:quantidade_grupos as range %}
                    {% for _ in range %}
                      {% for parametrizacao in tipo_ocorrencia.parametrizacoes.all %}
                        <div>
                          <div>
                            <b>
                              {{ parametrizacao.titulo }}
                            </b>
                          </div>
                          <div>
                            {% get_resposta_str parametrizacao formulario_base forloop.parentloop.counter %}
                          </div>
                        </div>
                      {% endfor %}
                      <hr/>
                    {% endfor %}
                  {% endwith %}
                </td>
              </tr>
            {% endif %}
            {% if resposta == "Não se aplica" %}
              <tr>
                <td colspan="2">
                  {% if tipo_ocorrencia|get_descricao_ocorrencia_nao_se_aplica:formulario_base %}
                    Descrição: {{ tipo_ocorrencia|get_descricao_ocorrencia_nao_se_aplica:formulario_base }}
                  {% else %}
                    Sem descrição
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endwith %}
        {% endwith %}
      {% endfor %}
    </table>
  </body>
</html>
