{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}

<html>
<body>
  {% if page.status_guia == "Pendente de conferência" %}
    <div class="barra-status alinha-direita">

      <div class="card-barra-status preenchivel">
        Data de recebimento do alimento na Unidade Educacional: ______/______/______
      </div>
    </div>
  {% else %}
    <div class="barra-status">
      <div class="card-barra-status">
        {{page.status_guia}}
      </div>

      <div class="card-barra-status">
        Data de recebimento dos alimentos: 15/06/2021
      </div>
    </div>
  {% endif %}
</body>
</html>
