{% include 'relatorio_base.html' %}
{% load index %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/logistica/rodape_recebida.scss' %}" type="text/css">
</head>
<body>
<div class="page-container mt-3 footer-base">
  <div class="padding-rodape">
    {% if page.status_guia == "Insucesso de entrega" %}
      <div class="row align-content-end mt-3">
        <div class="col-1 logo-sigpae">
          <img src="{% static 'images/logo-sigpae.png' %}" alt="" />
        </div>
        <div class="col-11 ml-3">
          <span class="text-footer-insucesso">
            Este documento foi registrado eletronicamente por <strong>{{ page.insucesso.criado_por.nome|upper }}</strong>, <strong>{{ page.insucesso.criado_por.cargo|default:" "|upper }}</strong>, <strong>{{ page.insucesso.criado_por.cpf|default:"     " }}</strong>, <strong>{{ page.solicitacao.distribuidor.nome_fantasia|upper }}</strong> em {{ page.insucesso.criado_em|date:"d/m/Y" }}, às {{ page.insucesso.criado_em|time:"H:i" }}. O registro eletrônico da Guia de Remessa é comprovação e ateste do serviço prestado à Unidade Educacional, conforme previsão contratual.
          </span>
        </div>
      </div>
    {% elif page.conferencia %}
    <div class="row align-content-end mt-3">
      <div class="col-1 logo-sigpae">
        <img src="{% static 'images/logo-sigpae.png' %}" alt="" />
      </div>
      <div class="col-11 ml-3">
        <span class="text-footer-insucesso">
          Este documento foi registrado eletronicamente por <strong>{{ page.conferencia.criado_por.nome|upper }}</strong>, <strong>{{ page.conferencia.criado_por.cargo|default:" "|upper }}</strong>, <strong>{{page.conferencia.criado_por.registro_funcional|default:page.conferencia.criado_por.cpf}}</strong>, <strong>{{ page.conferencia.criado_por.vinculo_atual.instituicao.nome|upper }}</strong> em {{ page.conferencia.criado_em|date:"d/m/Y" }}, às {{ page.conferencia.criado_em|time:"H:i" }}. O registro eletrônico da Guia de Remessa é comprovação e ateste do serviço prestado à Unidade Educacional, conforme previsão contratual.
        </span>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="rodape-verde">
    <div class="bottom-left"></div>
    <div class="bottom-center"></div>
    <div class="bottom-right"> Documento gerado em dt_file </div>
  </div>
</div>
</body>
</html>
