{% include 'relatorio_base.html' %}
{% load index %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/logistica/rodape_recebida.scss' %}" type="text/css">
</head>
<body>
<div class="page-container mt-3 fixed-bottom-absolute">
  <div class="row green-text">
    <div class="col">
      <div class="titulo"> Nome do responsável pelo recebimento (Unidade Educacional)  </div>
      <div class="campo"> {{ page.conferencia.criado_por.nome }} </div>
      <br/>
      <div class="titulo"> Nome do Motorista </div>
      <div class="campo"> {{ page.conferencia.nome_motorista }} </div>
    </div>
    <div class="col">
      <div class="titulo"> RF ou CPF do responsável pelo recebimento (Unidade Educacional) </div>
      <div class="campo"> {{page.conferencia.criado_por.registro_funcional|default:page.conferencia.criado_por.cpf}} </div>
    <br/>
    <div class="titulo"> Placa do veículo </div>
    <div class="campo"> {{ page.conferencia.placa_veiculo }} </div>
   </div>
  </div>
  <div class="row align-content-end mt-3">
    <div class="col-1 logo-sigpae">
      <img src="{% static 'images/logo-sigpae.png' %}" alt="" />
    </div>
    <div class="col-11 ml-3">
      <p class="text-footer-insucesso">
        Este documento foi registrado eletronicamente por <strong>{{ page.conferencia.criado_por.nome|upper }}</strong>, <strong>{{ page.conferencia.criado_por.cargo|default:" "|upper }}</strong>, <strong>{{page.conferencia.criado_por.registro_funcional|default:page.conferencia.criado_por.cpf}}</strong>, <strong>{{ page.conferencia.criado_por.vinculo_atual.instituicao.nome|upper }}</strong> em {{ page.conferencia.criado_em|date:"d/m/Y" }}, às {{ page.conferencia.criado_em|time:"H:i" }}. O registro eletrônico da Guia de Remessa é comprovação e ateste do serviço prestado à Unidade Educacional, conforme previsão contratual.
      </p>
    </div>
  </div>
</div>
</body>
</html>
