{% include 'relatorio_base.html' %}
{% load index %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/logistica/rodape_recebida.scss' %}" type="text/css">
</head>
<body>
<div class="page-container mt-3 fixed-bottom">
		<div class="row green-text">
			<div class="col">
				<div class="titulo"> Nome do responsável pelo recebimento (Unidade Educacional)  </div>
				<div class="campo"> Jorginho </div>
				<br/>
				<div class="titulo"> Nome do Motorista </div>
				<div class="campo"> Zézinho </div>
			</div>
			<div class="col">
        <div class="titulo"> RF ou CPF do responsável pelo recebimento (Unidade Educacional) </div>
        <div class="campo"> 36756412398</div>
				<br/>
				<div class="titulo"> Placa do veículo </div>
				<div class="campo"> AVC12D4 </div>
			</div>
		</div>
	</div>
</body>
</html>
