{% include 'relatorio_base.html' %}
{% load index %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/logistica/rodape_pendente.scss' %}" type="text/css">
</head>
<body>
<div class="page-container mt-3 fixed-bottom-absolute">
		<div class="row green-text">
			<div class="col">
				<div class="campo"> Nome do responsável pelo recebimento (Unidade Educacional) </div>
				<br/>
				<div class="campo"> RF ou CPF do responsável pelo recebimento (Unidade Educacional) </div>
				<br/>
				<div class="campo"> Nome do Motorista </div>
			</div>
			<div class="col"> Carimbo da Unidade Educacional
				<div class="campo campo-area"> </div>
				<br/>
				<div class="row">
					<div class="col">
						<div class="campo"> Placa do veículo </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
