@import "../variaveis";

@page {
  padding-top: 6.1cm;
  @top-center {
    content: element(cabecalho);
    width: 100%;
  }
 }

@page :nth(n+2) {
  margin-top: 5.6cm;
  padding-top: 1cm;
}

@page :nth(1) {
  //WTF bug...
  margin-top: 0;
  padding-top: 5.8cm;
}

html{
  -webkit-font-smoothing: antialiased;
}

header {
 position: running(cabecalho);
 margin-top: 5.6cm;
}

.table {
  border: 1px solid $cinza-quase-claro;
  background: $branco;
}

.obj {
  background: #F3F3F3;
}

.page-content {
  margin: 0 0.5em;
}

.page-container {
  padding-right: 1em;
  padding-left: 1em;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  color: #42474A;
}

.page-container .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
}

.page-container .main-title{
  color: $verde-escuro;
  font-size: 14px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #C0C0C0;
  margin: 2em 0;
  padding: 0;
}

.logo-sigpae{
  display: flex;
  align-content: center;
  align-items: center;
  img {
    max-width:80px;
    max-height:70px;
    width: auto;
    height: auto;
  }
}

.insucesso-container {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  text-align: justify;
  img {
    float: left;
    max-width:400px;
    max-height:200px;
    width: auto;
    height: auto;
    margin-right: 16px;
  }
}

.container-imagem {
  height: 200px;
}

.text-footer-insucesso {
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  text-align: justify;
  display: block;
  padding-top: 12px;
}

table{
  font-size: 12px;
  border-collapse: collapse;

  .nome-alimento{
    font-weight: normal;
    margin-top: 8px;
  }
}

.imagem{
  text-align: center;
}

.imagem-ocorrencia{
  max-width: 9cm;
  max-height: 9cm;
  padding: 3px;
}

.tabela-imagem{
  width: 100%;

  td{
    padding-bottom: 30px;
  }
}

.titulo{
  color: $verde-escuro;
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.campo{
  border-bottom: 1px solid #dddddd;
  font-size: 11px;
}
