@import "../variaveis";

.green-text{
  color: $verde-escuro;
  font-size: 11px;
  font-weight: bold;
}

.campo{
  border-bottom: 1px solid #dddddd;
  padding-bottom: 1.5em;
}

.campo-area{
  border: 1px solid #dddddd;
  margin-top: 4px;
}

.pequeno{
  height: 44.5px;
}

.grande{
  height: 150px;
  margin-bottom: 16px;
}
