@import "../variaveis";

@page :nth(n+2) {
  margin-top: 5.9cm !important;
  padding-top: 1cm !important;
}

@page :nth(1) {
  margin-top: 0.3cm !important;
  padding-top: 6.4cm !important;
}

.titulo-secao{
  font-size: 15px;
  color: $verde-escuro;
}

.separator{
  background: #F5F5F5;
  padding: 1em 1.6em;
}

.page-container {
  padding-right: 0em;
  padding-left: 0em;
  font-size: 13px;
}

.content{
  padding-right: 2em;
  padding-left: 2em;
}

.rodape-tabela{
  font-size: 11px;
}

.checkbox-preenchido{
  padding: 16px;
  border: 1px $verde-escuro solid;
  border-radius: 5px;

  .check-verde{
    color: $verde-escuro;
    font-weight: bold;
  }
}

.assinaturas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 16px;

  .logo-sigpae{
    img {
      max-width:60px;
      max-height:60px;
      width: auto;
      height: auto;
    }
  }

  .assinatura{
    flex-basis: 49%;
    padding-bottom: 16px;

    .titulo-assinatura{
      font-size: 12px;
      color: $verde-escuro;
      padding-bottom: 4px;
    }

    .assinatura-container{
      height: 2.6cm;
      border: 1px solid #A4A4A4;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 4px;
    }

    .texto-assinatura{
      font-size: 11px;
      font-weight: normal;
      line-height: 13px;
    }
  }
}
