@import "../variaveis";

.dados{
  display: flex;
  flex-wrap: wrap;
  padding: 6px 0;

  div{
    flex-basis: 33.3%;
  }
}

.titulo-secao{
  font-size: 16px;
  color: $verde-escuro;
}

.assinaturas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 8px;

  .logo-sigpae{
    img {
      max-width:60px;
      max-height:60px;
      width: auto;
      height: auto;
    }
  }

  .assinatura{
    flex-basis: 49%;
    padding-bottom: 16px;

    .titulo-assinatura{
      font-size: 12px;
      color: $verde-escuro;
      padding-bottom: 4px;
    }

    .assinatura-container{
      border: 1px solid #A4A4A4;
      border-radius: 4px;
      display: flex;
      padding: 4px;
    }

    .texto-assinatura{
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
    }
  }
}

.table-cronograma{
  th{
    background-color: #F5F6F8;
    color: #666666;
  }
}