{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
  <div>Caros,</div>
  <br/>
  <div>Solicitação de cadastro de produto realizada com sucesso!</div>
  <br>
  <br/>
  <p style="text-align: left">
  <b>Dados da Empresa Terceirizada</b>
  <br/>
  Nome: {{solicitacao.terceirizada.nome_fantasia}}
  <br/>
  Email: {{solicitacao.terceirizada.contatos.first.email}}
  <br/>
  Telefone: {{solicitacao.terceirizada.contatos.first.telefone}}
  </p>

  <p style="text-align: left">
  <b>Dados da Escola</b>
  <br/>
  Nome: {{solicitacao.escola.nome}}
  <br/>
  Lote: {{solicitacao.escola.lote.nome}}
  <br/>
  Tipo de gestão: {{solicitacao.escola.tipo_gestao.nome}}
  <br/>
  Email: {{solicitacao.escola.contato.email}}
  <br/>
  Telefone: {{solicitacao.escola.contato.telefone}}
  <br/>
  Código DRE: {{solicitacao.escola.diretoria_regional.codigo_eol}}
  <br/>
  Nome DRE: {{solicitacao.escola.diretoria_regional.nome}}
  </p>

  <p style="text-align: left">
  <b>Dados do Aluno</b>
  <br/>
  Código EOL: {{solicitacao.aluno.codigo_eol}}
  <br/>
  Nome: {{solicitacao.aluno.nome}}
  <br/>
  Data de nascimento: {{solicitacao.aluno.data_nascimento}}
  </p>

  <p style="text-align: left">
  <b>Dados do Produto</b>
  <br/>
  Nome: {{solicitacao.nome_produto}}
  <br/>
  Marca: {{solicitacao.marca_produto}}
  <br/>
  Fabricante: {{solicitacao.fabricante_produto}}s
  </p>
{% endblock %}
