{% extends 'email_base.html' %}

{% block conteudo %}
  <p>
    Olá, <b>{{ nome }}!</b> Seja bem-vindo(a) ao <b style="color: #0C6B45;">SIGPAE</b> <br/>
    SISTEMA DE GESTÃO DO PROGRAMA DE ALIMENTAÇÃO ESCOLAR!
  </p>
  <div style="text-align: left; padding-top: 10px;">
    <p>
      O <b>SIGPAE</b> foi desenvolvido pela Secretaria Municipal de Educação juntamente com a equipe técnica da Coordenadoria de Alimentação Escolar para facilitar e auxiliar o gerenciamento de processos e informações do Programa de Alimentação Escolar no Município de São Paulo.
    </p>
    <strong>Para acessar o sistema, utilize os dados abaixo:</strong>
    <ul>
      <li><b>Usuário:</b> digite seu <strong>RF</strong> de 7 dígitos, sem pontos, traço ou espaçamento.</li>
      <li><b>Senha:</b>  A <strong>senha</strong> é a mesma de acesso ao <strong>Plateia e ao SGP.</strong></li>
    </ul>
    <p>
      Para garantir a continuidade de seu acesso ao sistema, é necessário trocar sua senha após o <b>Primeiro Acesso</b>, você será redirecionado a tela de atualização de senha após inserir os dados enviados neste e-mail na tela de <b>Login</b>.
    </p>
  </div>
  <div style="padding-top: 15px;">
    <h3>
      <a href="{{ url }}" style="color: #0C6B45; text-decoration: none;">Clique aqui para acessar o SIGPAE</a>
    </h3>
  </div>
  <div style="text-align: left; padding-top: 5px;">
    <p>Contamos com <b>você</b> para que o abastecimento da Rede Municipal de Ensino seja sempre um sucesso!"</p>
  </div>
{% endblock %}
