{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>SIGPAE - Notificação</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 10px 0 30px 0;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="300"
             style="border: 1px solid #cccccc; border-collapse: collapse;">
        <tr>
          <td align="center" bgcolor="#70bbd9">
            <img src="https://hom-terceirizadas.sme.prefeitura.sp.gov.br/media/email/static/images/email-sigpae.png" alt="" style="display: block;"/>
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="color: #0C6B45; font-size: 24px;  font-family: Roboto, sans-serif; font-weight: bold; font-style: normal;
                 line-height: 28px; font-style: normal; font-size: 24px; text-align: center; ">
                  <!-- Titulo do E-mail -->
                  <b>{{ assunto }}</b>
                </td>
              </tr>
              <tr>
                <td style="padding: 20px 0 30px 0; color: #42474A; font-family: Roboto, sans-serif; font-size: 14px; line-height: 16px; text-align: center;">
                  Conteúdo de texto do e-mail - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis
                  sagittis ut ullamcorper
                  natoque praesent duis vulputate id magna.
                </td>
              </tr>
              <tr>
                <td>
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center" width="100%">
                        <table cellpadding="0" cellspacing="0" width="30%"
                               style="border: 2px solid #0C6B45; border-radius: 4px; box-sizing: border-box;">
                          <tr>
                            <td style="padding: 15px 20px 15px 20px; color: #198459; font-family: Roboto, sans-serif; font-size: 24px; line-height: 28px; text-align: center">
                              #297690
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td style="font-size: 0; line-height: 0;" width="20">
                        &nbsp;
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 25px 0 30px 0; color: #42474A; font-family: Roboto, sans-serif; font-size: 14px; line-height: 16px; text-align: center;">
                        Conteúdo de texto do e-mail - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis
                        sagittis ut ullamcorper
                        natoque praesent duis vulputate id magna.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#F5F6F8" style="padding: 30px 30px 30px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="text-align: center; color: #198459; font-family: Roboto, sans-serif; font-size: 12px;">
                  <p>smecodaeatendimento@sme.prefeitura.sp.gov.br</p>
                </td>

              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
