{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
<p  style="text-align: left;">A solicitação <strong><span style="color: #198459;">{{ id_externo }} de {{ tipo_solicitacao }}</span></strong>
  <strong>foi parcialmente cancelada</strong> pela Unidade Educacional: <strong>{{ nome_ue }},
    DRE {{ nome_dre }}, {{ nome_lote }},</strong> em {{ criado_em }}</p>

  <br/><p>Para mais informações, <a href="{{ url }}" style="color: #198459;">acesse o sistema</a> e consulte a solicitação.</p>

  <br/>
{% endblock %}
