<p>
  Acesse no <span style="color:#0C6B45; font-weight: bold">SIGPAE</span> a página de <strong>Entregas</strong> e registre a conferência da <span style="color:#0C6B45; font-weight: bold">Guia de Remessa</span>.
</p>

<p>
  A ausência desse registro provoca dificuldades no processo de abastecimento da <strong>Rede Municipal de Ensino</strong>.
</p>

<p>
  Esse registro assegura à <strong>CODAE</strong> o acesso às informações sobre as entregas e maior agilidade para tomada de providências, a fim de sanar os problemas relacionados.
</p>

<p style="color:#0C6B45; font-weight: bold">
  Em caso de dúvidas, procure pelo Atendimento/CODAE.
</p>

<p>
  Contamos com <strong>você</strong> para que o abastecimento da <strong>Rede Municipal de Ensino de São Paulo</strong> seja sempre um sucesso!
</p>
