<p>
  Quando uma <strong>Entrega</strong> de alimentos deixa de acontecer por alguma <strong>Ocorrência</strong>, o Distribuidor deverá repor os alimentos faltantes. Após o Recebimento, <strong>Registre a Reposição</strong> correspondente a Guia de Remessa.
</p>

<p>
  <a href={{ url }}>Clique aqui para acessar Detalhes da Reposição</a>
</p>

<p style="color:#0C6B45; font-weight: bold">
  Em caso de dúvidas, procure pelo Atendimento/CODAE.
</p>

<p>
  Contamos com <strong>você</strong> para que o abastecimento da <strong>Rede Municipal de Ensino de São Paulo</strong> seja sempre um sucesso!
</p>
