<div>
    <p>A Guia de Remessa nº {{ numero_guia }} previa a entrega de alimentos para {{ data_entrega }}, mas continua pendente de conferência.</p>
    <p>Por favor, acesse a Guia e registre sua conferência ainda hoje. A ausência desse registro provoca várias dificuldades ao processo de abastecimento da Rede Municipal de Ensino, uma vez que é esse registro que assegura à CODAE o acesso às informações sobre as entregas e possibilita que tomemos as providências para sanar problemas, como atrasos, produtos com defeitos, entregues parcialmente e outros.</p>
    <p>Portanto, acesse no SIGPAE a página de "Entregas" e registre a conferência da Guia de Remessa.</p>
    <p>Insira as informações de recebimento, apontando a quantidade de alimentos recebidos e, caso tenha constatado algum problema, descreva-o.</p>
    <p>Contamos com você para que o abastecimento da Rede Municipal de Ensino seja sempre um sucesso!<br/>
      Se tiver alguma dúvida, procure pelo Atendimento/CODAE.
    </p>
    <br/>
    <p>
      Att., <br/>
      Coordenadoria de Alimentação Escolar <br/>
      Secretaria Municipal de Educação
    </p>
</div>
