<p>
  No momento em que estiver <strong>recebendo os alimentos</strong>, confira atentamente os itens, comparando-os com as informações presentes na <span style="color:#0C6B45; font-weight: bold">Guia de Remessa</span>.
</p>

<p>
  <strong>Passo-a-passo para Conferência:</strong>
</p>

<ol>
  <li>
    No recebimento dos alimentos, acesse no <span style="color:#0C6B45; font-weight: bold">SIGPAE</span> a página <strong>Conferir Entrega</strong> e registre a conferência da Guia de Remessa.
  </li>
  <li>
    Insira as informações de recebimento, apontando a quantidade de alimentos recebidos e, caso tenha constatado algum problema, descreva-o detalhadamente.
  </li>
  <li>
    Não deixe o registro da conferência para o dia seguinte!
  </li>
  <li>
    A CODAE precisa que as informações sobre as entregas de alimentos sejam registradas o quanto antes, para que possa tomar as providências devidas, em caso de problemas.
  </li>
</ol>

<p style="color:#0C6B45; font-weight: bold">
  Em caso de dúvidas, procure pelo Atendimento/CODAE.
</p>

<p>
  Contamos com <strong>você</strong> para que o abastecimento da <strong>Rede Municipal de Ensino de São Paulo</strong> seja sempre um sucesso!
</p>
