<div>
  <p>A Guia de Remessa nº {{ numero_guia }}, com data de entrega prevista para {{ data_entrega }}, continua <strong>Pendente de Conferência.</strong></p>
  <p>Acesse no SIGPAE a página de "Entregas" e registre a conferência da <strong>Guia de Remessa</strong> ainda hoje. A ausência desse registro provoca várias dificuldades no processo de abastecimento da Rede Municipal de Ensino.</p>
  <p>Esse registro assegura à CODAE o acesso às informações sobre as entregas e possibilita providências para sanar problemas relacionados.</p>
  <p>Contamos com VOCÊ para que o abastecimento da Rede Municipal de Ensino seja sempre um sucesso!</p>
  <p>Em caso de dúvidas, procure pelo Atendimento/CODAE.</p>
</div>
