{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
  <div style="text-align: left">
    <p>Prepare-se para receber os alimentos que serão entregues hoje em sua Unidade Educacional! Siga o passo-a-passo para que o procedimento de entrega de alimentos ocorra de forma adequada.</p>
    <ol>
      <li>Leia a Guia de Remessa disponível no SIGPAE.</li>
      <li>No momento em que estiver recebendo os alimentos, confira atentamente os itens, comparando-os com a informação presente na Guia de Remessa. Atente-se, principalmente, aos seguintes aspectos: </li>
      <ol type="a">
        <li>Quantidade: a quantidade de alimentos recebidos deve ser a mesma prevista na Guia de Remessa.</li>
        <li>Qualidade: os alimentos devem estar aptos a serem consumidos, isto é, dentro do prazo de validade e embalagem intacta (quando for o caso), com aspecto adequado e outros critérios de qualidade. Para frutas, legumes, verduras e ovos, ver guia específico no site da SME.
        </li>
      </ol>
      <li>Imediatamente após o recebimento dos alimentos, acesse no SIGPAE a página de "Entregas" e registre a conferência da Guia de Remessa. Insira as informações de recebimento, apontando a quantidade de alimentos recebidos e, caso tenha constatado algum problema, descreva-o. Evite deixar o registro da conferência para o dia seguinte. A CODAE precisa que as informações sobre as entregas de alimentos sejam registradas o quanto antes, para que possa tomar as providências devidas em caso de problemas. </li>
    </ol>
    <p>Contamos com você para que o abastecimento da Rede Municipal de Ensino seja sempre um sucesso!<br/>
      Se tiver alguma dúvida, procure pelo Atendimento/CODAE.
    </p>
    <p>
      Att., <br/>
      Coordenadoria de Alimentação Escolar <br/>
      Secretaria Municipal de Educação
    </p>
  </div>
{% endblock %}
