{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
<div>A Guia de Remessa <b>Nº {{ numero_guia }}</b>, com data de entrega prevista</div>
<div>para {{ data_entrega }}, está <b>Pendente de Conferência</b></div>

<br/><br/>

<div style="text-align: left;">
  Acesse no <b style="color:#0C6B45;">SIGPAE</b> a página de <b>Entregas</b> e registre a conferência da <b>Guia de Remessa.</b>
</div>

<br/>

<div style="text-align: left;">
  A ausência desse registro provoca dificuldades no processo de abastecimento da <b>Rede Municipal de Ensino.</b>
</div>

<br/>

<div style="text-align: left;">
  Esse registro assegura à <b>CODAE</b> o acesso às informações sobre as entregas e maior agilidade para tomada de providências,
  a fim de sanar os problemas relacionados.
</div>

<br/><br/><br/>

<div style="color:#0C6B45;"><b>Em caso de dúvidas, procure pelo Atendimento/CODAE.</b></div>

<br/>

<div>Contamos com <b>você</b> para que o abastecimento da </div>
<div><b>Rede Municipal de Ensino de São Paulo</b> seja sempre um sucesso! </div>
{% endblock %}
