{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
  <p>
    Quando uma entrega de alimento deixa de acontecer por alguma ocorrência de qualidade ou quantidade do produto, o fornecedor tem o dever de repor os alimentos faltantes. 
  </p>
  <p>
    Portanto, é importante que você se prepare para receber uma reposição dos alimentos faltantes e, imediatamente após o recebimento,
    registrar a reposição ao clicar no botão "Repor" correspondente à Guia de Remessa que estiver com o status "Parcial" ou "Não recebida".
    Insira as informações de recebimento, apontando a quantidade de alimentos recebidos e, caso tenha constatado algum problema, descreva-o. 
  </p>
  <p>
    Contamos com você para que o abastecimento da Rede Municipal de Ensino seja sempre um sucesso!
  </p>
  <p>
    Se tiver alguma dúvida, procure pelo Atendimento/CODAE.
  </p>
  <p>
    Att., <br/>
    Coordenadoria de Alimentação Escolar <br/>
    Secretaria Municipal de Educação
  </p>

  <br/>
  <a href="{{ url }}">Clique para acessar detalhes</a>
  <br/>
{% endblock %}
