{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo %}
  <div>Caros,</div>
  <br/>
  <div>Informo que o produto {{ reclamacao.homologacao_produto.produto.nome }} foi suspenso por reclamação.</div>
  <br/>
  <p><b>Reclamação:</b></p>
  <div>{{ reclamacao.reclamacao | safe }}</div>
  <br/>
  <p><b>Justificativa do aceite da reclamação:</b></p>
  <div>{{ log_aceite.justificativa | safe }}</div>
  <div>Atenciosamente,</div>
  <div>Coordenadoria de Alimentação Escolar - CODAE.</div>
{% endblock %}
