{% include 'relatorio_base.html' %} {% load static %} {% load index %} {% load sass_tags %}
<html>

<head>
	<link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
	<link rel="stylesheet" href="{% sass_src 'css/custom_bootstrap.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/logistica/relatorio_guia.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/logistica/barra_status.scss' %}" type="text/css">
</head>
<body>
  {% for page in pages %}
    <div style="page-break-before: always;"></div>
    {% include "logistica/guia_remessa/cabecalho.html" %}
    <div class="page-content">
      <div class="barra-status alinha-direita">
        <div class="card-barra-status preenchivel">
          Data de recebimento do alimento na Unidade Educacional: ______/______/______
        </div>
      </div>
      {% include "logistica/guia_remessa/tabela_alimentos.html" %}
      {% include "logistica/guia_remessa/rodape_pendente_conferencia.html" %}
      {% include "logistica/guia_remessa/rodape.html" %}
    </div>
	{% endfor %}
</body>

</html>
