@import "../variaveis";


.titulo-e-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 48px;
    width: 137px;
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: $preto;
  }

  .titulo-branco{
    color: #FFFFFF;
  }
}

.header {
  padding: 1em 1em 1em 1em;
  background: $cinza-claro;
}

.green-header{
  background: $verde;
  font-size: 14px;
}

.green-header .info {
  background: $branco;
  border-collapse: collapse;
  border-radius: 3px !important;
  width: 100%;
  overflow: hidden;
}

.green-header .info .row {
  margin-right: 0!important;
  margin-left: 0 !important;
}

.green-header .info .col {
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  box-sizing: border-box;
}

.tabela-cabecalho {
  border-collapse: collapse;
  background: $branco;
  border-radius: 10px !important;
  padding: 5px !important;
  width: 100%;
  overflow: hidden;

  table, th, td {
    border: $borda-tabela-padrao;
    padding: 0.3em;
  }
}