@import "../variaveis";

.table {
  border: 1px solid $cinza-quase-claro;
  background: $branco;
}

.obj {
  background: #F3F3F3;
}

.page-content {
  margin: 0 1em;
}

.page-container {
  padding-right: 2em;
  padding-left: 2em;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  color: #42474A;
}

.page-container .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
}

.page-container .main-title{
  color: $verde;
  font-size: 16px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #C0C0C0;
  margin: 1em 0;
  padding: 0;
}

.logo-sigpae{
  display: flex;
  align-content: center;
  align-items: center;
  img {
    max-width:80px;
    max-height:70px;
    width: auto;
    height: auto;
  }
}

.insucesso-container {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  text-align: justify;
  img {
    float: left;
    max-width:400px;
    max-height:200px;
    width: auto;
    height: auto;
    margin-right: 16px;
  }
}

.text-footer-insucesso {
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  text-align: justify;
}

table{
  font-size: 12px;
  border-collapse: collapse;
}
