@import "../variaveis";

@page {
  size: A4;
  padding-bottom: 7em;
  @bottom-center {
    content: element(rodape);
    padding: 1em 0em 4em 0em;
    margin-top: -4em;
  }
}

// @page :nth(n+2) {
//   margin-bottom: 2em;
// }


@page :nth(1) {
  //WTF bug...
  //margin-bottom: 24em;
  padding-bottom: 6em;

  @bottom-center {
    content: element(rodape);
    margin-top: -4.5em;
  }
}

.padding-rodape{
  padding: 0 2em;
}

.footer-base{
  position: running(rodape);
  width: 100%;
  padding: 0px;
}

.rodape-verde {
  display: flex;
  width: 100%;
  background: #20AA73;
  color: #FFF;
  font-size: 10px;
  //padding: 0 2em;
  margin-top: 1em;
  height: 20px;
  justify-content: space-between;
  flex-direction: row;
  .bottom-center {
    content: counter(page) "/" counter(pages);
    padding-left: 22em;
  }
  .bottom-right{
    padding-right: 2em;
  }
}

.titulo{
  color: $verde;
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.campo{
  border-bottom: 1px solid #dddddd;
  font-size: 11px;
}

.campo-area{
  border: 1px solid #dddddd;
  margin-top: 4px;
  height: 44.5px;
}