{% load static %}
{% load sass_tags %}

<head>
  <link rel="stylesheet" href="{% sass_src 'css/override_relatorio.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/custom_bootstrap.scss' %}" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
</head>
<body>
  <div style="background: #EEEEEE; position: absolute; bottom: 0; height: 60px; width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <img style="width: 40px; height: 35px; padding:0 15px" src="{{ logo_sigpae }}" alt="" />
    <p style="font-size: 9px">Documento de Recebimento assinado eletronicamente por <strong>{{ usuario.nome|upper }}</strong>, <strong>{{ usuario.cargo|default:" "|upper }}</strong>, RF: {{ usuario.registro_funcional_censurado|default:" "}}, em {{ data_hora|date:"d/m/Y" }}, às {{ data_hora|time:"H:i" }}.</p>
  </div>
</body>
</html>
