<!DOCTYPE html>
<html lang="en">
  {% load static %} {% load sass_tags %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      NOTIFICAÇÃO MANUTENÇÃO DE EQUIPAMENTOS/REPARO E ADAPTAÇÃO (NMR)
    </title>
    <link
      rel="stylesheet"
      href="{% sass_src 'css/IMR/relatorio_notificacao/reparo_e_adaptacao.scss' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% sass_src 'css/custom_bootstrap.scss' %}"
      type="text/css"
    />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <header class="header">
      <div class="toolbar d-flex align-items-center">
        <div class="col-2 text-center">
          <img src="{% static 'images/logo-color.svg' %}" alt="logo" />
        </div>
        <div class="col-10 text-center">
          <h4 class="title m-0">
            SECRETARIA MUNICIPAL DE EDUCAÇÃO | COORDENADORIA DE ALIMENTAÇÃO ESCOLAR
          </h4>
          <h6 class="subtitle m-0">
            NOTIFICAÇÃO MANUTENÇÃO DE EQUIPAMENTOS/REPARO E ADAPTAÇÃO (NMR)
          </h6>
        </div>
      </div>
      <section class="informacoes">
        <div class="row">
          <div class="col-8 d-flex align-items-center">
            <p>Solicitante:</p>
            <p class="pl-2"><strong>{{dados.usuario.nome}}</strong></p>
          </div>
          <div class="col-4 d-flex align-items-center">
            <p>Data da Visita:</p>
            <p class="pl-2"><strong>{{dados.data_visita}}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-8 d-flex align-items-center">
            <p>Unidade:</p>
            <p class="pl-2"><strong>{{dados.unidade}}</strong></p>
          </div>
          <div class="col-4 d-flex align-items-center">
            <p>DRE:</p>
            <p class="pl-2"><strong>{{dados.diretoria_regional}}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-8 d-flex align-items-center">
            <p>Contratada:</p>
            <p class="pl-2"><strong>{{dados.terceirizada}}</strong></p>
          </div>
          <div class="col-4 d-flex align-items-center">
            <p>Lote:</p>
            <p class="pl-2"><strong>{{dados.lote}}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center">
            <p>Referência:</p>
            <p class="pl-2"><strong>{{dados.edital}}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <p>Nº de Matriculados:</p>
            <p class="pl-2"><strong>{{dados.total_matriculados_por_data}}</strong></p>
          </div>
          <div class="col-6 d-flex align-items-center">
            <p>Maior Nº de Frequentes no Período:</p>
            <p class="pl-2"><strong>{{dados.maior_frequencia_no_periodo}}</strong></p>
          </div>
        </div>
        </div>
      </section>
    </header>
    <footer>
      <div class="row d-flex justify-content-center mb-3">
        <div class="col-6">
        <p class="text-center">Assinatura Nutricionista Supervisora CODAE</p>
        <div class="border row p-2">
          <div class="col-2 d-flex align-items-center">
            <img src="{% static 'images/Logo_SIGPAE_pb.png' %}" alt="logo do sipgpae em preto e branco" />
          </div>
          <div class="col-10">
            <p class="m-0 pl-2">
              Documento gerado e registrado eletronicamente por {{dados.usuario.nome}},
              RF: {{dados.usuario.registro_funcional.0}}****{{dados.usuario.registro_funcional.5}}{{dados.usuario.registro_funcional.6}},
              em {{dados.data_geracao}}, às {{dados.hora_geracao}}.
            </p>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class="text-center"><strong>Entrega da presente Notificação à Empresa</strong></p>
          <p class="text-center">______/______/______</p>
        </div>
        <div class="col-6">
          <p class="text-center">_______________________________________</p>
          <p class="text-center"><strong>Assinatura Nutricionista RT da Empresa</strong></p>
        </div>
      </div>
      <div>
        <p class="text-center">Conferência pelo representante da U.E. se as adequações acima foram ou não realizadas:</p>
        <div class="row">
          <div class="col-6">
            <p class="text-center"> <strong>Data da Conferência:</strong> ______/______/______</p>
          </div>
          <div class="col-6">
            <p class="text-center">_______________________________________</p>
            <p class="text-center"><strong>Responsável pela U.E</strong></p>
          </div>
        </div>
        <p class="text-center"><strong>Observação da Unidade</strong></p>
        <div class="row observacao-unidade-container">
          <div class="col-12">
            <div class="observacao"></div>
          </div>
        </div>
      </div>
      <div class="barra-informacoes">
        <div class="row d-flex align-items-center">
          <div class="col-4"></div>
          <div class="col-4">
            <p class="paginador"></p>
          </div>
          <div class="col-4">
            <p class="gerado-em">Documento gerado em dt_file </p>
          </div>
        </div>
      </div>
    </footer>
    <main class="content">
      <section>
        <div class="content-top">
          <p>
            Com fundamento nos dispositivos do contrato supracitado e nos termos da legislação aplicável,
            o nutricionista fiscalizador da CONTRATANTE (PMSP/SME - Coordenadoria de Alimentação Escolar) e o
            nutricionista responsável técnico da empresa CONTRATADA, acima identificados,
            firmam a presente NOTIFICAÇÃO DE MANUTENÇÃO E REPARO
          </p>
        </div>
        <table>
          <thead>
            <tr>
              <th rowspan="2">Item</th>
              <th rowspan="2">Descrição da ocorrência</th>
              <th colspan="3">
                Serviço Realizado?
              </th>
            </tr>
            <tr>
              <th>SIM</th>
              <th>DATA (em caso de Sim)</th>
              <th>NÃO</th>
            </tr>
          </thead>
          <tbody>
            {% for resposta in dados.respostas %}
            <tr>
              <td>{{resposta.0}}</td>
              <td>{{resposta.1}}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
