$fa-font-path: "../webfonts";
//cores
$preto: #000000;
$cinza-escuro: #333333;
$cinza: #686868;
$cinza-meio-claro: #999999;
$cinza-claro: #EEEEEE;
$branco: #FFFFFF;

$borda-tabela-padrao: 1px solid black;
