$fa-font-path: "../webfonts";
//cores
$branco: #FFFFFF;
$cor-amarelo: #fdc500;
$cor-background-header: #EEEEEE;
$cor-cinza-placeholder: black;
$cor-texto-padrao: #000000;
$cor-verde: #198459;
$cor-vermelho: #a50e05;
$fonte-cinza: #686868;
$blackSubtle: #333333;
// estilo
$borda-tabela-padrao: 1px solid black;
