$fa-font-path: "../webfonts";
//cores
$preto: #000000;
$cinza-escuro: #333333;
$cinza-meio-escuro: #42474A;
$cinza: #686868;
$cinza-meio-claro: #999999;
$cinza-quase-claro: #DDDDDD;
$cinza-borda-tabela: #E8EAF3;
$cinza-claro: #EEEEEE;
$cinza-input: #CED4DA;
$cinza-assinatura: #A4A4A4;
$branco: #FFFFFF;
$verde: #20AA73;
$verde-escuro: #198459;

$borda-tabela-padrao: 1px solid black;
