@import "variaveis";


.titulo-e-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: $cor-texto-padrao;
  }
}


.header {
  padding: 2em 2em 1em 2em;
  background: $cor-background-header;
}

.tabela-cabecalho {
  border-collapse: collapse;
  background: $branco;
  border-radius: 10px !important;
  padding: 5px !important;
  width: 100%;
  overflow: hidden;

  table, th, td {
    border: $borda-tabela-padrao;
    padding: 0.3em;
  }
}
