@page {
  size: A4;
  margin: 0;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  font-style: normal !important;
}

header {
  background: #EEEEEE;
  padding: 2em 1.5em 0.1em 1.5em;
}

.titulo-e-logo {
  display: flex;
  justify-content: space-between;
}

.titulo-e-logo h1 {
  font-family: Roboto;
  margin-left: 10%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.tabela {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 1em;

}

.linha {
  display: flex;
  justify-content: space-between;
}

.borda-div {
  padding: 1em 1em 1em 1em;
}

