* {
  margin: 0;
  padding: 0;
}

.titulo-e-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
  }
}


header {
  padding: 2em 1em 1em 2em;
  background: #EEEEEE;
}

table {
  border-collapse: collapse;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  padding: 5px !important;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  padding: 0.3em;
}
