@import "variaveis";


@page {
  margin-bottom: 3em;
  @bottom-left {
    background: $cinza-claro;
    color: $preto;
    content: '';
    font-size: 10px;
    width: 100%;
    padding: 1em 2em 4em 2em;
    margin-top: 1em;
  }
  @bottom-right {
    background: $cinza-claro;
    color: $preto;
    content: counter(page);
    font-size: 10px;
    padding: 1em 2em 4em 2em;
    margin-top: 1em;
  }
}


@page :nth(n+2) {
  margin-top: 2em;
}

@page :nth(1) {
  //WTF bug...
  margin-top: 0;
}

.titulo-e-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 48px;
    width: 137px;
  }

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: $preto;
  }

  .titulo-branco{
    color: #FFFFFF;
  }
}

.header {
  padding: 1em 2em 1em 2em;
  background: $cinza-claro;
}

.green-header{
  background: $verde;
  font-size: 14px;
}

.green-header .info {
  background: $branco;
  border-collapse: collapse;
  border-radius: 3px !important;
  width: 100%;
  overflow: hidden;
}

.green-header .info .row {
  margin-right: 0!important;
  margin-left: 0 !important;
}

.green-header .info .col {
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  box-sizing: border-box;
}

.tabela-cabecalho {
  background: $branco;
  border: 1px solid #A4A4A4;
  border-radius: 5px;
  width: 100%;

  table, th, td {
  }

  .title-cabecalho {
    padding: 5px;
  }
}


//PAGINA RELATORIO PRODUTO
.header{
  .logo-titulo{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 20px;

    img{
      width: 145px;
      height: 53px;
    }

    h1{
      display: flex;
      align-items: flex-end;
      font-weight: normal;
      font-size: 16px;
      color: #000000;
    }
  }

  .conteudo-titulo{
    display: flex;
    background: #FFFFFF;
    min-height: 80px;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 4px;

    article:first-child{
      width: 350px;
    }

    article:last-child{
      width: 450px;
    }

    .article-pedido-lote{

      display: flex;
      flex-direction: column;

      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      text-transform: uppercase;
      color: #000000;

      h2, h3{
         font-style: normal;
         font-weight: normal;
         font-size: 12px;
         text-transform: uppercase;
         color: #000000;
         margin: 0;
         padding: 0 10px;
       }

       h2{
        width: 299px;
        height: 40px;
        border-bottom: 1px solid #000000;
        display: flex;
        align-items: center

       }

      .n-pedido-header{
        width: 150px;
        height: 60px;
      }

      section{
        display: flex;
        align-items: center;
        min-height: 40px;

        h3{
          width: 30px;
        }

        .lista-lotes{
          display: flex;
          flex-wrap: wrap;
          width: 260px;
          margin: 0;
          padding: 0;
          list-style: none;
          li{
            margin: 0px 5px 0px 0px;
          }
        }
      }
    }

    .article-dre{
      min-height: 80px;
      display: flex;
      align-items: center;
      border-left: 1px solid #000000;

      h3{
         font-style: normal;
         font-weight: normal;
         font-size: 12px;
         text-transform: uppercase;
         color: #000000;
         margin: 0;
         padding: 0 10px;
       }

       section{
        display: flex;
        align-items: center;

        ul{
          display: flex;
          flex-wrap: wrap;
          width: 450px;
          margin: 0;
          padding: 0px 10px;
          list-style: none;
          li{
            margin: 0px 5px 0px 0px;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            text-transform: uppercase;
            color: #000000;
          }
        }
      }
    }

  }
}

.corpo-relatorio-produto-suspensos{
  padding: 1em 2em 1em 2em;

  .sessao-detalhes-suspensoes{
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    width: 730px;

    .visao-geral-produto{
      height: 160px;

      .uma-informacao{
        display: flex;
        flex-direction: row;
        height: 50px;

        .ultima-info{
          border-bottom: 1px solid #C0C0C0;
        }

        .ultima-info:first-child{
          padding-left: 15px;
        }

        .informacao{
          display: flex;
          flex-direction: column;
          width: 180px;
          padding: 10px 0 0 10px;

          label{
            color: #686868;
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 18px;
          }

          p{
            margin: 0px;
            padding: 0px;
            color: #686868;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 27px;
          }
        }

        .informacao:last-child{
          width: 365px;
        }
      }

      .tres-informacoes{
        display: flex;
        flex-direction: row;
        height: 100px;

        .ultima-info{
          border-bottom: 1px solid #C0C0C0;
        }

        .ultima-info:first-child{
          padding-left: 15px;
        }

        .informacao{
          display: flex;
          flex-direction: column;
          width: 180px;
          padding: 10px 0 0 10px;

          label{
            color: #686868;
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 18px;
          }

          p{
            margin: 0px;
            padding: 0px;
            color: #686868;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 27px;
          }
        }

        .informacao:last-child{
          width: 365px;
        }
      }
    }

    .item-suspensao-detalhe{
      background: #F9F9F9;
      display: flex;
      flex-direction: row;
      height: 36px;

      .item-prod-detalhe{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 10px;
        border-left: 1px solid #C0C0C0;
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
      }
    }

    .item-suspensao{
      background: #EEEEEE;
      display: flex;
      flex-direction: row;
      height: 36px;

      .item-prod{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 10px;
        border-left: 1px solid #C0C0C0;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        color: #686868;
      }
      .item-prod:first-child{
        border-left: 0px;
      }

    }
  }
}

.um{
  width: 165px
}
.dois{
  width: 150px
}
.tres{
  width: 125px
}

.corpo-relatorio-produto{
  padding: 1em 2em 1em 2em;

  .detalhes-empresa{
    display: flex;
    border: 1px solid black;
    height: 40px;
    border-radius: 4px;

    .label{
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #686868;
    }

    .value{
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      color: #000000;
    }

    .nome{
      width: 365px;
    }
    .telefone{
      width: 150px;
    }
    .email{
      width: 215px;
    }
    .justificativa{
      padding: 0.25em;
      padding-left: 0.75em;
    }
  }

  .detalhes-nao-homologacao{
    margin-bottom: 1em;
  }

  .assinaturas{
    margin-top: 1.5em;
    div{
      padding-bottom: 1.5em;
      display: flex;
      p{
        margin: 0px;
        padding: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #686868;
      }

      p:first-child{
        width: 170px;
      }
      p:last-child{
        width: 560px
      }

      .assinatura{
        border-bottom: 1px solid #686868;
        width: 32px;
      }
    }
  }
}

.mt{
    margin-top: 0.5em;
}
.identificacao-produto{
  border-top: 1px solid #C0C0C0;
  display: inline-block;
  h4{
    font-weight: bold;
    font-size: 12px;
    color: #686868;
    margin: 0;
    padding: 1em 0em 0em 0em;
  }
  article {
    padding: 0.3em 0em 0em 0em;
    header p{
      font-size: 12px;
      line-height: 14px;
      color: #686868;
      margin: 0;
      padding: 0;
    }
    main p{
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #353535;
      margin: 0;
      padding: 0em 0 0.3em 0;
      text-transform: uppercase;
    }

  }
  .uma-informacao{
    header, main{
      display:flex;
      width: 730px;
      p{
        width: 730px;
      }
    }
  }
  .duas-informacoes{
    header, main{
      display:flex;
      width: 730px;
      p{
        width: 365px;
      }
    }
  }
}

.tabela-informacoes-nutricionais{
  margin: 0.5em 0 1em 0;
  border: 1px solid #C0C0C0;
  width: 730px;
  header{
    display: flex;
    height: 30px;
    p{
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #686868;
    }
    p:first-child{
      width: 650px;
      margin: 0;
      padding: 0;
    }
    p:last-child{
      width: 80px;
      margin: 0;
      padding: 0;
      border-left: 1px solid #C0C0C0;
    }
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #C0C0C0;
    li{
      display: flex;
      height: 25px;
      p{
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #353535;
        margin: 0;
        padding: 0;
        border-bottom:1px solid #C0C0C0;
      }
      p:nth-child(1){
        width: 480px;
        padding-left: 10px;
      }
      p:nth-child(2){
        border-left: 1px solid #C0C0C0;
        width: 160px;
        justify-content: center;
      }
      p:nth-child(3){
        border-left: 1px solid #C0C0C0;
        width: 80px;
        justify-content: center;
      }
    }
  }
  footer{
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    color: #A4A4A4;
    padding: 0.3em 1em;
  }
}

.conteudo-titulo-suspensoes-produto-reduzido{
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;

  display: flex;
  align-items: center;
  padding-left: 10px;
}

.conteudo-titulo-suspensoes-produto{
  height: 80px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;

  display: flex;
  flex-direction: row;

  article{}

  article:first-child{
    width: 449px;
    border-right: 1px solid #000000;
    padding-top: 10px;
    padding-left: 10px;
  }
  article:last-child{
    width: 280px;

    div{
      height: 40px;
      display: flex;
      align-items: center;
      padding-left: 10px;
    }

    div:last-child{
      height: 39px;
      border-top: 1px solid #000000;
    }
  }
}

.conteudo-titulo-analise-recebimento{
  height: 80px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  justify-content: space-around;

  article{
    display: flex;
    flex-direction: column;

    div{
      height: 39px;
      display: flex;
      align-items: center;
      padding-left: 10px;

      font-size: 12px;
      line-height: 14px;
      color: #000000;
    }
  }

  article:first-child{
    width: 449px;

    div:first-child{
      border-right: 1px solid #000000;
    }
    div:last-child{
      border-right: 1px solid #000000;
      border-top: 1px solid #000000;

      display: flex;
      justify-content: space-between;

      p{
        width: 224px;
        height: 39px;
        display: flex;
        align-items: center;
      }

      p:last-child{
        border-left: 1px solid #000000;
        padding-left: 10px;
      }
    }
  }
  article:last-child{
    width: 280px;

    div:last-child{
      border-top: 1px solid #000000;
    }
  }
}

.conteudo-titulo-analise{
  height: 80px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  justify-content: space-around;

  article{
    display: flex;
    flex-direction: column;

    div{
      height: 39px;
      display: flex;
      align-items: center;
      padding-left: 10px;

      font-size: 12px;
      line-height: 14px;
      color: #000000;
    }
  }

  article:first-child{
    width: 449px;

    div:first-child{
      border-right: 1px solid #000000;
    }
    div:last-child{
      border-right: 1px solid #000000;
      border-top: 1px solid #000000;
    }
  }
  article:last-child{
    width: 280px;

    div:last-child{
      border-top: 1px solid #000000;
    }
  }
}
