@page {
  size: A4;
  margin: 0;
}

.linha {
  display: flex;
  justify-content: space-between;
}

.borda-div {
  padding: 1em 1em 1em 1em;
}

.grid-template-columns-2 {
  grid-template-columns: 30% 60%;
}

.item {
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.flex {
  margin: 0 auto;
  border: 1px solid #ccc;
  display: flex;
  align-items: baseline;
}

.bloco-nro-pedido {
  background: #D9D8D8;
  border: 0.5px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 15em;
  height: 5em;
  padding: 0.8em 0.8em 0.1em 0.8em;
}

.fonte-2-card {
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #353535;
}

.fonte-1-card {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: #353535;
}

.fonte-cinza-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #A8A8A8;
}

.fonte-cinza-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
