.kit-lanche-cemei {
  .alunos-label {
    height: 20px;
    color: #42474a;
    size: 16px;
    font-weight: 700;
    border: 1px solid #e9eaea;
    border-radius: 6px;
    background-color: #dadada;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .dados-comuns {
    font-size: 14px;
  }


  .tabela-faixa-etaria-cei {
   width: 95%;
   margin-left: 1em;

    article {
      border-bottom: 1px solid #e9eaea;
      border-right: 1px solid #e9eaea;
      border-left: 1px solid #e9eaea;
      display: grid;
      grid-template-columns: 50% 25% 25%;
      min-height: 48px;
      height: auto;
      line-height: 16px;
      color: #42474a;

      div {
        font-style: normal;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 16px;
      }

      .faixa-etaria {
        border-right: 0.5px solid #e9eaea;
      }

      .quantidade {
        display: flex;
        border-left: 0.5px solid #e9eaea;
      }
    }

    article:first-child {
      border-radius: 6px 6px 0 0;
      border-top: 1px solid #e9eaea;
      background-color: #e9eaea;
      font-weight: bold;
    }

    article:last-child {
      border-radius: 0 0 6px 6px;
      background-color: #e9eaea;
      font-weight: bold;
      margin-bottom: 24px;
    }
  }


}
