@import "variaveis";


.thead-black {
  thead {
    font-weight: bold;
    background-color: $preto;
    color: $branco;
  }

}

.conteudo {
  padding: 0em 2em 0em 2em;

  div.id-pedido {
    display: flex;

    .retangulo-id {
      border-radius: 4px;
      text-align: center;
      font-weight: bold;
      color: $preto;
      background-color: $cinza-claro;
      padding: 10px;
      font-size: 20px;

      span {
        font-size: 14px;
      }
    }

    .info {
      margin-top: 2em;
      padding-left: 1em;

      div {
        &:first-child {
          font-weight: normal;
          font-size: 14px;
          color: $cinza-escuro;
        }

        &:not(:first-child) {
          font-size: 15px;
          font-weight: bold;
          color: $preto;
        }
      }
    }
  }

  div.motivo-local {
    padding-bottom: 1em;

    .info-motivo-local {
      div {
        &:first-child {
          font-weight: normal;
          font-size: 14px;
          color: $cinza;
        }

        &:not(:first-child) {
          font-size: 14px;
          font-weight: bold;
          color: $cinza;
        }
      }
    }

    .info-motivo-alterar-dia {

      :nth-child(even) {
        font-weight: normal;
        font-size: 14px;
        color: $cinza;
      }

      :nth-child(odd) {
        font-size: 14px;
        font-weight: bold;
        color: $cinza;
      }

    }
  }

  .tabela-sem-borda {
    margin-top: 1em;

    table {
      font-size: 14px;
      border-collapse: collapse;
      width: 100%;

    }

    .tabela-centralizada th.centralizado,
    .tabela-centralizada td.centralizado {
      text-align: center;
    }

    tr {
      border-bottom: 1px solid $preto;

      &.sem-border-bottom {
        border-bottom: none;
      }

      &.cancelado {
        text-decoration: line-through;
      }
    }

    .ficha-produto-body {
      td {
        div {
          background: $cinza-claro;
          padding: 10px;
          border: 1px solid $cinza-meio-claro;
          border-radius: 4px;
        }
      }
    }

    th, td {
      padding: 0.5em;
      text-align: left;
    }
  }

  .tabela-info-nutricional {
    margin-top: 1em;
    padding: 0;

    table {
      font-size: 14px;
      width: 100%;
      border-collapse: collapse;

      thead {
        background-color: $cinza-claro
      }

      tbody {
        color: #686868;
        border: 1px solid #C0C0C0;
      }
    }

    td {
      border: 1px solid #C0C0C0;
    }

    th, td {
      padding: 0.5em;
      text-align: left;
    }
  }

  .imagem {
    text-align: left;
  }

  .imagem-produto {
    width: 4cm;
    height: 4cm;
    padding: 2px;
    background: $cinza-claro;
  }

  .tabela-imagem {
    width: 100%;

    td {
      padding-bottom: 30px;
    }
  }

  .multiplos-motivos-solicitacao {
    display: flex;
    margin-bottom: 0.4em;

    .coluna-esquerda {
      width: 35%;
    }

    .coluna-direita {
      width: 65%;
    }

    .titulo {
      color: $cinza;
      line-height: 16px;
    }

    .linha-com-datas {
      display: flex;
      margin-bottom: 1em;

      .data-suspensao {
        margin: 0 2em 0 0;
      }
    }
  }

  .observacoes {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 1em;

    .cabecalho {
      color: $cinza;
      line-height: 16px;
    }

    .resultado {
      font-weight: bold;
      line-height: 16px;
      color: $cinza-escuro;
    }

    .justificativa-cancelamento-escola-dre{
      margin-top: 10px;
    }
  }

  .total-unidades-kits {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    .cabecalho {
      color: $cinza;
      line-height: 16px;
    }

    .resultado {
      font-weight: bold;
      line-height: 16px;
      color: $cinza-escuro;
    }
  }
}


.question-history {
  font-size: 14px;

  .title {
    p {
      color: $cinza;
      font-weight: bold;
    }
  }

  .question-log {
    padding-top: 10px;

    .is-it-possible {
      padding-top: 5px;
      color: $cinza-escuro;

      .title {
        font-size: 14px;
        font-weight: bold;
      }

      .obs {
        padding-top: 10px;
        font-size: 13px;
      }
    }
  }
}

.bloco-relacao-por-diagnostico {
  h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $cinza;

  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $cinza-escuro;
  }

  hr {
    border: 1px solid $cinza-claro;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
}

.classificacao-dieta {
  h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $cinza;
  }
}

.bloco-pescritor-dieta-especial {

  table {
    width: 100%;

    th {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $cinza;
    }

    td {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $cinza-escuro;
    }
  }

  h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $cinza;
  }

  p {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $cinza-escuro;
  }

  hr {
    border: 1px solid $cinza-claro;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
}

.bloco-identificacao-nutri {
  h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $cinza;
  }

  div {
    border: 1px solid $cinza-claro;
    box-sizing: border-box;
    border-radius: 4px;
    width: 70%;
  }

  p {
    margin-left: 1em;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $cinza-escuro;
  }
}

.info-geral-inclusao {
  width: 100%;

  tr {
    &.cancelado {
      text-decoration: line-through;
    }
  }

}

.tabela-filtro {
  padding: 0 2em 0 2em;

  h5 {
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.25px;
    color: $preto;
  }

  table {
    width: 100%;

    caption {
      margin-bottom: 1em;
      font-size: 16px;
      line-height: 19px;
      color: $preto
    }

    thead {
      th {
        font-size: 14px;
        line-height: 16px;
        color: $cinza;
        margin-bottom: 0.5em;
      }
    }

    tbody {
      td {
        border-bottom: 1px solid $cinza-claro;
      }
    }
  }

}

.tabela-resumo-mes {
  margin: 20px 20px 20px 20px;

  h5 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.25px;
    color: $preto;
  }

  table {
    background: $branco;
    border: 2px solid $cinza;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;

    thead {
      th {
        font-size: 16px;
        line-height: 108.98%;
        letter-spacing: 0.25px;
        color: $preto;
      }

    }

    tbody {
      td {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: $cinza-escuro;
      }

      tr:last-child {
        height: 35px;

        td:nth-last-child(-n+2) {
          background: $cinza-claro;
        }
      }
    }
  }
}

.tabela-resumo-mes {
  &.evolucao-mensal {
    table {
      tbody {
        tr:last-child {
          td:nth-last-child(-n+7) {
            background: $cinza-claro;
          }
        }
      }
    }
  }
}

.weekly {

  .week-circle {
    height: 20px;
    width: 15px;
    padding-left: 7px;
    margin-left: 1px;
    padding-top: 2px;
    color: $preto;
    background-color: #fff;
    border: 1px solid $preto;
    border-radius: 50%;
    display: inline-block;
  }

  .week-circle-clicked {
    height: 20px;
    width: 15px;
    padding-left: 7px;
    margin-left: 1px;
    padding-top: 2px;
    color: #fff;
    background-color: $preto;
    border: 1px solid $preto;
    border-radius: 50%;
    display: inline-block;
  }
}
