@import "variaveis";


.thead-black {
  thead {
    font-weight: bold;
    background-color: $preto;
    color: $branco;
  }

}

.conteudo {
  padding: 0em 2em 0em 2em;

  div.id-pedido {
    padding-bottom: 1.5em;
    display: flex;

    .retangulo-id {
      border-radius: 4px;
      text-align: center;
      font-weight: bold;
      color: $preto;
      background-color: $cinza-claro;
      padding: 10px;
      font-size: 20px;

      span {
        font-size: 14px;
      }
    }

    .info {
      margin-top: 2em;
      padding-left: 1em;

      div {
        &:first-child {
          font-weight: normal;
          font-size: 14px;
          color: $cinza-escuro;
        }

        &:not(:first-child) {
          font-size: 15px;
          font-weight: bold;
          color: $preto;
        }
      }
    }
  }

  div.motivo-local {
    padding-bottom: 1em;

    .info-motivo-local {
      div {
        &:first-child {
          font-weight: normal;
          font-size: 14px;
          color: $cinza;
        }

        &:not(:first-child) {
          font-size: 14px;
          font-weight: bold;
          color: $cinza;
        }
      }
    }

    .info-motivo-alterar-dia {

      :nth-child(even) {
        font-weight: normal;
        font-size: 14px;
        color: $cinza;
      }

      :nth-child(odd) {
        font-size: 14px;
        font-weight: bold;
        color: $cinza;
      }

    }
  }

  .tabela-sem-borda {
    margin-top: 1em;

    table {
      font-size: 14px;
      border-collapse: collapse;
      width: 100%;

    }

    th, td {
      padding: 0.5em;
      text-align: left;
      border-bottom: 1px solid $preto;
    }
  }

  .observacoes {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 1em;

    .cabecalho {
      color: $cinza;
      line-height: 16px;
    }

    .resultado {
      font-weight: bold;
      line-height: 16px;
      color: $cinza-escuro;
    }
  }

  .total-unidades-kits {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    .cabecalho {
      color: $cinza;
      line-height: 16px;
    }

    .resultado {
      font-weight: bold;
      line-height: 16px;
      color: $cinza-escuro;
    }
  }
}


.question-history {
  font-size: 14px;

  .title {
    p {
      color: $cinza;
      font-weight: bold;
    }
  }

  .question-log {
    padding-top: 10px;

    .is-it-possible {
      padding-top: 5px;
      color: $cinza-escuro;

      .title {
        font-size: 14px;
        font-weight: bold;
      }

      .obs {
        padding-top: 10px;
        font-size: 13px;
      }
    }
  }
}

.bloco-relacao-por-diagnostico {
  h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $cinza;

  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $cinza-escuro;
  }

  hr {
    border: 1px solid $cinza-claro;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
}

.classificacao-dieta {
  h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $cinza;
  }
}


.bloco-pescritor-dieta-especial {
  table {
    width: 100%;

    th {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $cinza;
    }

    td {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $cinza-escuro;
    }
  }

  h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $cinza;
  }

  p {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $cinza-escuro;
  }

  hr {
    border: 1px solid $cinza-claro;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
}

.bloco-identificacao-nutri {
  h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $cinza;
  }

  div {
    border: 1px solid $cinza-claro;
    box-sizing: border-box;
    border-radius: 4px;
    width: 70%;
  }

  p {
    margin-left: 1em;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $cinza-escuro;
  }
}

.info-geral-inclusao {
  width: 100%;
}
