@import "variaveis";

@page {
  size: A4 landscape;
  margin: 0;
  font-family: 'Roboto';
}

@page :nth(n+2) {
  margin-top: 0;
}

@page :nth(1) {
  //WTF bug...
  margin-top: 0;
}

@media print {
  body, page {
    font-family: 'Roboto';
    margin: 0;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $verde;
  img {
    width: 103.5px;
    height: 37.26px;
  }
  h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: $branco;
  }
  .page-number:before {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: $branco;
    margin-right: 5px;
    content: counter(page) " / " counter(pages);
  }


  .tabela-cabecalho {
    tr:first-child td:first-child {
      border-top-left-radius: 4px;
    }
    tr:first-child td:last-child {
      border-top-right-radius: 4px;
    }
    tr:last-child td:first-child {
      border-bottom-left-radius: 4px;
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: 4px;
    }
    background-color: $branco;
    width: 100%;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0;
    border: solid 0.5px $preto;
    .custom-filtros {
      font-family: 'Roboto';
      font-style: normal;
      font-size: 10px;
      line-height: 15px;
      color: $preto;
      td {
        border: solid 1px $preto;
        border-left: solid 0.5px $preto !important;
        border-top: solid 0.5px $preto !important;
        border-right: solid 0.5px $preto !important;
        border-bottom: solid 0.5px $preto !important;
        padding: 5px;
      }
    }
  }
}

.titulo-body-p1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: $cinza-meio-escuro;
}

.tipo-contagem {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  .label-contagem {
    height: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    color: $branco;
    background: $verde-escuro;
    border: solid 1px $verde-escuro;
    border-radius: 4px 0px 0px 4px;
  }
  .value-contagem {
    height: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    border: solid 1px $cinza-claro;
    border-radius: 0px 4px 4px 0px;
    color: $cinza-meio-escuro;
    background: $branco;
  }
}

.tipo-avaliacao {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  .avaliacao-left {
    padding-top: 5px;
    padding-bottom: 5px;
    color: $branco;
    background: $verde-escuro;
    border: solid 1px $verde-escuro;
    border-radius: 4px 0px 0px 4px;
  }
  .avaliacao-center {
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px $cinza-claro;
    color: $cinza-meio-escuro;
    background: $branco;
  }
  .avaliacao-right {
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px $cinza-claro;
    border-radius: 0px 4px 4px 0px;
    color: $cinza-meio-escuro;
    background: $branco;
  }
}

.usuario-title {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 10px;
}

.bloco-usuarios {
  min-height: 150px;
}

.usuarios {
  .usuario-label {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 10px;
    width: 79%;
    height: 15px;
    padding: 5px;

    border: solid 1px $cinza-input;
    border-radius: 4px 4px 4px 4px;
  }

  .usuario-values {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 10px;
    height: 15px;
    padding: 5px;
    border: solid 1px $cinza-input;
    border-radius: 4px 4px 4px 4px;
    width: 18%
  }
}

.titulo-assinatura {
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 10px;
  color: $cinza-meio-escuro;
}

.assinatura {
  height: 100px;
  border: solid 1px $cinza-assinatura;
  border-radius: 4px 4px 4px 4px;
  img {
    padding-top: 25px;
    margin-left: -15px;
    width: 55px;
    height: 45px;
  }
  .texto {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
    span {
      text-align: justify;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
    }
  }
}

.titulo-tabela-observacoes,
.titulo-tabela-somatorio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: $cinza-meio-escuro;
}

.tabelas-somatorio {
  display: flex;

  table {
    width: 96%;
    margin-left: 1.5%;
    margin-right: 1%;
    font-size: 10px;
    text-align: center;
    border: 1px solid #DADADA !important;
    border-collapse: separate;
    border-spacing: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .head-tabelas-somatorio {
      tr {
        th {
          height: 25px;
          background-color: $verde-escuro;
          border-right: solid 1px #DADADA;
          border-bottom: solid 1px #DADADA;
          padding: 5px;
        }

        th:first-child {
          height: 25px;
          background-color: $verde-escuro;
          border-top-left-radius: 4px;
          padding: 5px;
        }

        th:last-child {
          height: 25px;
          background-color: $verde-escuro;
          border-top-right-radius: 4px;
          border-right: none;
          padding: 5px;
        }
      }

      .texto-branco {
        color: $branco;
      }
    }

    .body-tabelas-somatorio {
      font-size: 10px;
      font-weight: 700;
      color: $cinza-meio-escuro;

      tr {
        td {
          border-right: 1px solid #DADADA;
          border-bottom: 1px solid #DADADA;
          padding: 7px;
        }

        td:last-child {
          border-right: none;
          padding: 7px;
        }
      }

      tr:last-child {
        td {
          border-right: 1px solid #DADADA;
          border-bottom: none;
          padding: 7px;
        }

        td:last-child {
          border-right: none;
          padding: 7px;
        }
      }
    }
  }
}

table.tabela-valores-medicao {
  width: 98%;
  margin-left: 1%;
  font-size: 8px;
  border: 0.5px solid #DADADA;
  border-collapse: collapse;
  text-align: center;

  .tabela-observacoes-dia {
    width: 50px !important;
  }
  .tabela-observacoes-periodo {
    width: 150px !important;
  }
  .tabela-observacoes-tipo {
    width: 220px !important;
  }
  .tabela-observacoes-observacoes {
    width: 668px !important;
    overflow: hidden;
    position: absolute;
  }

  .texto-branco {
    color: $branco;
  }

  .periodo-grupo {
    font-size: 9px;
  }

  .categoria {
    background-color: $verde-escuro;
    font-size: 9px;
  }

  .cor-periodo-grupo-1 {
    background-color : #198459
  }

  .cor-periodo-grupo-2 {
    background-color : #D06D12
  }

  .cor-periodo-grupo-3 {
    background-color : #2F80ED
  }

  .cor-periodo-grupo-4 {
    background-color : #831d1c
  }

  .cor-periodo-grupo-5 {
    background-color : #00f7ff
  }

  .cor-periodo-grupo-6 {
    background-color : #1F861F
  }

  .cor-periodo-grupo-7 {
    background-color : #ff0095
  }

  .cor-periodo-grupo-8 {
    background-color : #9b51e0
  }

  .cor-periodo-grupo-9 {
    background-color : #B58B00
  }

  .nao-dia-letivo {
    background-color: $cinza-claro;
  }

  thead {
    tr {
      th {
        background-color: $verde;
        border: 0.5px solid #DADADA;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 0.5px solid #DADADA;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }

  .head-tabela-observacoes {
    tr {
      th {
        background-color: $verde-escuro;
      }
      th:last-child {
        border: none;
        border-bottom: 0.5px solid #DADADA;
        width: 669.5px !important;
        height: 9px !important;
      }
    }
  }

  .body-tabela-observacoes {
    tr {
      td {
        padding-top: 3px;
        padding-bottom: 3px;
        height: 19px;
      }

      td:last-child {
        border: none;
        border-bottom: 0.5px solid #DADADA;
        padding-bottom: 3.3px !important;
        height: 19px !important;
        padding-left: 10px;
        width: 660px !important;
        word-wrap: break-word;
      }
    }
  }
}

.bloco-assinatura {
  position: absolute;
  bottom: 35px;
}

.info-abaixo-tabela {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  color: $cinza-meio-escuro;
  margin-top: 0.5%;
  margin-left: 1.5%;
}
