hr {
  width: 98%;
  text-align: center;
  border-top: 0.1px solid #C0C0C0;
}

.cabecario-analise-sensorial-reduzido {
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.cabecario-analise-sensorial-data {
  height: 80px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}
.cabecario-analise-sensorial-data article:first-child {
  width: 449px;
  border-right: 1px solid #000;
  padding-top: 10px;
  padding-left: 10px;
}
.cabecario-analise-sensorial-data article:last-child {
  width: 280px;
}
.cabecario-analise-sensorial-data article:last-child div {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.cabecario-analise-sensorial-data article:last-child div:last-child {
  height: 39px;
  border-top: 1px solid #000;
}


.cabecario-analise-sensorial-nome-terceirizada {
  height: 80px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}
.cabecario-analise-sensorial-nome-terceirizada article:first-child {
  width: 449px;
  border-right: 1px solid #000;
}
.cabecario-analise-sensorial-nome-terceirizada article:first-child div {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.cabecario-analise-sensorial-nome-terceirizada article:first-child div:last-child  {
  height: 39px;
  border-top: 1px solid #000;
}

.cabecario-analise-sensorial-nome-terceirizada article:last-child {
  width: 280px;
}
.cabecario-analise-sensorial-nome-terceirizada article:last-child div {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.cabecario-analise-sensorial-nome-terceirizada article:last-child div:last-child {
  height: 39px;
  border-top: 1px solid #000;
}



.corpo-relatorio-produto-analise-sensorial{
  padding: 1em 2em 1em 2em;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial {
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  width: 730px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto {
  height: auto;
  max-height: 100%;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .uma-informacao {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .uma-informacao .ultima-info {
  border-bottom: 1px solid #c0c0c0;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .uma-informacao .ultima-info:first-child {
  padding-left: 15px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .uma-informacao .informacao {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 10px 0 0 10px;
  height: max-content;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .uma-informacao .informacao label {
  color: #686868;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .uma-informacao .informacao p {
  margin: 0px;
  padding: 0px;
  color: #686868;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .uma-informacao .informacao:last-child {
  width: 365px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes {
  display: inline-flex;
  flex-direction: row;
  height: 100px;
}

.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .ultima-info {
  border-bottom: 1px solid #c0c0c0;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .ultima-info:first-child {
  padding-left: 15px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 10px 0 0 10px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao-dois {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding: 10px 0 0 10px;
  height: auto;
  max-height: 100%;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao-tres {
  display: flex;
  flex-direction: column;
  width: 885px;
  padding: 10px 0 0 10px;
  height: auto;
  max-height: 100%;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao label {
  color: #686868;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao p {
  margin: 0px;
  padding: 0px;
  color: #686868;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao-dois label {
  color: #686868;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao-dois p {
  margin: 0px;
  padding: 0px;
  color: #686868;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
}

.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao-tres label {
  color: #686868;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao-tres p {
  margin: 0px;
  padding: 0px;
  color: #686868;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao:last-child {
  width: 365px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .visao-geral-produto .tres-informacoes .informacao-dois:last-child {
  width: 365px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .item-analise-sensorial-detalhe {
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  height: 36px;
  border: 1px solid #C0C0C0;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .item-analise-sensorial-detalhe .item-prod-detalhe {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  border-left: 1px solid #c0c0c0;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .item-analise-sensorial {
  background: #eee;
  display: flex;
  flex-direction: row;
  height: 36px;
  border: 1px solid #C0C0C0;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .item-analise-sensorial .item-prod {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  border-left: 1px solid #c0c0c0;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #686868;
}
.corpo-relatorio-produto-analise-sensorial .sessao-detalhes-analise-sensorial .item-analise-sensorial .item-prod:first-child {
  border-left: 0px;
}


.um{
  width: 175px
}
.dois{
  width: 165px
}
.tres{
  width: 100px
}


