@import "variaveis";

.row-quantitativo-status {
  display: flex;
  border-bottom: 1px solid $cinza-meio-claro;
  margin-bottom: 1em;
}

.status-flex-container {
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.5em;
  width: 25%;
}

.row-header {
  background-color: $cinza-quase-claro;
}

.row-inner-header {
  background-color: $cinza-claro;
}

.tabela-filtro {
  margin-top: 2em;
}
