@import "variaveis";

@page {
  margin-bottom: 3em;
  @bottom-left {
    content: 'TODO descobiri como passar mensagem dinamicamente...';
    //content: {{ escola.nome }};
    font-size: 10px;
    width: 100%;
    padding: 1em 2em 4em 2em;
    margin-top: 1em;
  }
  @bottom-right {
    content: counter(page);
    font-size: 10px;
    //width: 5em;
    padding: 1em 2em 4em 2em;
    margin-top: 1em;
  }
}

.tabela-sumario-totais {
  //margin-top: 10px;

  caption {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.25px;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  border-collapse: collapse;
  background: $branco;
  border: $borda-tabela-padrao;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 100%;

  tbody tr:last-child {
    td:nth-last-child(2) {
      background: #EDEDED;
    }

    td:nth-last-child(1) {
      background: #EDEDED;
    }
  }

}

.sumario-totais {
  padding: 0em 2em 0em 2em;

  table, th, td {
    border: $borda-tabela-padrao;
    padding: 0.3em;
  }
}

