{% load index %}

{% block cabecalho_solicitacao_partindo_escola %}
  <hr style="color: #EEEEEE; opacity: 0.3">
  <h5 style="text-align: center">Relatório SIGPAE - {{ solicitacao.DESCRICAO }}</h5>
  <div class="row id-pedido">
    <div class="retangulo-id w-25">
      # {{ solicitacao.id_externo }} <br/> <span>Nº DA SOLICITAÇÃO</span>
    </div>
    <div class="info w-50">
        <div>Solicitante</div>
        <div>{{ escola.nome }}</div>
    </div>
    <div class="info w-25">
      <div>Lote</div>
      <div>{{ escola.lote.nome|slice:"5:15" }}</div>
    </div>
    <div class="info w-25">
      <div>Tipo de gestão</div>
      <div>{{ escola.tipo_gestao.nome|slice:"5:15" }}</div>
    </div>
  </div>
  <div>
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>

{% endblock %}
