{% load index %}
{% block inclusao_alimentacao_normal %}
  <tr>
    <td colspan="6">
      <div class="row mt-2 mb-2 mx-2">
        <div class="col-4">Motivo:</div>
        <div class="col-4">Dia(s) de Inclusão:</div>
        <div class="col-4">Data da Autorização:</div>
      </div>
      {% if solicitacao.inclusoes %}
        {% for inclusao in solicitacao.inclusoes %}
        <div class="row my-2 mx-2">
          <div class="col-4"><b>{{inclusao.motivo}}</b></div>
          <div class="col-4"><b>{{inclusao.data|formatar_data_solicitacoes_alimentacao}}</b></div>
          {% if forloop.counter0 == 0 %}
          <div class="col-4">{{solicitacao.data_autorizacao}}</div>
          {% else %}
          <div class="col-4"></div>
          {% endif %}
        </div>
        {% endfor %}
      {% endif %}
      <div class="row mt-4 mb-2 mx-2">
        <div class="col-4">Período:</div>
        <div class="col-4">Tipos de Alimentação:</div>
        <div class="col-4">No de Alunos:</div>
      </div>
      {% if solicitacao.quantidades_periodo %}
        {% for quantidade_periodo in solicitacao.quantidades_periodo %}
        <div class="row my-2 mx-2">
          <div class="col-4"><b>{{quantidade_periodo.periodo}}</b></div>
          <div class="col-4"><b>{{quantidade_periodo.tipos_alimentacao}}</b></div>
          <div class="col-4"><b>{{quantidade_periodo.numero_alunos}}</b></div>
        </div>
        {% endfor %}
      {% endif %}
    </td>
  </tr>
{% endblock %}
