{% load index %}

{% block observacoes %}
    {% if solicitacao.observacao and solicitacao.observacao != "<p></p>" %}
      <div class="observacoes">
        <div>
          <p class="cabecalho">Observações:</p>
          <p class="resultado">{{ solicitacao.observacao | safe }}</p>
        </div>
      </div>
      <div>
        <hr style="color: #EEEEEE; opacity: 0.3">
      </div>
    {% endif %}
    {#  #TODO: normalizar campos observacao->descricao #}
    {% if solicitacao.descricao %}
      <div class="observacoes">
        <div>
          <p class="cabecalho">Observações:</p>
          <p class="resultado">{{ solicitacao.descricao | safe }}</p>
        </div>
      </div>
      <div>
        <hr style="color: #EEEEEE; opacity: 0.3">
      </div>
    {% endif %}
{% endblock %}
