{% load index %}
{% block alteracao_alimentacao_normal %}
  <tr>
    <td colspan="6">
      <div class="row mt-2 mb-2 mx-2">
        <div class="col-4">Tipo de Alteração:</div>
        <div class="col-4">Data(s) do Evento:</div>
        <div class="col-4">Data da Autorização:</div>
      </div>
      <div class="row my-2 mx-2">
        <div class="col-4"><b>{{solicitacao.motivo}}</b></div>
        {% if solicitacao.data_inicial == data_final %}
          <div class="col-4"><b>{{solicitacao.data_inicial}}</b></div>
        {% else %}
          <div class="col-4"><b>{{solicitacao.data_inicial}} - {{solicitacao.data_final}}</b></div>
        {% endif %}
        <div class="col-4">{{solicitacao.data_autorizacao}}</div>
      </div>
      <div class="row mt-4 mb-2 mx-2">
        <div class="col-4">Período:</div>
        <div class="col-4">Alteração de Alimentação De:</div>
        <div class="col-4">Alteração de Alimentação Para:</div>
      </div>
      {% for substituicao in solicitacao.substituicoes %}
        <div class="row my-2 mx-2">
          <div class="col-4"><b>{{substituicao.periodo}}</b></div>
          <div class="col-4"><b>{{substituicao.alteracao_de}}</b></div>
          <div class="col-4"><b>{{substituicao.alteracao_para}}</b></div>
        </div>
      {% endfor %}
      <div class="row my-2 mx-2">
        {% if solicitacao.observacao and solicitacao.observacao != '<p></p>' %}
          <div class="col-12 mb-2 pl-5 pr-5">Observação:</div>
          <div class="col-12 mb-2 pl-5 pr-5"><span>{{ solicitacao.observacao|safe }}</span></div>
        {% endif %}
      </div>
    </td>
  </tr>
{% endblock %}
