{% load index %}
{% block alteracao_alimentacao_normal %}
  <tr>
    <td colspan="6">
      <div class="row mt-2 mb-2 mx-2">
        <div class="col-3">ID da Solicitação:</div>
        <div class="col-3">Local do Passeio:</div>
        <div class="col-3">Opção Desejada:</div>
        <div class="col-3">Data {{solicitacao.label_data}}:</div>
      </div>
      <div class="row my-2 mx-2">
        <div class="col-3"><b># {{solicitacao.id_externo}}</b></div>
        <div class="col-3"><b>{{solicitacao.local_passeio}}</b></div>
        <div class="col-3"><b>{{solicitacao.kits}}</b></div>
        <div class="col-3"><b>{{solicitacao.data_log}}</b></div>
      </div>
      <div class="row mt-4 mb-2 mx-2">
        <div class="col-3">Tempo Previsto de Passeio:</div>
        <div class="col-3">No Total de Kits:</div>
        <div class="col-3"></div>
      </div>
      <div class="row my-2 mx-2">
        <div class="col-3"><b>{{solicitacao.tempo_passeio}}</b></div>
        <div class="col-3"><b>{{solicitacao.total_kits}}</b></div>
        <div class="col-3"></div>
      </div>
    </td>
  </tr>
{% endblock %}
