{% load index %}
{% block alteracao_alimentacao_cei %}
  <tr>
    <td colspan="6">
      <div class="row mt-2 mb-2 mx-2">
        <div class="col-4">Tipo de Alteração:</div>
        <div class="col-4">Data(s) do Evento:</div>
        <div class="col-4">Data {{solicitacao.label_data}}:</div>
      </div>
      <div class="row my-2 mx-2">
        <div class="col-4"><b>{{solicitacao.motivo}}</b></div>
        <div class="col-4"><b>{{solicitacao.data_evento|formatar_data_solicitacoes_alimentacao}}</b></div>
        <div class="col-4"><b>{{solicitacao.data_log}}</b></div>
      </div>
    </td>
  </tr>
  {% if  solicitacao.susbstituicoes %}
    {% for substituicao in solicitacao.susbstituicoes %}
    <tr>
      <td colspan="6">
        <div class="row mt-4 mx-2">
          <div class="col-12 pr-5">
            <p class="detalhes-cei">
              {{substituicao.periodo}}
            </p>
          </div>
        </div>
        <div class="row pl-5 mt-2 mb-2 mx-2">
          <div class="col-4">Alteração de Alimentação De:</div>
          <div class="col-4">Alteração de Alimentação Para:</div>
          <div class="col-4"></div>
        </div>
        <div class="row pl-5 mt-2 mb-2 mx-2">
          <div class="col-4"><b>{{substituicao.tipos_alimentacao_de}}</b></div>
          <div class="col-4"><b>{{substituicao.tipos_alimentacao_para}}</b></div>
          <div class="col-4"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <div class="row pl-5 mt-2 mb-2 mx-2">
          <div class="col-12">
            <table>
              <thead>
                <tr>
                  <th>Faixa Etária</th>
                  <th class="text-center">Alunos Matriculados	</th>
                  <th class="text-center">Quantidade</th>
                </tr>
              </thead>
              <tbody>
                {% if  substituicao.faixas_etarias %}
                  {% for faixa in substituicao.faixas_etarias %}
                  <tr>
                    <td>{{faixa.faixa_etaria}}</td>
                    {% if faixa.matriculados_quando_criado %}
                    <td class="text-center">{{faixa.matriculados_quando_criado}}</td>
                    {% else %}
                    <td class="text-center">Não preenchido</td>
                    {% endif %}
                    <td class="text-center">{{faixa.quantidade}}</td>
                  </tr>
                  {% endfor %}
                {% endif %}
                <tr class="style-total-table">
                  <td>Total</td>
                  <td class="text-center">{{substituicao.total_matriculados}}</td>
                  <td class="text-center">{{substituicao.total_alunos}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  {% endif %}
{% endblock %}
