{% load index %}

{% block historico_cancelamento_inclusao %}
  {% if solicitacao|existe_inclusao_cancelada %}
    <div class="observacoes">
      <div>
        <p class="cabecalho">Histórico de cancelamento:</p>
        {% for inclusao in solicitacao|inclusoes_canceladas %}
          {% if inclusao.data %}
            <div>{{ inclusao.data }} - justificativa: {{ inclusao.cancelado_justificativa }}</div>
          {% else %}
            <div>{{ inclusao.periodo_escolar.nome }} - {{ inclusao.tipos_alimentacao.all|concatena_str }} -
              {{ inclusao.numero_alunos }} - justificativa: {{ inclusao.cancelado_justificativa }}</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div>
      <hr style="color: #EEEEEE; opacity: 0.3">
    </div>
  {% endif %}
{% endblock %}
