{% load index %}
{% block suspensao_alimentacao_cei %}
  <tr>
    <td colspan="6" style="border-bottom: none">
      <div class="row mt-2 mb-2 mx-2">
        <div class="col-4">Motivo</div>
        <div class="col-4">Dia de suspensão:</div>
      </div>
      <div class="row my-2 mx-2">
        <div class="col-4"><b>{{ solicitacao.data_evento }}</b></div>
        <div class="col-4"><b>{{ solicitacao.motivo.nome }}</b></div>
      </div>
      </td>
  </tr>
<tr>
    <td colspan="6" style="border-top: none">
      <div class="row mt-2 mb-2 mx-2">
        <div class="col-4">Período</div>
        <div class="col-4">Tipos de alimentação:</div>
      </div>
      {% for periodo in solicitacao.periodos_escolares.all %}
        <div class="row my-2 mx-2">
          <div class="col-4"><b>{{ periodo.nome }}</b></div>
          <div class="col-4"><b>{{ periodo.tipos_alimentacao.all|concatena_str }}</b></div>
        </div>
      {% endfor %}
    </td>
  </tr>
{% endblock %}
