{% load index %}
{% block alteracao_alimentacao_cei %}
  <tr>
    <td colspan="6">
      <div class="row mt-2 mb-2 mx-2">
        <div class="col-3">ID da Solicitação:</div>
        <div class="col-3">Tipo de Alteração:</div>
        <div class="col-3">Data(s) do Evento:</div>
        <div class="col-3">Data {{solicitacao.label_data}}:</div>
      </div>
      <div class="row my-2 mx-2">
        <div class="col-3"><b># {{solicitacao.id_externo}}</b></div>
        <div class="col-3"><b>{{solicitacao.motivo}}</b></div>
        <div class="col-3"><b>{{solicitacao.data_evento|formatar_data_solicitacoes_alimentacao}}</b></div>
        <div class="col-3">{{solicitacao.data_log}}</div>
      </div>
    </td>
  </tr>
  {% if solicitacao.substituicoes %}
    {% for substituicao in solicitacao.substituicoes %}
      <tr>
        <td colspan="6">
          <div class="row mt-4 mx-2">
            <div class="col-12 pr-5">
              <p class="detalhes-cei">
                {{ substituicao.periodo }}
              </p>
            </div>
          </div>
          <div class="row mb-2 mx-2">
            {% if substituicao.faixas_cei %}
            <div class="col-12 mb-2 pl-5 pr-5">
              <p class="detalhes-cei">
                Alunos CEI
              </p>
            </div>
            <div class="col-12 mb-2 pl-5 pr-5">
              Alteração do tipo de Alimentação de: <b>{{substituicao.faixas_cei.tipos_alimentacao_de}}</b>
            </div>
            <div class="col-12 mb-2 pl-5 pr-5">
              Alteração do tipo de Alimentação de: <b>{{substituicao.faixas_cei.tipos_alimentacao_para}}</b>
            </div>
            <div class="col-12 mb-2 pl-5">
              <table>
                <thead>
                  <tr>
                    <th>Faixa Etária</th>
                    <th class="text-center">Alunos Matriculados	</th>
                    <th class="text-center">Quantidade</th>
                  </tr>
                </thead>
                <tbody>
                  {% if substituicao.faixas_cei.faixas_etarias %}
                    {% for faixa in substituicao.faixas_cei.faixas_etarias %}
                    <tr>
                      <td>{{faixa.faixa_etaria}}</td>
                      {% if faixa.matriculados_quando_criado %}
                      <td class="text-center">{{faixa.matriculados_quando_criado}}</td>
                      {% else %}
                      <td class="text-center">Não preenchido</td>
                      {% endif %}
                      <td class="text-center">{{faixa.quantidade}}</td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                  <tr class="style-total-table">
                    <td>Total</td>
                    <td class="text-center">{{ substituicao.faixas_cei.total_matriculados }}</td>
                    <td class="text-center">{{ substituicao.faixas_cei.total_alunos }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% endif %}
            {% if substituicao.faixas_emei %}
            <div class="col-12 mb-2 pl-5 pr-5">
              <p class="detalhes-cei">
                Alunos EMEI
              </p>
            </div>
            <div class="col-12 mb-2 pl-5">
              Alteração do tipo de Alimentação de: <b>{{substituicao.faixas_emei.tipos_alimentacao_de}}</b>
            </div>
            <div class="col-12 mb-2 pl-5">
              Alteração do tipo de Alimentação de: <b>{{substituicao.faixas_emei.tipos_alimentacao_para}}</b>
            </div>
            <div class="col-12 mb-2 pl-5">
              <table>
                <thead>
                  <tr>
                    <th class="text-center">Alunos Matriculados: {{substituicao.faixas_emei.matriculados_quando_criado}}</th>
                    <th class="text-center">Quantidade: {{substituicao.faixas_emei.quantidade}}</th>
                  </tr>
                </thead>
              </table>
            </div>
            {% endif %}
          </div>
        </td>
      </tr>
    {% endfor %}
  {% endif %}
{% endblock %}
