{% load index %}

{% block historico_questionamento %}
    {% if solicitacao.logs.all|tem_questionamentos %}
      <div class="question-history">
        <h5 class="title">Histórico de questionamento</h5>
        <div class='question-log'>
            {% for log in solicitacao.logs.all %}
                {% if log.status_evento_explicacao == "Questionamento pela CODAE" %}
                  <div class="is-it-possible">
                    <div class="title">
                      É possível atender a solicitação com todos os itens
                      previstos no contrato?
                    </div>
                    <div class="obs mb-3">
                      Observação da CODAE: {{ log.justificativa | observacao_padrao:"CODAE" | safe }}
                    </div>
                  </div>
                {% endif %}
                {% if log.status_evento_explicacao == "Terceirizada respondeu questionamento" %}
                  <div class="is-it-possible">
                    <div class="title">
                        {{ log.resposta_sim_nao |aceita_nao_aceita_str }}
                    </div>
                    <div class="obs mb-3">
                      Observação da Terceirizada: {{ log.justificativa |observacao_padrao:"Terceirizada" | safe }}
                    </div>
                  </div>
                {% endif %}
                {% if log.status_evento_explicacao == "CODAE autorizou" %}
                  <div class="is-it-possible">
                    <div class="title">Autorizou</div>
                      {% if log.justificativa %}
                        <div class="obs">
                          Observação da CODAE: {{ log.justificativa | safe }}
                        </div>
                      {% endif %}
                  </div>
                {% endif %}
                {% if log.status_evento_explicacao == "CODAE negou" %}
                  <div class="is-it-possible">
                    <div class="title">Negou</div>
                      {% if log.justificativa %}
                        <div class="obs">
                          Observação da CODAE: {{ log.justificativa | safe }}
                        </div>
                      {% endif %}
                  </div>
                {% endif %}
            {% endfor %}
        </div>
      </div>
    {% endif %}
{% endblock %}
