{% load index %}

{% block observacao_codae_autoriza %}
  <div class="observacoes">
    <div>
      {% for log in solicitacao.logs%}
        {% if log.status_evento_explicacao == "CODAE autorizou" %}
          <p class="cabecalho mb-2"><b>Autorizou</b></p>
          <div>{{ log.criado_em }} - Informações da CODAE</div>
          <div class="mt-2 justificativa-cancelamento-escola-dre">
            {{ log.justificativa }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
