{% load index %}
{#Este template serve para gerar as bolinhas de status.#}
{#Para funcionar precisa de:#}
{# - logs (Vide modelo LogSolicitacoesUsuario)#}
{# - fluxo (é um dicionario passado, vide constants.py)#}
{# - width (Tamanho dinâmico em % de cada bolinha. Ex: se tiver 3 bolinhas entao 33,3333334%)#}
{% block fluxo_de_status %}
  <div class="progress-bar-main-div">
    <div>
      <ul class="progressbar-titles">
        {% for status in fluxo|or_logs:logs %}
          <li style="width: {{ width }}">
          {% if logs|index_exists:forloop.counter %}
            {{ logs|get_element_by_index:forloop.counter0|get_attribute:'status_evento_explicacao' }}
          {% else %}{{ status.titulo }}{% endif %}
        {% endfor %}
      </ul>
      <ul class="progressbar">
        {% for status in fluxo|or_logs:logs %}
          <li class="{% if logs|index_exists:forloop.counter %}
                {{ logs|get_element_by_index:forloop.counter0|class_css }}
                {% else %}{% if logs|fim_de_fluxo %} {% else %}pending{% endif %}{% endif %}"
              style="width: {{ width }}">
            {% if logs|index_exists:forloop.counter %}
              {{ logs|get_element_by_index:forloop.counter0|get_attribute:'criado_em'|date:"d/m/Y H:i:s" }}
              <br/>
              <span>
                  RF: {{ logs|get_element_by_index:forloop.counter0|get_attribute:'usuario'|get_attribute:'registro_funcional' }}
                  <br/>
                  {{ logs|get_element_by_index:forloop.counter0|get_attribute:'usuario'|get_attribute:'nome' }}
                </span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
