{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}


<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/override_relatorio.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/fluxo_status.scss' %}" type="text/css">
</head>
<body>
<header class="header">
  <figure class="logo-titulo">
    <img src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1>SIGPAE - RESPOSTA À ANÁLISE SENSORIAL</h1>
  </figure>
  <section class="conteudo-titulo-analise">
     <article>
       <div>NOME DO PRODUTO: {{ produto.nome }}</div>
       <div>FABRICANTE: {{ produto.fabricante }}</div>
     </article>
     <article>
       <div>MARCA: {{ produto.marca }}</div>
       <div>DATA PEDIDO DE ANÁLISE: {{ ultimo_log.criado_em|date:'d/m/Y' }}</div>
     </article>
  </section>
</header>
{% block conteudo %}

{% endblock %}
</body>
