<html>
<head>
  <title>Test</title>
  <link rel="stylesheet"
        href="/home/marcelo/git/SME-Terceirizadas/sme_terceirizadas/relatorios/static/css/cabecalho.css">
</head>
<body>
<header>

  <section class="titulo">
    <img src="/home/marcelo/git/SME-Terceirizadas/sme_terceirizadas/relatorios/static/svg/logo_prefeitura.svg">
    <h1 class="titulo">Sistema gestão do programa de alimentação escolar - 29/700</h1>
  </section>
  <section class="titulo-detalhes">
    <aticle class="titulo-escola">
      <div>Escola: 091847 ANGELO MARTINO EMEI</div>
      <div>DRE: DRE IPIRANGA</div>
    </aticle>
    <article class="detalhes">
      <section class="detalhes-itens">
        <div>De: 05/02/2019</div>
        <div>De: 05/07/2019</div>
      </section>
      <section class="detalhes-itens">
        <div>Tipo de solicitação: Todos</div>
        <div>Status de solitação: Todos</div>
      </section>
    </article>
  </section>
</header>
</body>
</html>
