<html>
<head>
  <title>Test</title>
  <link rel="stylesheet"
        href="/home/marcelo/git/SME-Terceirizadas/sme_terceirizadas/relatorios/static/css/cabecalho.css">
</head>
<body>
<header>
  <section class="titulo-e-logo">
    <img src="/home/marcelo/git/SME-Terceirizadas/sme_terceirizadas/relatorios/static/images/logo_prefeitura.png">
    <h1>Sistema de gestão do programa de alimentação escolar - 29/700</h1>
  </section>
  <div class="tabela">
    <div class="linha borda-div">
      <div>Escola: 091847 ANGELO MARTINO EMEI</div>
      <div>DRE: DRE IPIRANGA</div>
    </div>
    <div class="linha borda-div">
      <div>De: 05/02/2019</div>
      <div>Até: 05/02/2019</div>
      <div>Tipo de solicitação: Todos</div>
      <div>Status de solitação: Todos</div>
    </div>
  </div>
</header>
</body>
</html>
