{% extends 'cabecalho_rodape_ficha_identificacao_produto.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
<div class="conteudo tabela-sem-borda">
  <div class="section">
    <h5 style="color: #686868; margin-bottom: -8px;">Descrição da Empresa Solicitante (Terceirizada)</h5>
    <div class="tabela-sem-borda">
      <table class="ficha-produto-table">
        <thead>
          <tr class="sem-border-bottom">
            <td style="color: #686868; margin-left: 0; padding-left: 0;">
              <div>
                Empresa Solicitante (Terceirizada)
              </div>
            </td>
            <td style="color: #686868">
              <div>
                Telefone
              </div>
            </td>
            <td style="color: #686868">
              <div>
                E-mail
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0;">
              <div>
                {{ homologacao_produto.rastro_terceirizada.nome_fantasia }}
              </div>
            </td>
            <td>
              <div>
                {{ contato_empresa.telefone }}
              </div>
            </td>
            <td style="margin-right: 0; padding-right: 0;">
              <div>
                {{ contato_empresa.email }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr style="color: #EEEEEE; margin-top: 15px; margin-bottom: -5px;">
  <div class="section">
    <h5 style="color: #686868; margin-bottom: -8px;">Editais Vinculados</h5>
    <div class="tabela-sem-borda">
      <table class="ficha-produto-table">
        <thead>
          <tr class="sem-border-bottom">
            <td style="color: #686868; margin-left: 0; padding-left: 0;">
              <div>
                Editais Vinculados ao Produto
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0; margin-right: 0; padding-right: 0;">
              <div>
                {{ editais_vinculados|default:'Ainda não existe nenhum edital vinculado ao produto' }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr style="color: #EEEEEE; margin-top: 15px; margin-bottom: -5px;">
  <div class="section">
    <h5 style="color: #686868; margin-bottom: -8px;">Identificação do Produto</h5>
    <div class="tabela-sem-borda">
      <table class="ficha-produto-table">
        <thead>
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0; color: #686868">
              <div>
                Nome do Produto
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0; margin-right: 0; padding-right: 0;">
              <div>
                {{ homologacao_produto.produto.nome }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="ficha-produto-table">
        <thead>
          <tr class="sem-border-bottom">
            <td style="color: #686868; margin-left: 0; padding-left: 0;">
              <div>
                Marca
              </div>
            </td>
            <td style="color: #686868">
              <div>
                Fabricante
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0;">
              <div>
                {{ homologacao_produto.produto.marca }}
              </div>
            </td>
            <td style="margin-right: 0; padding-right: 0;">
              <div>
                {{ homologacao_produto.produto.fabricante }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="ficha-produto-table">
        <thead>
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0; color: #686868">
              <div>
                O produto se destina a alimentação de alunos com dieta especial?
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0; margin-right: 0; padding-right: 0;">
              <div>
                {% if homologacao_produto.produto.eh_para_alunos_com_dieta %}
                  SIM
                {% else %}
                  NÃO
                {% endif %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="ficha-produto-table">
        <thead>
          <tr class="sem-border-bottom">
            <td style="color: #686868; margin-left: 0; padding-left: 0;">
              <div>
                Componentes do produto
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0; margin-right: 0; padding-right: 0;">
              <div>
                {{ homologacao_produto.produto.componentes|default:'--' }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="ficha-produto-table">
        <thead>
          <tr class="sem-border-bottom">
            <td style="color: #686868; margin-left: 0; padding-left: 0; width: 55%; font-size: 12px;">
              <div>
                O produto contém ou pode conter ingredientes/aditivos alergênicos?
              </div>
            </td>
            <td style="color: #686868; font-size: 12px; font-weight: 700;">
              <div>
                IMPORTANTE
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0;">
              <div>
                {% if homologacao_produto.produto.tem_aditivos_alergenicos %}
                  SIM
                {% else %}
                  NÃO
                {% endif %}
              </div>
            </td>
            <td style="margin-right: 0; padding-right: 0; font-size: 10px;">
              <div style="padding-top: 13px; padding-bottom: 12px; background: white;">
                Relacioná-los conforme dispõe a RDC nº 26 de 02/07/15
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr style="color: #EEEEEE; margin-top: 15px; margin-bottom: -5px;">
  <div class="section">
    <h5 style="color: #686868; margin-bottom: -8px;">Informações Nutricionais</h5>
    <div class="tabela-sem-borda">
      <table class="ficha-produto-table">
        <thead>
          <tr class="sem-border-bottom">
            <td style="color: #686868; margin-left: 0; padding-left: 0;">
              <div>
                Porção
              </div>
            </td>
            <td style="color: #686868">
              <div>
                Unidade Caseira
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0;">
              <div>
                {{ homologacao_produto.produto.porcao }}
              </div>
            </td>
            <td style="margin-right: 0; padding-right: 0;">
              <div>
                {{ homologacao_produto.produto.unidade_caseira }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tabela-info-nutricional">
      <table>
        <thead>
          <tr>
            <td colspan="4">
              Título
            </td>
            <td>
              Quantidade por porção
            </td>
            <td>
              %VD(*)
            </td>
          </tr>
        </thead>
        <tbody>
          {% for informacao in informacoes_nutricionais %}
            <tr>
              <td colspan="4">
                {{ informacao.informacao_nutricional.nome }}
              </td>
              <td>
                {{ informacao.quantidade_porcao }} {{ informacao.informacao_nutricional.medida }}
              </td>
              <td>
                {{ informacao.valor_diario }} %
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div style="font-size: 10px; margin-top:10px; margin-bottom: 15px; text-align: justify; color: #686868;">
        % Valores Diários com base em uma dieta de 2.000 Kcal ou 8.400 KJ.
        Seus valores diários podem ser maiores ou menores dependendo de suas necessidades energéticas. (**) VD não estabelecidos
      </div>
    </div>
  </div>
  <hr style="color: #EEEEEE; margin-top: 15px; margin-bottom: -5px;">
  <div class="section">
    <h5 style="color: #686868; margin-bottom: -8px;">Informações do Produto (classificação)</h5>
    <div class="tabela-sem-borda">
      <table class="ficha-produto-table">
        <thead>
          <tr class="sem-border-bottom">
            <td style="color: #686868; margin-left: 0; padding-left: 0;">
              <div>
                Classificação de Grãos
              </div>
            </td>
            <td style="color: #686868">
              <div>
                Embalagem Primária
              </div>
            </td>
            <td style="color: #686868">
              <div>
                Prazo de Validade
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0;">
              <div>
                {{ homologacao_produto.produto.tipo|default:'Sem classificação' }}
              </div>
            </td>
            <td>
              <div>
                {{ especificacao_primaria.embalagem_produto.nome }} - {{ especificacao_primaria.volume }} {{ especificacao_primaria.unidade_de_medida.nome }}
              </div>
            </td>
            <td style="margin-right: 0; padding-right: 0;">
              <div>
                {{ homologacao_produto.produto.prazo_validade }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="ficha-produto-table">
        <thead>
          <tr class="sem-border-bottom">
            <td style="color: #686868; margin-left: 0; padding-left: 0;">
              <div>
                Condições de armazenamento, conservação e prazo máximo para consumo após abertura da embalagem
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0; margin-right: 0; padding-right: 0;">
              <div>
                {{ homologacao_produto.produto.info_armazenamento|default:'Sem informações sobre armazenamento' }}
              </div>
            </td>
          </tr>
        </tbody>
        <thead>
          <tr class="sem-border-bottom">
            <td style="color: #686868; margin-left: 0; padding-left: 0;">
              <div>
                Outras informações
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0; margin-right: 0; padding-right: 0;">
              <div>
                {{ homologacao_produto.produto.outras_informacoes|default:'Sem mais informações' }}
              </div>
            </td>
          </tr>
        </tbody>
        <thead>
          <tr class="sem-border-bottom">
            <td style="color: #686868; margin-left: 0; padding-left: 0;">
              <div>
                Nº de registro do produto de órgão competente
              </div>
            </td>
          </tr>
        </thead>
        <tbody class="ficha-produto-body">
          <tr class="sem-border-bottom">
            <td style="margin-left: 0; padding-left: 0; margin-right: 0; padding-right: 0;">
              <div>
                {{ homologacao_produto.produto.numero_registro|default:'Registro não encontrado' }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section">
    {% if imagens %}
      <hr style="color: #EEEEEE; margin-top: 30px;">
      <h5 style="color: #686868;">Fotos do Produto</h5>
      <table class="tabela-imagem">
        {% for imagem in imagens %}
          {% if forloop.first %}
            <tr>
          {% endif %}
            <td>
              <div class="imagem">
                <img class="imagem-produto" src="{{ URL }}{{ imagem.arquivo.url }}" alt="{{ imagem.nome|default:'imagem-produto' }}">
              </div>
            </td>
          {% if forloop.last %}
            </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"4" %}
              </tr><tr>
            {% endif %}
          {% endif %}
        {% endfor %}
      </table>
    {% endif %}
    {% if documentos %}
      <hr style="color: #EEEEEE; margin-bottom: -5px;">
      <h5 style="color: #686868; margin-bottom: 15px;">Documentos</h5>
      {% for documento in documentos %}
        <div style="margin-bottom: 5px; font-size: 14px;">
          {{ documento.nome }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
