{% extends 'cabecalho_relatorio_analise_sensorial_recebimento.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
<section class="corpo-relatorio-produto">
  <article class="detalhes-empresa">
    <div class="nome">
      <div class="label">Empresa solicitante (Terceirizada)</div>
      <div class="value">{{ terceirizada.nome }}</div>
    </div>
    <div class="telefone">
      <div class="label">Telefone</div>
      <div class="value">{{ terceirizada.representante_telefone }}</div>
    </div>
    <div class="email">
      <div class="label">E-mail</div>
      <div class="value">{{ terceirizada.representante_email }}</div>
    </div>
  </article>

  <section class="identificacao-produto">
    <h4>
      Análise sensorial
    </h4>

    <article class="uma-informacao">
      <header>
        <p>Análise sensorial solicitada</p>
      </header>
      <main>
        <p>{{ ultimo_log.criado_em|date:'d/m/Y H:i'}}</p>
      </main>
    </article>

    <article class="uma-informacao">
      <header>
        <p>Solicitação de análise sensorial</p>
      </header>
      <main>
        <p>{{ ultimo_log.justificativa|striptags|safe }}</p>
      </main>
    </article>


    <article class="assinaturas">
      <div>
        <p>Nome da pessoa que recebeu produto:</p>
        <p class="assinatura"></p>
      </div>
      <div>
        <p>RF do responsável do recebimento:</p>
        <p class="assinatura"></p>
      </div>
      <div>
        <p>Data/Hora recebimento:</p>
        <p class="assinatura"></p>
      </div>
    </article>


  </section>

</section>
{% endblock %}