{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}

<div class="row mx-5 my-2">
  {% if solicitacao.foi_solicitado_fora_do_prazo%}
    <div class="col-12" style="color: #42474A; font-weight: 700; font-size: 14px">Solicitação fora do prazo regular</div>
  {% else %}
    <div class="col-12" style="color: #42474A; font-weight: 700; font-size: 14px">Solicitação no prazo regular</div>
  {% endif %}
  <div class="col-12 my-3" style="color: #42474A; font-weight: 700; font-size: 14px; text-align: center">Relatório SIGPAE - Inclusão de Alimentação</div>
</div>

<div class="row mx-5 my-2" style="font-weight: 400; font-size: 14px; color: #42474A;">
  <div class="col-4" style="padding: 1%; font-family: 'Roboto'; font-style: normal; font-weight: 700; background: #F3F3F3; border: 1px solid #E3E6F0; border-radius: 4px; text-align: center; color: #42474A;">
    <p style="font-size: 24px; margin: 0;"># {{ solicitacao.id_externo }}</p>
    <p style="font-size: 14px; margin: 0;">Nº DA SOLICITAÇÃO</p>
  </div>
  <div class="col-6">
    <p>Escola Solicitante:</p>
    <p><b>{{ escola.nome }}</b></p>
  </div>
  <div class="col-2">
    <p>EOL:</p>
    <p><b>{{ escola.codigo_eol }}</b></p>
  </div>
  <div class="col-3">
    <p>DRE:</p>
    <p><b>{{ escola.diretoria_regional.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Lote:</p>
    <p><b>{{ escola.lote.nome|retorna_lote }}</b></p>
  </div>
  <div class="col-3">
    <p>Tipo de Gestão:</p>
    <p><b>{{ escola.tipo_gestao.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Empresa:</p>
    <p><b>{{ escola.lote.terceirizada.nome }}</b></p>
  </div>
</div>

<div class="row mx-4 my-2">
  <div class="col-12">
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
</div>

{% include "bloco_fluxo_de_status.html" %}

<div class="row mx-4 my-2">
  <div class="col-12">
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
</div>


<div class="row mx-5 my-2" style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; color: #42474A;">
  <div class="col-12">
    <p><b>Solicitação de Alimentação</b></p>
  </div>
  <div class="col-4">
    <p>Motivo:</p>
  </div>
  <div class="col-4">
    <p>Dia(s) de inclusão:</p>
  </div>
  {% if solicitacao|existe_inclusao_cancelada or solicitacao.status == 'ESCOLA_CANCELOU' %}
  <div class="col-4">
    <p>justificativa(s) de cancelamento:</p>
  </div>
  {% endif %}
</div>
<div class="row mx-5 my-2">
  {% for dia_motivo in dias_motivos_da_inclusao_cei %}
    <div class="col-4">
      {% if dia_motivo.cancelado_justificativa %}
        <p style="color: #a8a8a8; text-decoration: line-through;"><b>{{dia_motivo.motivo.nome}}</b></p>
      {% else %}
        <p><b>{{ dia_motivo.motivo.nome }}</b></p>
      {% endif %}
    </div>
    <div class="col-4">
      {% if dia_motivo.cancelado_justificativa %}
        <p style="color: #a8a8a8; text-decoration: line-through;"><b>{{dia_motivo.data}}</b></p>
      {% else %}
        <p><b>{{ dia_motivo.data }}</b></p>
      {% endif %}
    </div>
    {% if dia_motivo.cancelado_justificativa or solicitacao.status == 'ESCOLA_CANCELOU' %}
      <div class="col-4">
        <p><b>{{dia_motivo.cancelado_justificativa}}</b></p>
      </div>
    {% else %}
      <div class="col-4">
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="row mx-4 my-2">
  <div class="col-12">
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
</div>

<div class="row mx-5 my-2">
  <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
    INTEGRAL
  </div>
</div>
{% for inclusao in inclusoes %}
  {% if inclusao.total_solicitacao > 0 %}
    <div class="row mx-5" style="padding: 0px 3% 0px 3%;">
      <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
        {{inclusao.periodo}}
      </div>
    </div>
    <div class="row mx-5" style="padding: 0px 3% 0px 3%;">
      <div class="col-12 my-2" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
        Tipos de Inclusão de Alimentação: <b>{{inclusao.tipos_alimentacao}}</b>
      </div>
    </div>
    <div class="mx-5" style="padding: 0px 3% 0px 3%;">
      <table class="table table-bordered">
        <thead>
          <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
            <th>Faixa Etária</th>
            <th style="text-align: center">Alunos Matriculados</th>
            <th style="text-align: center">Quantidade</th>
          </tr>
        </thead>
        <tbody>
          {% for faixa in inclusao.quantidade_por_faixa_etaria %}
            <tr style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; color: #333333;">
              <td>{{faixa.faixa_etaria}}</td>
              <td style="text-align: center">{{faixa.quantidade_matriculados}}</td>
              <td style="text-align: center">{{faixa.quantidade_alunos}}</td>
            </tr>
          {% endfor %}
          <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
            <td>Total</td>
            <td style="text-align: center">{{inclusao.total_matriculados}}</td>
            <td style="text-align: center">{{inclusao.total_solicitacao}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endif %}
{% endfor %}

<div class="row mx-4 my-2">
  <div class="col-12">
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
</div>

<div class="mx-4 my-2">
  {% include "bloco_observacoes.html" %}
  {% include "bloco_historico_questionamento.html" %}
  {% include "bloco_historico_cancelamento_inclusao.html" %}
  {% if solicitacao.status != 'ESCOLA_CANCELOU' %}
    {% include "bloco_historico_cancelamento.html" %}
  {% endif %}
</div>
{% endblock %}
