{% load static %}
{% load sass_tags %}

<html>
  <head>
    <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'css/produtos_suspensos_terceirizada.scss' %}" type="text/css">
  </head>
  <header class="header">
    <section class="titulo-e-logo">
      <img class='custom-logo' src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
      <h1 class='custom-title'>SISTEMA GESTÃO DO PROGRAMA DE ALIMENTAÇÃO ESCOLAR</h1>
    </section>
    <table class="tabela-cabecalho top-cabecalho">
        <tr class="custom-filtros">
          <td><b>RELATÓRIO DE ANÁLISE DE PRODUTOS SUSPENSOS</b></td>
          <td class="text-center"></td>
          <td class="text-right"><b>Data: </b>{{ hoje }}</td>
        </tr>
        <tr class="custom-filtros">
          <td><b>SUSPENSOS ATÉ: </b>{{ data_final }}</td>
          <td class="text-center"><b>EDITAL: </b>{{ nome_edital }}</td>
          <td class="text-right"><b>TOTAL DE ITENS: </b>{{ total }}</td>
        </tr>
        {% if filtros %}
          <tr class="custom-filtros">
            <td colspan="3"><b>FILTROS APLICADOS: </b>{{ filtros }}</td>
          </tr>
        {% endif %}
    </table>
  </header>
  <body>
    <div class="tabela-filtro">
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Marca</th>
            <th>Edital</th>
            <th>Tipo</th>
            <th>Cadastro</th>
            <th>Suspensão</th>
          </tr>
        </thead>
        <tbody style="page-break-inside: avoid">
          {% for produto in produtos %}
            <tr>
              <td>{{ produto.nome }}</td>
              <td>{{ produto.marca }}</td>
              <td>{{ produto.edital }}</td>
              <td>{{ produto.tipo }}</td>
              <td>{{ produto.cadastro }}</td>
              <td>{{ produto.suspensao }}</td>
            </tr>
            <tr>
              <td colspan="6"><b>Justificativa: </b>{{ produto.justificativa|safe }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
