{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/produtos_terceirizada.scss' %}" type="text/css">
</head>
<header class="header">
  <section class="titulo-e-logo">
    <img src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1>SIGPAE - RELATÓRIO DE PRODUTOS HOMOLOGADOS</h1>
  </section>
  {% include "tabela_filtros.html" with filtros=filtros %}
</header>
<body>
  <div class="tabela-filtro">
    <h5>Relatório de produtos homologados</h5>
    <table>
      <thead>
        <tr>
          <th>Terceirizada</th>
          <th>Nome do produto</th>
          <th>Marca</th>
          <th>Dieta Especial</th>
          <th>Contém Alergênicos</th>
          <th>Data de cadastro</th>
          <th>Data de homologação</th>
        </tr>
      </thead>
      <tbody>
        {% for grupo in dados_agrupados.results %}
          {% for produto in grupo.produtos %}
            <tr>
              <td>{{ grupo.terceirizada.nome }}</td>
              <td>{{ produto.nome }}</td>
              <td>{{ produto.marca.nome }}</td>
              <td>{{ produto.eh_para_alunos_com_dieta|yesno:"Sim,Não" }}</td>
              <td>{{ produto.tem_aditivos_alergenicos|yesno:"Sim,Não" }}</td>
              <td>{{ produto.criado_em|date:"d/m/Y" }}</td>
              <td>{{ produto.data_homologacao|date:"d/m/Y" }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td class="total-grupo" colspan="7">Total de produtos cadastrados por {{ grupo.terceirizada.nome }}: {{ grupo.produtos|length }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td class="total-geral" colspan="7">Total de produtos cadastrados no período: {{ dados_agrupados.total_produtos }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
