{% extends 'cabecalho_relatorio_adesao.html' %}

{% load index %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" href="{% sass_src 'css/relatorio_adesao.scss' %}" type="text/css" />
{% endblock %}

{% block conteudo %}
<main>
  <h2>RELATÓRIO DE ADESÃO DAS ALIMENTAÇÕES SERVIDAS</h2>
  <div>
    {% for periodo, alimentacoes in resultados.items %}
    <div id="periodo">
      <h3>{{ periodo }}</h3>
      <table>
        <thead>
          <tr>
            {% for coluna in colunas %}
            <th>{{ coluna }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for alimentacao, totais in alimentacoes.items %}
          <tr>
            <td>{{ alimentacao }}</td>
            {% for total, valor in totais.items %}
              {% if total == "total_adesao" %}
              <td>{{ valor|numero_para_porcentagem }}</td>
              {% else %}
              <td>{{ valor|numero_para_milhar }}</td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
          <tr>
            <td>TOTAL</td>
            <td>{{ alimentacoes|relatorio_adesao_total_servido|numero_para_milhar }}</td>
            <td>{{ alimentacoes|relatorio_adesao_total_frequencia|numero_para_milhar }}</td>
            <td>{{ alimentacoes|relatorio_adesao_total_adesao|numero_para_porcentagem }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
