{% extends 'cabecalho_rodape_resumo_mes_ano.html' %}
{% load static %}
{% load index %}

{% block conteudo %}
<div class="tabela-resumo-mes">
  <h5>Resumo do mês atual comparado com o mês anterior</h5>
  <table>
    <thead>
      <tr>
        <th>Solicitações</th>
        <th>No mês atual</th>
        <th>No mês anterior</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Autorizadas:</td>
        <td>{{ resumos_mes.total_autorizados }}</td>
        <td>{{ resumos_mes.total_autorizados_mes_passado }}</td>
      </tr>
      <tr>
        <td>Negadas:</td>
        <td>{{ resumos_mes.total_negados }}</td>
        <td>{{ resumos_mes.total_negados_mes_passado }}</td>
      </tr>
      <tr>
        <td>Pendentes:</td>
        <td>{{ resumos_mes.total_pendentes }}</td>
        <td>{{ resumos_mes.total_pendentes_mes_passado }}</td>
      </tr>
      <tr>
        <td>Canceladas:</td>
        <td>{{ resumos_mes.total_cancelados }}</td>
        <td>{{ resumos_mes.total_cancelados_mes_passado }}</td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>{{ resumos_mes.total_mes_atual }}</td>
        <td>{{ resumos_mes.total_mes_passado }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="tabela-resumo-mes evolucao-mensal">
  <h5>Relatório de terceirizadas - Evolução das solicitações por tipo</h5>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Alteração do tipo de Alimentação</th>
        <th>Inclusão de alimentação</th>
        <th>Kit Lanche Passeio</th>
        <th>Kit Lanche Unificado</th>
        <th>Suspensão de alimentação</th>
        <th>Inversão de Dia de Cardápio</th>
        <th>Dieta Especial</th>
      </tr>
    </thead>
    <tbody>
      {% for indice_mes in meses %}
      <tr>
        <td>{{ indice_mes|numero_pra_mes }}:</td>
        <td>{{ resumo_ano | get_item:'Alteração do tipo de Alimentação'|get_dado_mes:indice_mes }}</td>
        <td>{{ resumo_ano | get_item:'Inclusão de Alimentação'|get_dado_mes:indice_mes }}</td>
        <td>{{ resumo_ano | get_item:'Kit Lanche Passeio'|get_dado_mes:indice_mes }}</td>
        <td>{{ resumo_ano | get_item:'Kit Lanche Unificado'|get_dado_mes:indice_mes }}</td>
        <td>{{ resumo_ano | get_item:'Suspensão de Alimentação'|get_dado_mes:indice_mes }}</td>
        <td>{{ resumo_ano | get_item:'Inversão de dia de Cardápio'|get_dado_mes:indice_mes }}</td>
        <td>{{ resumo_ano | get_item:'Dieta Especial'|get_dado_mes:indice_mes }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>TOTAL:</td>
        <td>{{ resumo_ano | get_item:'Alteração do tipo de Alimentação'|get_total }}</td>
        <td>{{ resumo_ano | get_item:'Inclusão de Alimentação'|get_total }}</td>
        <td>{{ resumo_ano | get_item:'Kit Lanche Passeio'|get_total }}</td>
        <td>{{ resumo_ano | get_item:'Kit Lanche Unificado'|get_total }}</td>
        <td>{{ resumo_ano | get_item:'Suspensão de Alimentação'|get_total }}</td>
        <td>{{ resumo_ano | get_item:'Inversão de dia de Cardápio'|get_total }}</td>
        <td>{{ resumo_ano | get_item:'Dieta Especial'|get_total }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
