{% load index %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/relatorio_solicitacoes_alimentacao.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/custom_bootstrap.scss' %}" type="text/css">
</head>
<header class="header">
  <section class="titulo-e-logo">
    <img class='custom-logo' src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1 class='custom-title'>SIGPAE - RELATÓRIO DE solicitações de alimentação {{status_formatado}}</h1>
  </section>
  <table class="tabela-cabecalho tabela-arredondada">
      <tr class="custom-filtros">
        <td>Total de Solicitaçãoes {{status_formatado}}: <b>{{total_solicitacoes}}</b></td>
        <td class="text-right">Data do Relatório: <b>{{data_extracao_relatorio}}</b></td>
      </tr>
  </table>
</header>
<body>
  <div class="tabela-filtro">
    <table>
      <thead>
        <tr>
          <th>Lote</th>
          {% if status == 'RECEBIDAS' %}
            <th colspan="2">Terceirizada</th>
          {% else %}
            <th colspan="2">Unidade Educacional</th>
          {% endif %}
          <th>Tipo de Solicitação </th>
          <th class="text-center">Data do Evento</th>
          <th class="text-center">N° de Alunos</th>
        </tr>
      </thead>
        {% for solicitacao in solicitacoes %}
         <tbody style="page-break-inside: avoid">
          <tr>
            <td>{{solicitacao.lote}}</td>
            {% if status == 'RECEBIDAS' %}
              <td colspan="2">{{solicitacao.terceirizada}}</td>
            {% else %}
              <td colspan="2">{{solicitacao.unidade_educacional}}</td>
            {% endif %}
            <td>{{solicitacao.tipo_doc}}</td>
            {% if solicitacao.tipo_doc == 'Alteração do tipo de Alimentação' and solicitacao.data_inicial == solicitacao.data_final %}
              <td class="text-center">{{solicitacao.data_evento|formatar_data_solicitacoes_alimentacao}}</td>
            {% elif solicitacao.data_inicial and solicitacao.data_inicial != solicitacao.data_final %}
              <td class="text-center">{{solicitacao.data_inicial|formatar_data_solicitacoes_alimentacao}} -
                {{solicitacao.data_final|formatar_data_solicitacoes_alimentacao}}</td>
            {% elif solicitacao.tipo_doc == 'Inversão de dia de Cardápio' or solicitacao.tipo_doc == 'Suspensão de Alimentação' %}
              <td class="text-center">{{solicitacao.data_evento}}</td>
            {% elif solicitacao.datas %}
              <td class="text-center">{{solicitacao.datas}}</td>
            {% else %}
              <td class="text-center">{{solicitacao.data_evento|formatar_data_solicitacoes_alimentacao}}</td>
            {% endif %}
            {% if solicitacao.tipo_doc == 'Inversão de dia de Cardápio' %}
              <td class="text-center">-</td>
            {% else %}
              <td class="text-center">{{solicitacao.numero_alunos}}</td>
            {% endif %}
          </tr>
          {% if solicitacao.tipo_doc == 'Inclusão de Alimentação'%}
            {% include "bloco_inclusao_normal.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Inclusão de Alimentação Contínua'%}
            {% include "bloco_inclusao_continua.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Inclusão de Alimentação CEI'%}
            {% include "bloco_inclusao_cei.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Inclusão de Alimentação CEMEI' %}
            {% include "bloco_inclusao_cemei.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Alteração do tipo de Alimentação' %}
            {% include "bloco_alteracao_alimenta''cao.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Alteração do Tipo de Alimentação CEI' %}
            {% include "bloco_alteracao_alimentacao_cei.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Alteração do tipo de Alimentação CEMEI' %}
            {% include "bloco_alteracao_alimentacao_cemei.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Inversão de dia de Cardápio' %}
            {% include "bloco_inversao_dia_cardapio.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Suspensão de Alimentação' %}
            {% include "bloco_suspensao_alimentacao.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Suspensão de Alimentação de CEI' %}
            {% include "bloco_suspensao_alimentacao_cei.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Kit Lanche Passeio' %}
            {% include "bloco_kit_lanche_passeio.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Kit Lanche Passeio Unificado' %}
            {% include "bloco_kit_lanche_passeio_unificado.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Kit Lanche Passeio de CEI' %}
            {% include "bloco_kit_lanche_passeio_cei.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.tipo_doc == 'Kit Lanche Passeio de CEMEI' %}
            {% include "bloco_kit_lanche_passeio_cemei.html" with solicitacao=solicitacao %}
          {% endif %}
          {% if solicitacao.observacao and solicitacao.observacao != '<p></p>' %}
            <tr>
              <td colspan="6">
                <div class="row mt-4 mb-2 mx-2">
                  <div class="col-12">Observação:</div>
                  <div class="col-12"><b><span>{{ solicitacao.observacao|safe }}</span><b></div>
                </div>
              </td>
            </tr>
          {% endif %}
        </tbody>
     {% endfor %}
    </table>
  </div>
</body>
</html>
