{% load index %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/custom_bootstrap.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/relatorio_solicitacao_medicao_por_escola.scss' %}" type="text/css">
</head>
<body>
  <header class="header">
    <div class="row p-0 mx-4">
      <div class="col-2">
        <img src="{% static 'images/LOGO_FUNDO_CLARO.png' %}" alt=""/>
      </div>
      <div class="col-8">
        <h1 class="text-center">
          SECRETARIA MUNICIPAL DE EDUCAÇÃO - SME | COORDENADORIA DE ALIMENTAÇÃO ESCOLAR - CODAE
        </h1>
        <h1 class="text-center">
          MEDIÇÃO INICIAL DO SERVIÇO DE NUTRIÇÃO E ALIMENTAÇÃO ESCOLAR
        </h1>
      </div>
      <div class="col-1"></div>
      <div class="col-1">
        <h1 class="text-right">Página</h1>
        <h1 class="page-number text-right"></h1>
      </div>
    </div>
    <div class="row p-0 mx-2">
      <div class="col-12">
        <table class="tabela-cabecalho">
          <tr class="custom-filtros">
            <td><b>Cód. EOL: </b>{{ solicitacao.escola.codigo_eol }}</td>
            <td><b>U.E: </b>{{ solicitacao.escola.nome }}</td>
            <td><b>Telefone da UE: </b>{{ solicitacao.escola.contato.telefone }}</td>
            <td><b>DRE: </b>{{ solicitacao.escola.diretoria_regional.nome }}</td>
          </tr>
          <tr class="custom-filtros">
            <td><b>Lote: </b>{{ solicitacao.rastro_lote.nome }}</td>
            <td colspan="2"><b>Empresa Prestadora do Serviço: </b>{{ solicitacao.rastro_terceirizada.razao_social }}</td>
            <td><b>REFERÊNCIA: </b>{{ solicitacao.mes }}/{{ solicitacao.ano }}</td>
          </tr>
        </table>
      </div>
    </div>
  </header>
  <div class="row p-0 mx-4 my-5">
    <div class="col-12">
      <h1 class="text-center titulo-body-p1">INFORMAÇÕES BÁSICAS DA MEDIÇÃO</h1>
    </div>
  </div>

  <div class="row p-0 mx-4 mt-5 tipo-avaliacao align-items-center">
      <div class="col-3 avaliacao-left text-center">
          Avaliação do Serviço
      </div>
      <div class="col-6 avaliacao-center text-center">
          Neste mês, a direção da Unidade Educacional considera que o serviço foi realizado a contento?
      </div>
      <div class="col-3 avaliacao-right text-center">
          {% if solicitacao.com_ocorrencias %}
          Não, com ocorrências
          {% else %}
          Sim, sem ocorrências
          {% endif %}
      </div>
  </div>

  <div class="mt-5"></div>
  <div class="row p-0 mx-4 mt-5">
    <div class="col-12 usuario-title"><span><b>Responsáveis por acompanhar a prestação de serviços</b></span></div>
  </div>
  <div class="bloco-usuarios">
    {% for responsavel in responsaveis %}
    <div class="row p-0 mx-4 mt-2 usuarios">
      <div class="usuario-label mr-2"><span><b>Nome: {{responsavel.nome}}</b></span></div>
      <div class="usuario-values"><span><b>RF: {{responsavel.rf}}</b></span></div>
    </div>
    {% endfor %}
  </div>
  <div class="mt-5"></div>
  <div class="row p-0 mx-4 mt-5">
    <div class="col-6 mr-3 titulo-assinatura">
      <b>ASSINATURA UNIDADE EDUCACIONAL</b>
    </div>
    <div class="col-5 titulo-assinatura">
      <b>RESPONSÁVEL PELA CONFERÊNCIA NA DRE</b>
    </div>
  </div>
  <div class="row p-0 mx-4 mt-3">
    <div class="col-6 mr-3 assinatura">
      {% if assinatura_escola %}
      <div class="row p-0 mx-1">
        <div class="col-2">
          <img src="{% static 'images/logo-sigpae.png' %}" alt=""/>
        </div>
        <div class="col-10 texto">
          <span>
            {{assinatura_escola}}
          </span>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-6 assinatura">
      {% if assinatura_dre %}
      <div class="row p-0 mx-1">
        <div class="col-2">
          <img src="{% static 'images/logo-sigpae.png' %}" alt=""/>
        </div>
        <div class="col-10 texto">
          <span>
            {{assinatura_dre}}
          </span>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  {% block tabelas %}{% endblock %}

  {% include "relatorio_somatorio_solicitacao_medicao_por_escola_cei.html" with tabelas_somatorios=tabelas_somatorios %}

</body>
</html>
