{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/produtos_terceirizada.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/relatorio_quantitativo.scss' %}" type="text/css">
</head>
<header class="header">
  <section class="titulo-e-logo">
    <img src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1>SIGPAE - RELATÓRIO QUANTITATIVO DE PRODUTOS POR TERCEIRIZADAS</h1>
  </section>
  {% include "tabela_filtros.html" with filtros=filtros %}
</header>
<body>
  <div class="tabela-filtro">
    <h5>Resultados no período</h5>
    <table>
      <thead>
        <tr class="row-header">
          <th colspan="2">Terceirizadas</th>
          <th>Período (dias)</th>
          <th>Quantidade total de produtos</th>
        </tr>
      </thead>
      <tbody>
        {% for terceirizada in dados_relatorio.detalhes %}
          <tr class="row-inner-header">
            <td colspan="2">{{ terceirizada.nomeTerceirizada }}</td>
            <td>{{ dados_relatorio.qtdeDias }}</td>
            <td>{{ terceirizada.totalProdutos }}</td>
          </tr>
          <tr>
            <td colspan="4">
              <div class="row-quantitativo-card">
                <div class="row-quantitativo-status">
                  <div class="status-flex-container status-flex-container-33">
                    <div>Produtos homologados</div>
                    <div>{{terceirizada.qtdePorStatus.PRODUTOS_HOMOLOGADOS}}</div>
                  </div>
                  <div class="status-flex-container status-flex-container-33">
                    <div>Produtos não homologados</div>
                    <div>{{terceirizada.qtdePorStatus.PRODUTOS_NAO_HOMOLOGADOS}}</div>
                  </div>
                  <div class="status-flex-container status-flex-container-33">
                    <div>Produtos suspensos</div>
                    <div>{{terceirizada.qtdePorStatus.PRODUTOS_SUSPENSOS}}</div>
                  </div>
                </div>
                <div class="row-quantitativo-status">
                  <div class="status-flex-container status-flex-container-33">
                    <div>Produtos em análise de reclamação</div>
                    <div>{{terceirizada.qtdePorStatus.PRODUTOS_ANALISE_RECLAMACAO}}</div>
                  </div>
                  <div class="status-flex-container status-flex-container-33">
                    <div>Produtos aguardando correção</div>
                    <div>{{terceirizada.qtdePorStatus.PRODUTOS_AGUARDANDO_CORRECAO}}</div>
                  </div>
                  <div class="status-flex-container status-flex-container-33">
                    <div>Reclamação de produto</div>
                    <div>{{terceirizada.qtdePorStatus.RECLAMACAO_DE_PRODUTO}}</div>
                  </div>
                </div>
                <div class="row-quantitativo-status">
                  <div class="status-flex-container status-flex-container-50">
                    <div>Produtos pendentes de homologação</div>
                    <div>{{terceirizada.qtdePorStatus.PRODUTOS_PENDENTES_HOMOLOGACAO}}</div>
                  </div>
                  <div class="status-flex-container status-flex-container-50">
                    <div>Produtos aguardando análise sensorial</div>
                    <div>
                      {{terceirizada.qtdePorStatus.PRODUTOS_AGUARDANDO_ANALISE_SENSORIAL}}
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
