{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/produtos_terceirizada.scss' %}" type="text/css">
</head>
<header class="header">
  <section class="titulo-e-logo">
    <img class='custom-logo' src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1 class='custom-title'>SIGPAE - RELATÓRIO DE PRODUTOS HOMOLOGADOS</h1>
  </section>
  <table class="tabela-cabecalho tabela-arredondada">
    {% if filtros.tipo_usuario == "Terceirizada" %}
      <tr class="custom-filtros">
        <td>Terceirizada: <b>{{ filtros.nome_terceirizada }}</b></td>
        <td class="text-right">Total de produtos homologados: <b>{{ filtros.quantidade_homologados }}</b></td>
      </tr>
    {% endif %}
    {% if filtros.tipo_usuario == "Escola" %}
      <tr class="custom-filtros">
        <td>Edital: <b>{{ filtros.nome_edital }}</b></td>
        <td class="text-right">Total de produtos homologados: <b>{{ filtros.quantidade_homologados }}</b></td>
      </tr>
    {% endif %}
    {% if filtros.tipo_usuario == "Outros" %}
      <tr class="custom-filtros">
        <td>Total de produtos homologados: <b>{{ filtros.quantidade_homologados }}</b></td>
      </tr>
    {% endif %}
  </table>
</header>
<body>
  <div class="tabela-filtro">
    <table>
      <thead>
        <tr>
          {% if exibe_coluna_terceirizada %}
            <th>Terceirizada</th>
          {% endif %}
          <th>Produto</th>
          <th>Marca</th>
          <th>Edital</th>
          <th>Tipo</th>
          <th>Contém Alergênicos</th>
          <th>Cadastro</th>
          <th>Homologação</th>
        </tr>
      </thead>
      <tbody>
        {% for grupo in dados_agrupados %}
          <tr>
            {% if exibe_coluna_terceirizada %}
              <td>{{ grupo.terceirizada }}</td>
            {% endif %}
            <td>{{ grupo.nome }}</td>
            {% if grupo.marca %}
              <td>{{ grupo.marca }}</td>
            {% else %}
              <td class="text-center"> - </td>
            {% endif %}
            {% if grupo.edital %}
              <td>{{ grupo.edital }}</td>
            {% else %}
              <td class="text-center"> - </td>
            {% endif %}
            {% if  grupo.tipo == 'Comum'%}
              <td class="text-center">COMUM</td>
            {% else %}
              <td class="text-center">ESPECIAL</td>
            {% endif %}
            <td class="text-center">{{ grupo.tem_aditivos_alergenicos|yesno:"Sim,Não" }}</td>
            <td>{{ grupo.cadastro }}</td>
            <td>{{ grupo.homologacao }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
