{% extends 'cabecalho_rodape_relatorio_dietas_terceirizada.html' %}
{% load index %}
{% load sass_tags %}
{% load static %}

{% block conteudo %}
<link rel="stylesheet" href="{% sass_src 'css/relatorio_dietas_especiais_terceirizada.scss' %}" type="text/css">
<div class="wrapper">
  <div class="data-extracao mb-2">
    Data de Extração: <b>{{ data_extracao }}</b>
  </div>
  <div class="titulo-relatorio">
    Relatório de Dietas Especiais
  </div>
  <div class="status">Dietas {{ status }}</div>
  <div class="filtros">
    <div class="todos-filtros">{{ filtros }}</div>
    <div class="contador">Total {{ quantidade_solicitacoes }} dietas</div>
  </div>
  <div class="resultado">
    <table class="table table-lg table-bordered">
      <thead>
        <tr>
          <th scope="col">Cód. EOL do aluno</th>
          <th scope="col">Nome do aluno</th>
          <th scope="col">Nome da escola</th>
          <th scope="col">Classificação da dieta</th>
          <th scope="col">
            {% if diagnostico %}
              Relação por Diagnóstico
            {% else %}
              Protocolo padrão
            {% endif %}
          </th>
          {% if status == 'canceladas' %}
            <th scope="col">Data de cancelamento</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for solicitacao in solicitacoes %}
        <tr>
          <td>{{ solicitacao.codigo_eol_aluno }}</td>
          <td>{{ solicitacao.nome_aluno }}</td>
          <td>{{ solicitacao.nome_escola }}</td>
          <td>{{ solicitacao.classificacao }}</td>
          <td>
            {% if diagnostico %}
              {% for alergia in solicitacao.alergias_intolerancias.all %}
                <p>{{ alergia }}</p>
              {% endfor %}
            {% else %}
              {{ solicitacao.protocolo_padrao }}
            {% endif %}
          </td>
          {% if status == 'canceladas' %}
            <td>{{ solicitacao.data_cancelamento }}</td>
          {% endif %}

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
