{% extends 'cabecalho_relatorio_controle_frequencia.html' %}

{% load index %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" href="{% sass_src 'css/relatorio_controle_frequencia.scss' %}" type="text/css" />
<style>
  @page {
    @bottom-center {
      width: 100%;
      background: #EEEEEE;
      color: #000000;
      content: counter(page) " / " counter(pages);
      font-size: 14px;
    }
    margin-bottom: 2em;
  }

  td:not(:first-child) {
    text-align: center;
  }
</style>
{% endblock %}

{% block conteudo %}
<main>
  <div>Total de matriculados na unidade {{ matriculados_data_str }}: <b>{{ total_matriculados }}</b></div>
  <div>
    {% for periodo in periodos %}
      <div id="periodo">
        <div class="periodo-cabecalho">
          <div>Matriculados em <b>Período {{ periodo.periodo|title }}: {{ periodo.quantidade }}</b></div>
          <div>Mês: <b>{{ mes_ano_formatado|upper }}</b></div>
        </div>
        <table class="tabela-principal">
          <thead class="thead-controle-frequencia">
            <tr>
              <th>Faixas Etárias</th>
              <th colspan="{{dias_do_mes|length}}">Frequência</th>
              <th>Período Parcial</th>
            </tr>
          </thead>
          <tbody>
            {% for faixa in periodo.faixas %}
              <tr class="linha-faixa-matriculados">
                <td>
                  {{ faixa.nome_faixa }} - Matriculados: {{ faixa.alunos_por_faixa|length }}
                </td>

                {% for dia in dias_do_mes %}
                  {% eh_dia_nao_letivo dia escola_nome mes_ano as dia_nao_letivo %}
                  <td class="coluna-frequencia-head {% if dia_nao_letivo %}dia-nao-letivo-frequencia-head{% endif %}">{{ dia }}</td>
                {% endfor %}
                
                <td />
              </tr>
              {% for aluno in faixa.alunos_por_faixa %}
                <tr>
                  <td class="coluna-nome-aluno">
                    {{ aluno }}
                    {% tem_dieta_especial aluno periodo.alunos_com_dietas_autorizadas as aluno_com_dieta %}
                    {% if aluno_com_dieta %}
                      <img src="{% static 'images/icone_tooltip_pb.png' %}" alt="tooltip-dieta" />
                    {% endif %}
                  </td>

                  {% for dia in dias_do_mes %}
                    {% aluno_nessa_faixa_etaria dia aluno faixa.dias as aluno_nesta_faixa_dia %}
                    {% eh_dia_nao_letivo dia escola_nome mes_ano as dia_nao_letivo %}
                    <td class="coluna-frequencia {% if not aluno_nesta_faixa_dia %}nao-exibe-checkbox{% endif %} {% if dia_nao_letivo %}dia-nao-letivo{% endif %}">
                      {% if aluno_nesta_faixa_dia %}
                        <div class="checkbox-frequencia {% if dia_nao_letivo %}dia-nao-letivo-ckbox-freq{% endif %}" />
                      {% endif %}
                    </td>
                  {% endfor %}

                  <td>
                    <div class="checkbox-periodo-parcial" />
                  </td>
                </tr>

                {% tem_dieta_especial aluno periodo.alunos_com_dietas_autorizadas as aluno_com_dieta %}
                {% if aluno_com_dieta %}
                  <tr>
                    <td colspan="{{dias_do_mes|get_quantidade_total_colunas}}" class="aluno-com-dieta-especial">
                      <img src="{% static 'images/icone_tooltip_pb.png' %}" alt="tooltip-dieta" />
                      {{ aluno|get_string_aluno_dieta:periodo.alunos_com_dietas_autorizadas }}
                    </td>
                  </tr>
                {% endif %}

              {% endfor %}
              <tr>
                <td class="total-frequentes-por-faixa">
                  Total de Frequentes de {{ faixa.nome_faixa }}:
                </td>

                {% for dia in dias_do_mes %}
                  <td />
                {% endfor %}

                <td />
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
