{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/produtos_terceirizada.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/relatorio_situacao_produto.scss' %}" type="text/css">
</head>
<header class="header">
  <section class="titulo-e-logo">
    <img src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1>SIGPAE - RELATÓRIO QUANTITATIVO DE SOLICITAÇÕES DE DIETA ESPECIAL</h1>
  </section>
  {% include "tabela_filtros_dre_escola.html" with filtros=filtros %}
</header>
<body>
  <div class="tabela-filtro">
    <table>
      <thead>
        <tr class="row-header">
          {% if 'aluno__escola__diretoria_regional__nome' in campos %}
            <th>Diretoria Regional</th>
          {% endif %}
          {% if 'aluno__escola__nome' in campos %}
            <th>Escola</th>
          {% endif %}
          {% if filtros.status == "" or filtros.status == "pendentes" %}
            <th>Dietas pendentes</th>
          {% endif %}
          {% if filtros.status == "" or filtros.status == "ativas" %}
            <th>Dietas ativas</th>
          {% endif %}
          {% if filtros.status == "" or filtros.status == "inativas" %}
            <th>Dietas inativas</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for resultado in queryset %}
          <tr class="row-inner-header">
            {% if 'aluno__escola__diretoria_regional__nome' in campos %}
              <td>{{ resultado.aluno__escola__diretoria_regional__nome }}</td>
            {% endif %}
            {% if 'aluno__escola__nome' in campos %}
              <td>{{ resultado.aluno__escola__nome }}</td>
            {% endif %}
            {% if filtros.status == "" or filtros.status == "pendentes" %}
              <td>{{ resultado.qtde_pendentes }}</td>
            {% endif %}
            {% if filtros.status == "" or filtros.status == "ativas" %}
              <td>{{ resultado.qtde_ativas }}</td>
            {% endif %}
            {% if filtros.status == "" or filtros.status == "inativas" %}
              <td>{{ resultado.qtde_inativas }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
