{% extends 'cabecalho_rodape_filtro.html' %}
{% load static %}

{% block conteudo %}
  <div class="tabela-filtro">
    <h5>Relatório DIGPAE - Solicitações {{ filtro.status }} no período</h5>
    <table>
      <caption>{{ query_set_consolidado.count }} solicitações {{ filtro.status }}</caption>
      <thead>
      <tr>
        <th>Data/Hora da solicitação</th>
        <th>Nº da solicitação</th>
        <th>Tipo da solicitação</th>
        <th>Quantidade de alunos</th>
      </tr>
      </thead>
      <tbody>
      {% for consolidado in query_set_consolidado %}
        <tr>
          <td>{{ consolidado.criado_em|date:"d/m/Y G:i:s" }}</td>
          <td>{{ consolidado.id_externo }}</td>
          <td>{{ consolidado.desc_doc }}</td>
          <td>{{ consolidado.numero_alunos }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
