{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/produtos_terceirizada.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/relatorio_situacao_produto.scss' %}" type="text/css">
</head>
<header class="header">
  <section class="titulo-e-logo">
    <img src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1>SIGPAE - RELATÓRIO DE SITUAÇÃO DE PRODUTO</h1>
  </section>
  {% include "tabela_filtros.html" with filtros=filtros %}
</header>
<body>
  <div class="tabela-filtro">
    <table>
      <thead>
        <tr class="row-header">
          <th>Nome do produto</th>
          <th>Marca do produto</th>
          <th>Data cadastro</th>
          <th>Situação produto</th>
          <th>Data situação</th>
        </tr>
      </thead>
      <tbody>
        {% for produto in queryset %}
          <tr class="row-inner-header">
            <td>{{ produto.nome }}</td>
            <td>{{ produto.marca.nome }}</td>
            <td>{{ produto.criado_em|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ produto.ultima_homologacao.status.state.title }}</td>
            <td>{{ produto.ultima_homologacao.ultimo_log.criado_em|date:"SHORT_DATE_FORMAT" }}</td>
          </tr>
          <tr class="row-inner">
            <td colspan="5">
              <div class="row-quantitativo-card">
                <div class="row-quantitativo-status">
                  <div class="status-flex-container">
                    <div>Nome do fabricante</div>
                    <div>{{produto.fabricante.nome}}</div>
                  </div>
                  <div class="status-flex-container">
                    <div>Dieta especial</div>
                    <div>{{produto.eh_para_alunos_com_dieta|yesno:"Sim,Não"}}</div>
                  </div>
                  <div class="status-flex-container">
                    <div>Aditivos alergênicos</div>
                    <div>{{produto.tem_aditivos_alergenicos|yesno:"Sim,Não"}}</div>
                  </div>
                </div>
                {% if produto.ultima_homologacao.status.state.title == "CODAE não homologou" %}
                  <div class="status-flex-container-justificativa ">
                    <div class="justificativa">Motivo da recusa de Homologação</div>
                    <div>{{produto.justificativa|safe}}</div>
                  </div>
                {% endif %}
                <div class="row-line"></div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
