{% load index %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/relatorio_solicitacoes_alimentacao.scss' %}" type="text/css">
</head>
<header class="header">
  <section class="titulo-e-logo">
    <img class='custom-logo' src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1 class='custom-title'>SIGPAE - RELATÓRIO DE solicitações de alimentação AUTORIZADAS</h1>
  </section>
  <table class="tabela-cabecalho tabela-arredondada">
      <tr class="custom-filtros">
        <td>Total de Solicitaçãoes Autorizadas: <b>11.350</b></td>
        <td class="text-right">Data do Relatório: <b>24/10/2022</b></td>
      </tr>
  </table>
</header>
<body>
  <div class="tabela-filtro">
    <table>
      <thead>
        <tr>
          <th>Lote</th>
          <th>Terceirizada</th>
          <th>Unidade Educacional</th>
          <th>Tipo de Solicitação </th>
          <th>Data do Evento</th>
          <th>N° de Alunos</th>
        </tr>
      </thead>
      <tbody>
        {% for solicitacao in solicitacoes %}
          <tr>
            <td>{{solicitacao.lote}}</td>
            <td>{{solicitacao.terceirizada}}</td>
            <td>{{solicitacao.unidade_educacional}}</td>
            <td>{{solicitacao.tipo_doc}}</td>
            <td>{{solicitacao.data_evento}}</td>
            <td>{{solicitacao.numero_alunos}}</td>
          </tr>
          {% if solicitacao.tipo_doc == 'Inclusão de Alimentação'%}
            <tr>
              <td colspan="6">
                <!-- Detalhes aqui -->
              </td><div class="row">

                </div>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
