{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
  <div class="conteudo tabela-sem-borda">
      {% include "bloco_fluxo_de_status.html" %}
      {% include "bloco_cabecalho_solicitacao_partindo_escola.html" %}
    <table class='info-geral-inclusao'>
      {% for data_intervalo in solicitacao.datas_intervalo.all %}
        <tr>
          <th>Tipo de Alteração</th>
          <th>Dia</th>
          {% if data_intervalo.cancelado %}
            <th>Justificativa</th>
          {% endif %}
        </tr>
        <tr class="{% if data_intervalo.cancelado or solicitacao.status == 'ESCOLA_CANCELOU' %}cancelado{% endif %}">
          <td>
            {{ solicitacao.motivo.nome }}
          </td>
          <td>{{ data_intervalo.data }}</td>
          {% if data_intervalo.cancelado %}
            <td style="text-decoration: none">Justificativa: {{ data_intervalo.cancelado_justificativa }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    <div class="tabela-sem-borda">
      <table class="thead-black">
        <thead>
        <tr>
          <td>Período</td>
          <td>Alteração alimentação de</td>
          <td>Alteração alimentação para</td>
          <td>Número de alunos</td>
        </tr>
        </thead>
        <tbody>
        {% for substituicao in substituicoes %}
          <tr>
            <td>{{ substituicao.periodo }}</td>
            <td>{{ substituicao.tipos_alimentacao_de }}</td>
            <td>{{ substituicao.tipos_alimentacao_para }}</td>
            <td>{{ substituicao.qtd_alunos }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
      {% include "bloco_observacoes.html" %}
      {% include "bloco_historico_questionamento.html" %}
      {% if solicitacao.status == 'ESCOLA_CANCELOU' %}
        {% include "bloco_historico_cancelamento.html" %}
      {% endif %}
      {% include "bloco_observacao_codae_autoriza.html" %}
  </div>
{% endblock %}
