{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load sass_tags %}
{% load static %}

{% block conteudo %}
<link rel="stylesheet" href="{% sass_src 'css/dieta_especial_protocolo.scss' %}" type="text/css">
<div class="conteudo dieta-especial-protocolo">
  <div class="tabela-dados-solicitacao">
    <table>
      <thead>
        <tr>
          {% if solicitacao.tipo_solicitacao == 'ALUNO_NAO_MATRICULADO' %}
          <th class="w-25">CPF do Aluno</th>
          {% else %}
          <th class="w-25">Cód. EOL do Aluno</th>
          {% endif %}
          <th class="w-40">Nome Completo do Aluno</th>
          <th class="w-25">Data de Nascimento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% if solicitacao.tipo_solicitacao == 'ALUNO_NAO_MATRICULADO' %}
          <td>{{ solicitacao.aluno.cpf|default:'' }}</td>
          {% else %}
          <td>{{ solicitacao.aluno.codigo_eol|default:'' }}</td>
          {% endif %}
          <td>{{ solicitacao.aluno.nome }}</td>
          <td>{{ solicitacao.aluno.data_nascimento|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
      </tbody>
    </table>
    {% if solicitacao.tipo_solicitacao == 'ALUNO_NAO_MATRICULADO' %}
    <table>
      <tr>
        <th class="w-25">CPF do Responsável</th>
        <th class="w-40">Nome completo do Responsável</th>
        <th class="w-25" />
      </tr>
      {%with responsavel=solicitacao.aluno.responsaveis.first %}
      <tr>
        <td>{{ responsavel.cpf|default:'' }}</td>
        <td>{{ responsavel.nome }}</td>
      </tr>
      <tr />
      {% endwith %}
    </table>
    {% endif %}
    <table>
      <tr>
        <th class="w-30">Data da autorização da Dieta</th>
        <th class="w-30">Data de término da dieta</th>
        <th class="w-30">Classificação da Dieta Especial</th>
      </tr>
      <tr>
        <td>{{ solicitacao.data_inicio|date:"SHORT_DATE_FORMAT"|default:'Sem data de início' }}</td>
        <td>{{ solicitacao.data_termino|date:"SHORT_DATE_FORMAT"|default:'Sem data de término' }}</td>
        <td>{{ solicitacao.classificacao }}</td>
      </tr>
    </table>
  </div>
  <h5>
    {{ solicitacao.nome_protocolo | upper }}
  </h5>
  <p><strong>1. Orientações Gerais</strong></p>
  <p>{{ solicitacao.orientacoes_gerais|safe }}</p>
  {% if data_termino %}
  <p>- Esta dieta especial terá seu fornecimento encerrado em {{ data_termino }}</p>
  {% endif %}
  <p><strong>2. Relação de Alimentos para Substituição</strong></p>
  <p>A empresa deverá compor o cardápio de acordo com a relação de alimentos substitutos.</p>
  <table class="table-dieta-especial">
    <thead>
      <tr>
        <th>Alimento</th>
        <th>Isenção/Substituição</th>
        <th>Alimento/Ingrediente</th>
      </tr>
    </thead>
    <tbody>
      {% for substituicao in substituicoes %}
      <tr>
        <td>{{ substituicao.alimento }}</td>
        <td className="tipo">
          {% if substituicao.tipo == 'I' %}
          Isento
          {% elif substituicao.tipo == 'S' %}
          Substituir
          {% endif %}
        </td>
        <td>
          {{ substituicao.alimentos_substitutos.all|join:", " }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if solicitacao.informacoes_adicionais %}
  <p><strong>3. Informações Adicionais</strong></p>
  <div class="protocolo-dieta-informacoes-adicionais">
    {{ solicitacao.informacoes_adicionais|safe }}
  </div>
  <p><strong>4. Termo de Ciência do Responsável</strong></p>
  <p>
    Solicitamos os préstimos para que este Protocolo seja apresentado aos responsáveis pelo aluno, para ciência.
    Este Protocolo assinado pelo responsável deverá permanecer no arquivo da UE, anexado ao laudo médico.
    <strong class="sublinhado">Não</strong> há necessidade de encaminhar cópia desse Protocolo assinado a CODAE.
  </p>
  <p class="campo-usuario">Nome do Responsável: ________________________________________________________________________</p>
  <p class="campo-usuario">Assinatura do Responsável: ___________________________________________________________________</p>
  <p class="campo-usuario">Data: ________/________/________</p>
  {% endif %}
</div>
{% endblock %}
