{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load sass_tags %}
{% load static %}

{% block conteudo %}
  <link rel="stylesheet" href="{% sass_src 'css/dieta_especial_protocolo.scss' %}" type="text/css">
  <div class="conteudo dieta-especial-protocolo">
    <div  class="tabela-dados-solicitacao">
      <table>
        <thead>
        <tr>
          <th class="th-eol">Cód. EOL do Aluno</th>
          <th class="th-nome">Nome Completo do Aluno</th>
          <th class="th-nasc">Data de Nascimento</th>
          <th class="th-aceite">Data de aceite do laudo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ solicitacao.aluno.codigo_eol }}</td>
          <td>{{ solicitacao.aluno.nome }}</td>
          <td>{{ solicitacao.aluno.data_nascimento|date:"SHORT_DATE_FORMAT" }}</td>
          <td>{{ log_autorizacao.criado_em|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <h5>
      {{ solicitacao.nome_protocolo | upper }}
    </h5>
    <p><strong>1. Orientações</strong></p>
    <p>O Diretor da U.E. e a Empresa devem verificar:</p>
    <p>- Substituição de{{" "}}
      {% for substituicao in solicitacao.substituicoes %}
        {{ substituicao.alimento }}{{ ", " }}
      {% endfor %}
      bem como preparações contendo estes alimentos.</p>
    <p>- É importante observar sempre os rótulos dos alimentos, tendo em vista que a composição do produto pode ser alterada pela empresa fabricante a qualquer tempo.</p>
    <p>- A Unidade Educacional deverá acompanhar se o cardápio publicado está de acordo com a relação de alimentos substitutos a seguir levando em consideração os alimentos recebidos pela unidade de acordo com a faixa etária. Em caso de dúvida, solicitar auxílio ao Nutricionista RT e ao Nutricionista Supervisor.</p>
    <p><strong>2. Relação de Alimentos para Substituição</strong></p>
    <p>A empresa deverá compor o cardápio de acordo com a relação de alimentos substitutos.</p>
    <table class="table-dieta-especial">
      <thead>
        <tr>
          <th>Alimento</th>
          <th>Substituto</th>
        </tr>
      </thead>
      <tbody>
        {% for substituicao in solicitacao.substituicoes %}
          <tr>
            <td>{{ substituicao.alimento }}</td>
            <td>
              {% for substituto in substituicao.substitutos.all %}
                {{ substituto.nome }}
                {% if not forloop.first %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if solicitacao.informacoes_adicionais %}
      <p><strong>3. Informações Adicionais</strong></p>
      <div class="protocolo-dieta-informacoes-adicionais">
        {{ solicitacao.informacoes_adicionais|safe }}
      </div>
    {% endif %}
    <p class="rodape">*A fim de evitar a monotonia dos cardápios das dietas especiais e considerando a disponibilidade dos alimentos no mercado, os alimentos substitutos para dietas especiais deverão acompanhar a variação dos sabores conforme os indicados nos cardápios publicados, destinados aos demais alunos da rede terceirizada. Neste mesmo sentido, também deverão ser alternadas as opções de subsituição de cada alimento.</p>
  </div>
{% endblock %}
