{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
  <div class="conteudo tabela-sem-borda">
    {% include "bloco_fluxo_de_status.html" %}
    {% include "bloco_cabecalho_solicitacao_partindo_escola.html" %}
    <table class='info-geral-inclusao'>
      <tr>
        <th>Motivo</th>
        <th>Data</th>
        <th>Período</th>
      </tr>
      <tr>
        <td>{{ solicitacao.motivo.nome }}</td>
        <td>{{ solicitacao.data }}</td>
        <td>{{ solicitacao.periodo_escolar }}</td>
      </tr>
    </table>
    <div class="tabela-sem-borda">
      <table class="">
        <thead>
          <tr>
            <th>Faixa</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
        {% for faixa_etaria  in solicitacao.quantidade_alunos_da_inclusao.all %}
          <tr>
            <td>{{ faixa_etaria.faixa_etaria }}</td>
            <td>{{ faixa_etaria.quantidade_alunos }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
      {% include "bloco_observacoes.html" %}
      {% include "bloco_historico_questionamento.html" %}
      {% if not solicitacao|inclusao_multiplos_cancelamentos %}
        {% include "bloco_historico_cancelamento.html" %}
      {% endif %}
  </div>
{% endblock %}
