{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}

<div class="row mx-4 my-2">
  {% if solicitacao.prioridade == "LIMITE" %}
    <div class="col-12" style="color: #42474A; font-weight: 700; font-size: 14px">Solicitação no prazo limite</div>
  {% elif solicitacao.prioridade == "REGULAR" %}
    <div class="col-12" style="color: #42474A; font-weight: 700; font-size: 14px">Solicitação no prazo regular</div>
  {% endif %}
  <div class="col-12 my-3" style="color: #42474A; font-weight: 700; font-size: 14px; text-align: center">Relatório SIGPAE - Alteração do tipo de Alimentação</div>
</div>

<div class="row mx-5 my-2" style="font-weight: 400; font-size: 14px; color: #42474A;">
  <div class="col-4" style="padding: 1%; font-family: 'Roboto'; font-style: normal; font-weight: 700; background: #F3F3F3; border: 1px solid #E3E6F0; border-radius: 4px; text-align: center; color: #42474A;">
    <p style="font-size: 24px; margin: 0;"># {{ solicitacao.id_externo }}</p>
    <p style="font-size: 14px; margin: 0;">Nº DA SOLICITAÇÃO</p>
  </div>
  <div class="col-6">
    <p>Escola Solicitante:</p>
    <p><b>{{ escola.nome }}</b></p>
  </div>
  <div class="col-2">
    <p>EOL:</p>
    <p><b>{{ escola.codigo_eol }}</b></p>
  </div>
  <div class="col-3">
    <p>DRE:</p>
    <p><b>{{ escola.diretoria_regional.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Lote:</p>
    <p><b>{{ escola.lote.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Tipo de Gestão:</p>
    <p><b>{{ escola.tipo_gestao.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Empresa:</p>
    <p><b>{{ escola.lote.terceirizada.nome }}</b></p>
  </div>
</div>

<div class="row mx-4 my-2">
  <div class="col-12">
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
</div>

{% include "bloco_fluxo_de_status.html" %}

<div class="row mx-4 my-2">
  <div class="col-12">
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
</div>

<div class="row mx-5 my-2" style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; color: #42474A;">
  <div class="col-12">
    <p class="my-0"><b>Solicitação de Alteração</b></p>
  </div>
  <div class="col-6">
    <p>Tipo de Alteração:</p>
    {{motivo}}
  </div>
  <div class="col-3">
    <p>Alterar de:</p>
    {{data_de}}
  </div>
  {% if data_ate is not None %}
    <div class="col-3">
      <p> Até o dia:</p>
      {{data_ate}}
    </div>
  {% endif %}
</div>

<div class="row mx-4 my-2">
  <div class="col-12">
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
</div>
{% for periodo_cei in periodos_cei %}
  <div class="row mx-5 my-2">
    <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
      {{ periodo_cei.nome }}
    </div>
  </div>
  <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
    <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
      Alunos CEI
    </div>
  </div>
  <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
    <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
      Alteração do tipo de Alimentação de: <b>{{ periodo_cei.tipos_alimentacao_de }}</b>
    </div>
    <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
      Para o tipo de alimentação: <b>{{ periodo_cei.tipos_alimentacao_para }}</b>
    </div>
  </div>
  <div class="mx-5" style="padding: 0px 0px 0px 3%;">
    <table class="table table-bordered">
      <thead>
        <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
          <th>Faixa Etária</th>
          <th style="text-align: center">Alunos Matriculados</th>
          <th style="text-align: center">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        {% for faixa in periodo_cei.faixas_etarias %}
          <tr style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; color: #333333;">
            <td>{{ faixa.faixa_etaria }}</td>
            <td style="text-align: center">{{ faixa.matriculados_quando_criado }}</td>
            <td style="text-align: center">{{ faixa.quantidade_alunos }}</td>
          </tr>
        {% endfor %}
        <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
          <td>Total</td>
          <td style="text-align: center">{{ periodo_cei.total_matriculados }}</td>
          <td style="text-align: center">{{ periodo_cei.total_solicitacao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% for periodo_emei in periodos_emei %}
    {% if periodo_emei.nome == periodo_cei.nome %}
      <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
        <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
          Alunos EMEI
        </div>
      </div>
      <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
        <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
          Alteração do tipo de Alimentação de: <b>{{ periodo_emei.tipos_alimentacao_de }}</b>
        </div>
        <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
          Para o tipo de alimentação: <b>{{ periodo_emei.tipos_alimentacao_para }}</b>
        </div>
      </div>
      <div class="mx-5" style="padding: 0px 0px 0px 3%;">
        <table class="table table-bordered">
          <thead>
            <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
              <th>Alunos Matriculados: {{ periodo_emei.total_matriculados }}</th>
              <th>Quantidade: {{ periodo_emei.total_solicitacao }}</th>
            </tr>
          </thead>
        </table>
      </div>
    {% endif %}
  {% endfor %}
<br/>
{% endfor %}

{% for periodo_emei in periodos_emei %}
  {% if periodos_cei|length == 0 %}
    <div class="row mx-5 my-2">
      <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
        {{ periodo_emei.nome }}
      </div>
    </div>
    <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
      <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
        Alunos EMEI
      </div>
    </div>
    <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
      <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
        Alteração do tipo de Alimentação de: <b>{{ periodo_emei.tipos_alimentacao_de }}</b>
      </div>
      <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
        Para o tipo de alimentação: <b>{{ periodo_emei.tipos_alimentacao_para }}</b>
      </div>
    </div>
    <div class="mx-5" style="padding: 0px 0px 0px 3%;">
      <table class="table table-bordered">
        <thead>
          <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
            <th>Alunos Matriculados: {{ periodo_emei.total_matriculados }}</th>
            <th>Quantidade: {{ periodo_emei.total_solicitacao }}</th>
          </tr>
        </thead>
      </table>
    </div>
  {% else %}
    {% for perioco_cei in periodos_cei %}
      {% if perioco_cei.nome != periodo_emei.nome %}
        <div class="row mx-5 my-2">
          <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
            {{ periodo_emei.nome }}
          </div>
        </div>
        <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
          <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
            Alunos EMEI
          </div>
        </div>
        <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
          <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
            Alteração do tipo de Alimentação de: <b>{{ periodo_emei.tipos_alimentacao_de }}</b>
          </div>
          <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
            Para o tipo de alimentação: <b>{{ periodo_emei.tipos_alimentacao_para }}</b>
          </div>
        </div>
        <div class="mx-5" style="padding: 0px 0px 0px 3%;">
          <table class="table table-bordered">
            <thead>
              <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
                <th>Alunos Matriculados: {{ periodo_emei.total_matriculados }}</th>
                <th>Quantidade: {{ periodo_emei.total_solicitacao }}</th>
              </tr>
            </thead>
          </table>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
<br/>
{% endfor %}

{% if solicitacao.logs.all|tem_cancelamento or solicitacao.logs.all|tem_questionamentos or solicitacao.observacao %}
  <div class="row mx-4 my-2">
    <div class="col-12">
      <hr style="color: #EEEEEE; opacity: 0.3">
    </div>
  </div>

  <div class="row mx-5" style="font-size: 14px;">
    {% include "bloco_observacoes.html" %}
  </div>
  <div class="row mx-5" style="font-size: 14px;">
    {% include "bloco_historico_questionamento_com_data.html" %}
  </div>
  <div class="row mx-5" style="font-size: 14px;">
    {% include "bloco_historico_cancelamento.html" %}
  </div>
{% endif %}
{% endblock %}
