{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
<div class="conteudo tabela-sem-borda kit-lanche-cemei">

  {% include "bloco_cabecalho_solicitacao_partindo_escola.html" %}
  {% include "bloco_fluxo_de_status.html" %}
  <div>
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
  <p>Solicitação de Kit Lanche Passeio</p>
  <div class="motivo-local">
    <div class="id-pedido" style="margin-bottom: 0.3em">
      <div class="info info-motivo-local " style="margin-right: 3em">
        <div>Data</div>
        <div>{{ solicitacao.data|date:"d/m/Y" }}</div>
      </div>
      <div class="info info-motivo-local">
        <div>Local do passeio</div>
        <div>{{ solicitacao.local }}</div>
      </div>
    </div>
  </div>
  {% if tem_solicitacao_cei %}
    <div class="alunos-label">
      Alunos CEI
    </div>
    <div class="dados-comuns mt-3">
      <div>Número de alunos: <strong>{{ solicitacao.solicitacao_cei.quantidade_alunos }}</strong></div>
      <div class="row mt-3">
        <div class="col-6">
          Tempo previsto de passeio: <strong>{{ tempo_passeio_cei }}</strong>
        </div>
        <div class="col-6">
          Opção(ões) desejada(s): <strong>{{ solicitacao.solicitacao_cei.nomes_kits }}</strong>
        </div>
      </div>
    </div>
    <section class="tabela-faixa-etaria-cei mt-3">
      <article class="row">
        <div class="col-6">Faixa etária</div>
        <div class="col-3">Alunos matriculados</div>
        <div class="col-3">Quantidade</div>
      </article>
      {% for faixa in solicitacao.solicitacao_cei.faixas_quantidades.all %}
        <article class="row">
          <div class="faixa-etaria col-6">
            {{ faixa.faixa_etaria }}
          </div>
          <div class="alunos-matriculados col-3">
            {{ faixa.matriculados_quando_criado }}
          </div>
          <div class="quantidade col-3">{{ faixa.quantidade_alunos }}</div>
        </article>
      {% endfor %}
      <article class="row">
        <div class="faixa-etaria col-6">
          Total
        </div>
        <div class="alunos-matriculados col-3">
          {{ solicitacao.solicitacao_cei.quantidade_matriculados }}
        </div>
        <div class="quantidade col-3">{{ solicitacao.solicitacao_cei.quantidade_alunos }}</div>
      </article>
    </section>
    {% if solicitacao.solicitacao_cei.tem_alunos_com_dieta %}
      <h3>Alunos com dieta especial</h3>
      <div class="tabela-sem-borda">
        <table>
          <thead>
            <tr>
              <th>Código EOL</th>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            {% for aluno in solicitacao.solicitacao_cei.alunos_com_dieta_especial_participantes.all %}
              <tr>
                <td>{{ aluno.codigo_eol }}</td>
                <td>{{ aluno.nome }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endif %}
  {% include "bloco_observacoes.html" %}
  {% include "bloco_historico_questionamento.html" %}
  {% include "bloco_historico_cancelamento.html" %}
</div>


{% endblock %}
