{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
<div class="row mx-4 my-2">
  {% if solicitacao.prioridade == "LIMITE" %}
    <div class="col-12" style="color: #42474A; font-weight: 700; font-size: 14px">Solicitação no prazo limite</div>
  {% elif solicitacao.prioridade == "REGULAR" %}
    <div class="col-12" style="color: #42474A; font-weight: 700; font-size: 14px">Solicitação no prazo regular</div>
  {% endif %}
  <div class="col-12 my-3" style="color: #42474A; font-weight: 700; font-size: 14px; text-align: center">Relatório SIGPAE - Inversão de dia de Cardápio</div>
</div>

<div class="row mx-5 my-2" style="font-weight: 400; font-size: 14px; color: #42474A;">
  <div class="col-4" style="padding: 1%; font-family: 'Roboto'; font-style: normal; font-weight: 700; background: #F3F3F3; border: 1px solid #E3E6F0; border-radius: 4px; text-align: center; color: #42474A;">
    <p style="font-size: 24px; margin: 0;"># {{ solicitacao.id_externo }}</p>
    <p style="font-size: 14px; margin: 0;">Nº DA SOLICITAÇÃO</p>
  </div>
  <div class="col-6">
    <p>Escola Solicitante:</p>
    <p><b>{{ escola.nome }}</b></p>
  </div>
  <div class="col-2">
    <p>EOL:</p>
    <p><b>{{ escola.codigo_eol }}</b></p>
  </div>
  <div class="col-3">
    <p>DRE:</p>
    <p><b>{{ escola.diretoria_regional.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Lote:</p>
    <p><b>{{ escola.lote.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Tipo de Gestão:</p>
    <p><b>{{ escola.tipo_gestao.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Empresa:</p>
    <p><b>{{ escola.lote.terceirizada.nome }}</b></p>
  </div>
</div>
<div class="conteudo tabela-sem-borda">
  {% include "bloco_fluxo_de_status.html" %}
  <div>
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>

  <div class="tabela-sem-borda">
    {% if solicitacao.tipos_alimentacao.all|length > 0 %}
    <div class="observacoes">
      <div>
        <p class="cabecalho">Tipos de alimentação para inversão:</p>
        <p class="resultado">{{ solicitacao.tipos_alimentacao.all|concatena_str }}</p>
      </div>
    </div>
    {% endif %}

    <div>
      <table class="thead-black">
        <thead>
        <tr>
          <td>Data de inversão</td>
          <td></td>
          <td>Referência:</td>
          <td>Aplicar em:</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>{{ data_de|date:"d/m/Y" }}</td>
          <td>{{ data_para|date:"d/m/Y" }}</td>
          <td></td>
        </tr>
        {% if solicitacao.data_de_inversao_2 %}
        <tr>
          <td></td>
          <td></td>
          <td>{{ solicitacao.data_de_inversao_2|date:"d/m/Y" }}</td>
          <td>{{ solicitacao.data_para_inversao_2|date:"d/m/Y" }}</td>
          <td></td>
        </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
    <div class="observacoes">
      <div>
        <p class="cabecalho">Motivo:</p>
        <p class="resultado">{{ solicitacao.motivo | safe }}</p>
      </div>
    </div>
    {% include "bloco_observacoes.html" %}
    {% include "bloco_historico_questionamento.html" %}
    {% include "bloco_historico_cancelamento.html" %}
  </div>
  {% endblock %}

