{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
<div class="row mx-4 my-2">
  {% if solicitacao.prioridade == "LIMITE" %}
    <div class="col-12" style="color: #42474A; font-weight: 700; font-size: 14px">Solicitação no prazo limite</div>
  {% elif solicitacao.prioridade == "REGULAR" %}
    <div class="col-12" style="color: #42474A; font-weight: 700; font-size: 14px">Solicitação no prazo regular</div>
  {% endif %}
  <div class="col-12 my-3" style="color: #42474A; font-weight: 700; font-size: 14px; text-align: center">Relatório SIGPAE - Inclusão de Alimentação</div>
</div>

<div class="row mx-5 my-2" style="font-weight: 400; font-size: 14px; color: #42474A;">
  <div class="col-4" style="padding: 1%; font-family: 'Roboto'; font-style: normal; font-weight: 700; background: #F3F3F3; border: 1px solid #E3E6F0; border-radius: 4px; text-align: center; color: #42474A;">
    <p style="font-size: 24px; margin: 0;"># {{ solicitacao.id_externo }}</p>
    <p style="font-size: 14px; margin: 0;">Nº DA SOLICITAÇÃO</p>
  </div>
  <div class="col-6">
    <p>Escola Solicitante:</p>
    <p><b>{{ escola.nome }}</b></p>
  </div>
  <div class="col-2">
    <p>EOL:</p>
    <p><b>{{ escola.codigo_eol }}</b></p>
  </div>
  <div class="col-3">
    <p>DRE:</p>
    <p><b>{{ escola.diretoria_regional.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Lote:</p>
    <p><b>{{ escola.lote.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Tipo de Gestão:</p>
    <p><b>{{ escola.tipo_gestao.nome }}</b></p>
  </div>
  <div class="col-3">
    <p>Empresa:</p>
    <p><b>{{ escola.lote.terceirizada.nome }}</b></p>
  </div>
</div>

<div class="row mx-4 my-2">
  <div class="col-12">
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
</div>

{% include "bloco_fluxo_de_status.html" %}

<div class="row mx-4 my-2">
  <div class="col-12">
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
</div>

<div class="row mx-5 my-2" style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; color: #42474A;">
  <div class="col-12">
    <p class="my-0"><b>Solicitação de Alimentação</b></p>
  </div>
  <div class="col-4">
    <p>Motivo:</p>
  </div>
  <div class="col-4">
    <p>Dia(s) de inclusão:</p>
  </div>
  {% if solicitacao|existe_inclusao_cancelada or solicitacao.status == 'ESCOLA_CANCELOU' %}
  <div class="col-4">
    <p>justificativa(s) de cancelamento:</p>
  </div>
  {% endif %}
</div>
<div class="row mx-5 my-2" style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; color: #42474A;">
  {% for dia_motivo in solicitacao.dias_motivos_da_inclusao_cemei.all %}
    <div class="col-4">
      {% if dia_motivo.cancelado_justificativa %}
        <p style="color: #a8a8a8; text-decoration: line-through;"><b>{{dia_motivo.motivo.nome}}</b></p>
      {% else %}
        <p><b>{{ dia_motivo.motivo.nome }}</b></p>
      {% endif %}
    </div>
    <div class="col-4">
      {% if dia_motivo.cancelado_justificativa %}
        <p style="color: #a8a8a8; text-decoration: line-through;"><b>{{dia_motivo.data}}</b></p>
      {% else %}
        <p><b>{{ dia_motivo.data }}</b></p>
      {% endif %}
    </div>
    {% if dia_motivo.cancelado_justificativa or solicitacao.status == 'ESCOLA_CANCELOU' %}
      <div class="col-4">
        <p><b>{{dia_motivo.cancelado_justificativa}}</b></p>
      </div>
    {% else %}
      <div class="col-4">
      </div>
    {% endif %}
    {% if eh_evento_especifico %}
      <div class="col-12">
        <p>Descrição do Evento:</p>
      </div>
      <div class="col-12">
        <p style="text-align: justify;"><b>{{dia_motivo.descricao_evento}}</b></p>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% for periodo_cei in periodos_cei %}
  <div class="row mx-5 my-2">
    <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
      {{ periodo_cei.nome }}
    </div>
  </div>
  <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
    <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
      Alunos CEI
    </div>
  </div>
  <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
    <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
      Tipos de Inclusão de Alimentação: <b>{{ periodo_cei.tipos_alimentacao }}</b>
    </div>
  </div>
  <div class="mx-5" style="padding: 0px 0px 0px 3%;">
    <table class="table table-bordered">
      <thead>
        <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
          <th>Faixa Etária</th>
          <th style="text-align: center">Alunos Matriculados</th>
          <th style="text-align: center">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        {% for faixa in periodo_cei.faixas_etarias %}
          <tr style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; color: #333333;">
            <td>{{ faixa.faixa_etaria }}</td>
            <td style="text-align: center">{{ faixa.matriculados_quando_criado }}</td>
            <td style="text-align: center">{{ faixa.quantidade_alunos }}</td>
          </tr>
        {% endfor %}
        <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
          <td>Total</td>
          <td style="text-align: center">{{ periodo_cei.total_matriculados }}</td>
          <td style="text-align: center">{{ periodo_cei.total_solicitacao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% for periodo_emei in periodos_emei %}
    {% if periodo_emei.nome == periodo_cei.nome %}
      <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
        <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
          Alunos EMEI
        </div>
      </div>
      <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
        <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
          Tipos de Inclusão de Alimentação: <b>{{ periodo_emei.tipos_alimentacao }}</b>
        </div>
      </div>
      <div class="mx-5" style="padding: 0px 0px 0px 3%;">
        <table class="table table-bordered">
          <thead>
            <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
              <th>Alunos Matriculados: {{ periodo_emei.total_matriculados }}</th>
              <th>Quantidade: {{ periodo_emei.total_solicitacao }}</th>
            </tr>
          </thead>
        </table>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}

{% for periodo_emei in periodos_emei %}
  {% if periodo_emei.nome not in periodos_escolares_cei %}
    <div class="row mx-5 my-2">
      <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
        {{ periodo_emei.nome }}
      </div>
    </div>
    <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
      <div class="col-12" style="background: #F1F1F1; border: 1px solid #E0E0E0; border-radius: 6px; font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 14px; padding-top: 1%; padding-bottom: 1% ; color: #333333;">
        Alunos EMEI
      </div>
    </div>
    <div class="row mx-5" style="padding: 0px 0px 0px 3%;">
      <div class="col-12 my-3" style="font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; color: #686868;">
        Tipos de Inclusão de Alimentação: <b>{{ periodo_emei.tipos_alimentacao }}</b>
      </div>
    </div>
    <div class="mx-5" style="padding: 0px 0px 0px 3%;">
      <table class="table table-bordered">
        <thead>
          <tr style="background: #F5F6F8; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 14px; color: #42474A;">
            {% if eh_evento_especifico %}
              <th>Quantidade: {{ periodo_emei.total_solicitacao }}</th>
            {% else %}
              <th>Alunos Matriculados: {{ periodo_emei.total_matriculados }}</th>
              <th>Quantidade: {{ periodo_emei.total_solicitacao }}</th>
            {% endif %}
          </tr>
        </thead>
      </table>
    </div>
  {% endif %}
{% endfor %}

{% if solicitacao|existe_inclusao_cancelada %}
  <div class="row mx-4 my-1">
    <div class="col-12">
      <hr style="color: #EEEEEE; opacity: 0.3">
    </div>
  </div>
  <div class="row mx-5 my-1" style="font-family: 'Roboto'; font-style: normal; font-size: 14px;">
    <div>
      <div>
        <p>Histórico de cancelamento:</p>
      </div>
      {% for dia in solicitacao.dias_motivos_da_inclusao_cemei.all %}
        {% if dia.cancelado_justificativa %}
          <div>
            {{ dia.data }} - justificativa: {{ dia.cancelado_justificativa }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if solicitacao.observacao or solicitacao.descricao or solicitacao.logs.all|tem_cancelamento or solicitacao.logs.all|tem_questionamentos %}
  <div class="row mx-4 my-1">
    <div class="col-12">
      <hr style="color: #EEEEEE; opacity: 0.3">
    </div>
  </div>
  <div class="row mx-5">
    {% include "bloco_observacoes.html" %}
  </div>
  <div class="row mx-5">
    {% if solicitacao.status == 'ESCOLA_CANCELOU' %}
      {% include "bloco_historico_cancelamento.html" %}
    {% endif %}
  </div>
  <div class="row mx-5" style="font-size: 14px;">
    <div class="conteudo">
      {% include "bloco_historico_questionamento_com_data.html" %}
    </div>
  </div>
{% endif %}

<div class="row mx-3">
  <div class="conteudo">
    {% include "bloco_observacao_codae_autoriza.html" %}
  </div>
</div>

{% endblock %}
