{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
<div class="conteudo tabela-sem-borda">

  {% include "bloco_cabecalho_solicitacao_partindo_escola.html" %}
  {% include "bloco_fluxo_de_status.html" %}
  <div>
    <hr style="color: #EEEEEE; opacity: 0.3">
  </div>
  <div class="motivo-local">
    <div class="id-pedido" style="margin-bottom: 0.3em">
      <div class="info info-motivo-local " style="margin-right: 3em">
        <div>Data</div>
        <div>{{ solicitacao.data|date:"d/m/Y" }}</div>
      </div>
      <div class="info info-motivo-local">
        <div>Local do passeio</div>
        <div>{{ solicitacao.local }}</div>
      </div>
      <div class="info info-motivo-local ml-5">
        <div>Evento/Passeio</div>
        <div>{{ solicitacao.evento|default:"- -" }}</div>
      </div>
    </div>
  </div>

  <div class="tabela-sem-borda">
    <table class="thead-black">
      <thead>
      <tr>
        <td style="width: 8em">Nº de Alunos</td>
        <td>Tempo previsto de passeio</td>
        <td>Opção desejada</td>
        <td>Nº Total de Kits</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ solicitacao.quantidade_alunos }}</td>
        <td>{{ tempo_passeio }}</td>
        <td>{{ solicitacao.solicitacao_kit_lanche.kits.all |join:", " }}</td>
        <td>{{ quantidade_kits }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  {% if solicitacao.alunos_com_dieta_especial_participantes.all %}
    <h3>Alunos com dieta especial</h3>
    <div class="tabela-sem-borda">
      <table>
        <thead>
          <tr>
            <th>Código EOL</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          {% for aluno in solicitacao.alunos_com_dieta_especial_participantes.all %}
            <tr>
              <td>{{ aluno.codigo_eol }}</td>
              <td>{{ aluno.nome }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  {% include "bloco_observacoes.html" %}
  {% include "bloco_historico_questionamento.html" %}
  {% include "bloco_historico_cancelamento.html" %}
  {% include "bloco_observacao_codae_autoriza.html" %}
</div>


{% endblock %}
