{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
  <div class="conteudo tabela-sem-borda">
      {% include "bloco_fluxo_de_status.html" %}
      {% include "bloco_cabecalho_solicitacao_partindo_escola.html" %}
    <table class='info-geral-inclusao'>
      <tr>
        <th>Motivo</th>
        <th>De</th>
        <th>Até</th>
      </tr>
      <tr>
        <td>{{ solicitacao.motivo.nome }}</td>
        <td>{{ solicitacao.data_inicial }}</td>
        <td>{{ solicitacao.data_final }}</td>
      </tr>
    </table>
    <div class="tabela-sem-borda">
      <table class="thead-black">
        <thead>
          <tr>
            {% if solicitacao.motivo.nome != 'ETEC'%}
              <th style="width: 30%">Repetir</th>
            {%endif%}
            <th>Período</th>
            <th>Tipos de Alimentação</th>
            <th>Nº de Alunos</th>
          </tr>
        </thead>
        <tbody>
        {% for quantidade_periodo in solicitacao.quantidades_por_periodo.all %}
          <tr class="sem-border-bottom {% if quantidade_periodo.cancelado or solicitacao.status == 'ESCOLA_CANCELOU' %} cancelado{% endif %}">
            {% if solicitacao.motivo.nome != 'ETEC'%}
              <td style="width: 30%" class="weekly">
                {% for key, value in week.items %}
                  {% if value in quantidade_periodo.dias_semana %}
                    <span class="week-circle-clicked">
                      {{ key.0 }}
                    </span>
                  {% else %}
                    <span class="week-circle">
                      {{ key.0 }}
                    </span>
                  {% endif %}
                {% endfor %}
              </td>
            {%endif%}
            <td>{{ quantidade_periodo.periodo_escolar }}</td>
            <td>{{ quantidade_periodo.tipos_alimentacao.all | concatena_label }}</td>
            <td>{{ quantidade_periodo.numero_alunos }}</td>
          </tr>
          <tr class="{% if quantidade_periodo.cancelado_justificativa or solicitacao.status == 'ESCOLA_CANCELOU' %}cancelado{% endif %}">
            <td colspan="2">
              <p>Observações:</p>
              <p>{{ quantidade_periodo.observacao | safe }}</p>
            </td>
            {% if quantidade_periodo.cancelado_justificativa or solicitacao.status == 'ESCOLA_CANCELOU' %}
              <td colspan="2" style="text-decoration: none">
                <p>Justificativa: {{ quantidade_periodo.cancelado_justificativa | safe }}</p>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
      {% include "bloco_observacoes.html" %}
      {% include "bloco_historico_questionamento_com_data.html" %}
      {% include "bloco_historico_cancelamento_inclusao.html" %}
      {% if solicitacao.status == 'ESCOLA_CANCELOU' %}
        {% include "bloco_historico_cancelamento.html" %}
      {% endif %}
      {% include "bloco_observacao_codae_autoriza.html" %}
  </div>
{% endblock %}
