{% extends 'cabecalho_rodape_solicitacao.html' %}
{% load index %}
{% load static %}
{% load sass_tags %}

{% block conteudo %}

  <style>
    span > p {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  </style>

  <div class="conteudo tabela-sem-borda">
  {% include "bloco_fluxo_status_homologacao.html" with eh_importado=solicitacao.eh_importado %}
    {% include "bloco_cabecalho_solicitacao_partindo_escola.html" %}
    <div class="bloco-pescritor-dieta-especial">
      <div class="row">
        <div class="col-2">
          {% if foto_aluno %}
          <img src={{ foto_aluno }} alt="foto aluno" />
        {% else %}
          <img src="{% static 'images/avatar.png' %}" alt="avatar aluno sem foto" />
        {% endif %}
        </div>
        <div class="col-10">
          <table>
            <tr>
              {% if solicitacao.tipo_solicitacao == 'ALUNO_NAO_MATRICULADO'%}
                <th class="w-25">CPF do Aluno</th>
              {%else%}
                <th class="w-25">Cód. EOL do Aluno</th>
              {%endif%}
            </tr>
            <tr>
              {% if solicitacao.tipo_solicitacao == 'ALUNO_NAO_MATRICULADO'%}
                <td>{{ solicitacao.aluno.cpf|default:'' }}</td>
              {%else%}
                <td>{{ solicitacao.aluno.codigo_eol }}</td>
              {%endif%}
            </tr>
            <tr>
              <th class="w-25">Nome completo do Aluno</th>
              <th class="w-25">Data de nascimento</th>
            </tr>
            <tr>
                <td>{{ solicitacao.aluno.nome }}</td>
                <td>{{ solicitacao.aluno.data_nascimento }}</td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
    </div>

    {% if solicitacao.tipo_solicitacao == 'ALUNO_NAO_MATRICULADO' %}
      <div class="bloco-pescritor-dieta-especial">
          <table>
            <tr>
              <th class="w-25">CPF do Responsável</th>
              <th class="w-75">Nome completo do Responsável</th>
              <th/>
            </tr>
          {%for responsavel in solicitacao.aluno.responsaveis.all %}
            <tr>
              <td>{{ responsavel.cpf|default:'' }}</td>
              <td>{{ responsavel.nome }}</td>
            </tr>
            <tr/>
          {% endfor %}
        </table>
          <hr/>
        </div>
    {% endif %}

    <div class="bloco-pescritor-dieta-especial">
      <table>
        {% if solicitacao.eh_importado == False %}
          <tr>
            <th class="w-50">Nome do Pescritor</th>
            <th class="w-50">Registro Funcional</th>
          </tr>
          <tr>
            <td>{{ solicitacao.nome_completo_pescritor }}</td>
            <td>{{ solicitacao.registro_funcional_pescritor }}</td>
          </tr>
        {% endif %}
      </table>

      {% if solicitacao.status != 'CODAE_A_AUTORIZAR' and solicitacao.status != 'CODAE_NEGOU_PEDIDO' and solicitacao.status != 'ESCOLA_CANCELOU' %}
        <hr />
         <table>
          <tr>
            <th class="w-50">
              Período de Vigência Autorização<br/>
              Data de início
            </th>
            <th class="w-50"><br/> Data de término</th>
          </tr>
          <tr>
            <td>{{ solicitacao.data_inicio|date:"SHORT_DATE_FORMAT"|default:'Sem data de início' }}</td>
            <td>{{ solicitacao.data_termino|date:"SHORT_DATE_FORMAT"|default:'Sem data de término' }}</td>
          </tr>
        </table>
      {% endif %}

      <hr>
      {% if solicitacao.observacoes %}
          <h5 style="margin: 0;">Observações</h5>
          <span>{{ solicitacao.observacoes|safe }}</span>
          <hr>
      {% endif %}

      {% if solicitacao.status == 'CODAE_NEGOU_PEDIDO' %}
        {% if solicitacao.motivo_negacao %}
          <h5 style="margin: 0;">Motivo da negação</h5>
          <p style="margin-top: 5px;">{{ solicitacao.motivo_negacao.descricao }}</p>
        {% endif %}
        {% if solicitacao.justificativa_negacao %}
          <h5 style="margin: 0;">Justificativa da negação</h5>
          <span>{{ solicitacao.justificativa_negacao|safe }}</span>
        {% endif %}
        <hr>
      {% endif %}

    {% if solicitacao.status != 'CODAE_A_AUTORIZAR' %}
      {% if solicitacao.motivo_alteracao_ue or solicitacao.observacoes_alteracao %}
        <table>
          <tr>
            {% if solicitacao.motivo_alteracao_ue%}
              <th class="w-50">Motivo da alteração</th>
            {% endif %}
            {% if solicitacao.observacoes_alteracao %}
              <th class="w-50">Observações da alteração</th>
            {% endif %}
          </tr>
          <tr>
            {% if solicitacao.motivo_alteracao_ue%}
              <td>{{ solicitacao.motivo_alteracao_ue.nome }}</td>
            {% endif %}
            {% if solicitacao.observacoes_alteracao %}
              <td>{{ solicitacao.observacoes_alteracao|striptags|safe|default:'' }}</td>
            {% endif %}
          </tr>
        </table>
        <hr/>
      {% endif %}
    {% endif %}

    </div>
    <div class="bloco-relacao-por-diagnostico">
        {% if solicitacao.alergias_intolerancias.exists %}
          <h5>Relação por diagnóstico</h5>
            {% for alergia in solicitacao.alergias_intolerancias.all %}
              <p>{{ alergia }}</p>
              <hr/>
            {% endfor %}
        {% endif %}
    </div>
    <div class="classificacao-dieta">
        {% if solicitacao.classificacao %}
          <h5>Classificação da Dieta</h5>
          <label>
            <i class="fa fa-fw fa-check-circle"></i>{{ solicitacao.classificacao.nome }}
          </label>
        {% endif %}
    </div>
    <div class="bloco-pescritor-dieta-especial">
        {% if solicitacao.alergias_intolerancias.all %}
          <h5>Protocolo da Dieta Especial</h5>
            {% for alergia in solicitacao.alergias_intolerancias.all %}
              <p style="text-transform: uppercase">{{ alergia.descricao }}</p>
            {% endfor %}
        {% endif %}
    </div>
   {% if solicitacao.escola.tipo_gestao.nome == 'MISTA' or solicitacao.escola.tipo_gestao.nome == 'PARCEIRA' or solicitacao.escola.tipo_gestao.nome == 'DIRETA' %}
      {% if solicitacao.status != 'CODAE_A_AUTORIZAR' %}
        <div class="bloco-identificacao-nutri tabela-sem-borda">
          <h5>Substituições</h5>
          <table>
            <thead>
              <tr>
                <th>Alimento</th>
                <th>Tipo</th>
                <th>Isenção/Substituição</th>
              </tr>
            </thead>
            <tbody>
              {% for substituicao in solicitacao.substituicoes %}
                <tr>
                  <td>{{ substituicao.alimento }}</td>
                  <td className="tipo">
                    {% if substituicao.tipo == 'I' %}
                      Isenção
                    {% elif substituicao.tipo == 'S' %}
                      Substituição
                    {% endif %}
                  </td>
                  <td>
                    {% if substituicao.substitutos.all %}
                      {{ substituicao.substitutos.all|join:", " }}
                    {% else %}
                      {{ substituicao.alimentos_substitutos.all|join:", " }}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
  {% endif %}
      {% if solicitacao.status != 'CODAE_A_AUTORIZAR' %}
        <div class="bloco-identificacao-nutri">
          <h5>Descrever características do alimento</h5>
          <div style="border-color: #686868; width: 100%">
            <p>{{ solicitacao.caracteristicas_do_alimento|safe }}</p>
          </div>
          <p style="color: red">Os Produtos (Alimentos) devem ser adquiridos utilizando a verba PTRF ou outro recurso disponível.</p>
        </div>
      {% endif %}
    <div class="bloco-identificacao-nutri">
        {% if solicitacao.registro_funcional_nutricionista %}
          <h5>Identificação do Nutricionista</h5>
          <div style="border-color: #686868; width: 100%">
            <p style="text-transform: uppercase">{{ solicitacao.display_nutricionista_with_registro_funcional }}</p>
          </div>
        {% endif %}
    </div>
    {% include "bloco_historico_questionamento.html" %}
  </div>
{% endblock %}
