{% extends 'cabecalho_rodape_solicitacao_partindo_dre.html' %}
{% load index %}
{% load static %}

{% block conteudo %}
  <div class="conteudo tabela-sem-borda">
      {% include "bloco_fluxo_de_status.html" %}
    <h5>Relatório SIGPAE - {{ solicitacao.DESCRICAO }}</h5>
    <div class="id-pedido">
      <div class="retangulo-id">
        # {{ solicitacao.id_externo }} <br/> <span>Nº DA SOLICITAÇÃO</span>
      </div>
      <div class="info">
        <div>Solicitante</div>
        <div>{{ solicitacao.diretoria_regional.nome }}</div>
      </div>
      <div class="info">
        <div>Lote</div>
        <div>{{ solicitacao.lote_nome|slice:"5:15" }}</div>
      </div>
    </div>
    <div>
      <hr style="color: #EEEEEE; opacity: 0.3">
    </div>
    <div class="motivo-local">
      <div class="id-pedido" style="margin-bottom: 0.3em">
        <div class="info info-motivo-local " style="margin-right: 3em">
          <div>Data</div>
          <div>{{ solicitacao.data|date:"d/m/Y" }}</div>
        </div>
        <div class="info info-motivo-local">
          <div>Local do passeio</div>
          <div>{{ solicitacao.local }}</div>
        </div>
      </div>
    </div>
    <div class="tabela-sem-borda">
      <table class="thead-black">
        <thead>
        <tr>
          <td>Código</td>
          <td>Unidade Escolar</td>
          <td style="width: 8em">Nº de Alunos padrão por UE</td>
          <td>Tempo de passeio</td>
          <td>Opção desejada</td>
          <td>Nº Total de Kits</td>
        </tr>
        </thead>
        <tbody>
        {% if solicitacao.lista_kit_lanche_igual %}
            {% for i in solicitacao.escolas_quantidades.all %}
              <tr>
                <td>{{ i.escola.codigo_eol }}</td>
                <td>{{ i.escola.nome }}</td>
                <td>{{ i.quantidade_alunos }}</td>
                <td>{{ solicitacao.solicitacao_kit_lanche.get_tempo_passeio_display }}</td>
                <td>{{ solicitacao.solicitacao_kit_lanche.kits.all |join:", " }}</td>
                <td>{% widthratio solicitacao.solicitacao_kit_lanche.kits.count 1 i.quantidade_alunos %}</td>
              </tr>
            {% endfor %}
        {% else %}
            {% for i in solicitacao.escolas_quantidades.all %}
              <tr>
                <td>{{ i.escola.codigo_eol }}</td>
                <td>{{ i.escola.nome }}</td>
                <td>{{ i.quantidade_alunos }}</td>
                <td>{{ i.get_tempo_passeio_display }}</td>
                <td>{{ i.kits.all |join:", " }}</td>
                <td>{% widthratio i.kits.count 1 i.quantidade_alunos %}</td>
              </tr>
            {% endfor %}
        {% endif %}

        </tbody>
      </table>
    </div>
    <div style="padding-top: 1em">
      <hr style="color: #EEEEEE; opacity: 0.3">
    </div>
    <div class="total-unidades-kits">
      <div>
        <p class="cabecalho">Nº total de Unidade Escolares beneficiadas</p>
        <p class="resultado">{{ qtd_escolas }} Unidade Escolares</p>
      </div>
      <div>
        <p class="cabecalho">Nº total de Kits</p>
        <p class="resultado">{{ solicitacao.total_kit_lanche }} kits</p>
      </div>
    </div>
      {% if solicitacao.solicitacao_kit_lanche.descricao.length > 0 %}
        <div style="color: #686868">
          <p>Observações</p>
          <p>
              {{ solicitacao.solicitacao_kit_lanche.descricao |safe }}
          </p>
        </div>
        </div>
      {% endif %}
    {% include "bloco_observacoes.html" %}
    {% include "bloco_historico_questionamento.html" %}
    {% include "bloco_historico_cancelamento.html" %}
{% endblock %}
