{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/sumario_totais.scss' %}" type="text/css">
</head>
<body>
  <h1>Relatório de terceirizadas - Solicitações por status</h1>
  <table class="tabela">
    <th>
      <td>xxxx</td>
    </th>
    <tr class="">
      <td colspan="2">Escola: 091847 ANGELO MARTINO EMEI</td>
      <td colspan="2">DRE: DRE IPIRANGA</td>
    </tr>
    <tr class="">
      <td>De: 05/02/2019</td>
      <td>Até: 05/02/2019</td>
      <td>Tipo de solicitação: Todos</td>
      <td>Status de solitação: Todos</td>
    </tr>
  </table>
</body>
</html>
