{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/sumario_totais.scss' %}" type="text/css">
</head>
<body>
<table>
  <caption>Relatório de terceirizadas - Solicitações por status</caption>
  <thead>
  <tr>
    <td>Solicitações</td>
    <td>Nº Pedidos</td>
    <td>%</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Autorizadas</td>
    <td>700</td>
    <td>XXXX</td>
  </tr>
  <tr>
    <td>Negadas</td>
    <td>700</td>
    <td>XXXX</td>
  </tr>
  <tr>
    <td>Pendentes</td>
    <td>700</td>
    <td>XXXX</td>
  </tr>
  <tr>
    <td>Canceladsa</td>
    <td>700</td>
    <td>XXXX</td>
  </tr>
  <tr>
    <td>TOTAL:</td>
    <td>XXX Pedidos</td>
    <td>+ 36%</td>
  </tr>
  </tbody>
</table>
</body>
</html>
