<table class="tabela-cabecalho tabela-arredondada">
  {% if filtros.data_inicial or filtros.data_final %}
    <tr>
      {% if filtros.data_inicial and filtros.data_final %}
        <td rowspan="2">PERÍODO PESQUISADO:</td>
        <td>De: {{ filtros.data_inicial|date:"d/m/Y" }}</td>
      {% else %}
        <td>PERÍODO PESQUISADO:</td>
        {% if filtros.data_inicial %}
          <td>A partir de: {{ filtros.data_inicial|date:"d/m/Y" }}</td>
        {% elif filtros.data_final %}
          <td>Antes de e até: {{ filtros.data_final|date:"d/m/Y" }}</td>
        {% endif %}
      {% endif %}
    </tr>
    {% if filtros.data_inicial and filtros.data_final %}
      <tr>
        <td>Até: {{ filtros.data_final|date:"d/m/Y" }}</td>
      </tr>
    {% endif %}
  {% endif %}
  {% if user.tipo_usuario == 'diretoriaregional' %}
    <tr>
      <td>DIRETORIA REGIONAL:</td>
      <td>
        {% for dre in filtros.dre %}
          {{dre.nome}}
        {% endfor %}
      </td>
    </tr>
  {% endif %}
  {% if user.tipo_usuario == 'escola' %}
    <tr>
      <td>ESCOLA:</td>
      <td>
        {% for escola in filtros.escola %}
          {{escola.nome}}
        {% endfor %}
      </td>
    </tr>
  {% endif %}
  {% if filtros.status %}
    <tr>
      <td colspan="2">Status: {{ filtros.status }}</td>
    </tr>
  {% endif %}
</table>
