<html>
<head>
  <link rel="stylesheet"
        href="/home/marcelo/git/SME-Terceirizadas/sme_terceirizadas/relatorios/static/css/kit_lanche_unificado.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>Relatório SIGPAE - Solicitações por status</h1>
<div class="flex">
  <div class="bloco-nro-pedido">
    <div class="fonte-1-card">12083 - 7A IP I</div>
    <div class="fonte-2-card">Nº PEDIDO: XXX</div>
  </div>
  <div class="">
    <div class="fonte-cinza-1">Informação automática disponibilizada no Cadastro da Unidade Escolar</div>
    <div>
      <div>
        <label class="fonte-cinza-2">Solicitante</label>
        <label>DRE IPIRANGA</label>
      </div>
      <div>
        <label class="fonte-cinza-2">Lote</label>
        <label>7A IPI</label>
      </div>
    </div>
  </div>
</div>

</body>
</html>
